# Proyek Analisis Data: Air Quality
- **Nama:** Aini Azzah
- **Email:** ainiazzah22@gmail.com
- **ID Dicoding:** Aini Azzah

## Menentukan Pertanyaan Bisnis

- Bagaimana pola temporal dan spasial polutan udara (PM2.5, PM10, SO2, NO2, CO, O3) di berbagai stasiun pemantauan?
- Apakah terdapat perbedaan signifikan dalam tingkat polusi udara antara weekdays (hari kerja) dan weekends (akhir pekan) atau antar musim?
- Bagaimana pengaruh arah dan kecepatan angin terhadap penyebaran polutan udara?
- Apa hubungan antara faktor meteorologi (TEMP, PRES, DEWP, RAIN, wd, WSPM) dengan konsentrasi polutan udara?
- Dapatkah kita mengelompokkan hari-hari berdasarkan tingkat kualitas udara, dan apa karakteristik dari setiap kelompok tersebut?

## Import Semua Packages/Library yang Digunakan

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [2]:
Aotizhongxin_df = pd.read_csv('data-airQuality/Data_Aotizhongxin.csv')
print("Aotizhongxin Station Data")
print(Aotizhongxin_df.head())

Aotizhongxin Station Data
   No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    4.0   4.0   4.0   7.0  300.0  77.0  -0.7
1   2  2013      3    1     1    8.0   8.0   4.0   7.0  300.0  77.0  -1.1
2   3  2013      3    1     2    7.0   7.0   5.0  10.0  300.0  73.0  -1.1
3   4  2013      3    1     3    6.0   6.0  11.0  11.0  300.0  72.0  -1.4
4   5  2013      3    1     4    3.0   3.0  12.0  12.0  300.0  72.0  -2.0

     PRES  DEWP  RAIN   wd  WSPM       station
0  1023.0 -18.8   0.0  NNW   4.4  Aotizhongxin
1  1023.2 -18.2   0.0    N   4.7  Aotizhongxin
2  1023.5 -18.2   0.0  NNW   5.6  Aotizhongxin
3  1024.5 -19.4   0.0   NW   3.1  Aotizhongxin
4  1025.2 -19.5   0.0    N   2.0  Aotizhongxin

In [3]:
Changping_df = pd.read_csv('data-airQuality/Data_Changping.csv')
print("Changping Station Data")
print(Changping_df.head())

Changping Station Data
   No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    3.0   6.0  13.0   7.0  300.0  85.0  -2.3
1   2  2013      3    1     1    3.0   3.0   6.0   6.0  300.0  85.0  -2.5
2   3  2013      3    1     2    3.0   3.0  22.0  13.0  400.0  74.0  -3.0
3   4  2013      3    1     3    3.0   6.0  12.0   8.0  300.0  81.0  -3.6
4   5  2013      3    1     4    3.0   3.0  14.0   8.0  300.0  81.0  -3.5

     PRES  DEWP  RAIN   wd  WSPM    station
0  1020.8 -19.7   0.0    E   0.5  Changping
1  1021.3 -19.0   0.0  ENE   0.7  Changping
2  1021.3 -19.9   0.0  ENE   0.2  Changping
3  1021.8 -19.1   0.0  NNE   1.0  Changping
4  1022.3 -19.4   0.0    N   2.1  Changping

In [4]:
Dingling_df = pd.read_csv('data-airQuality/Data_Dingling.csv')
print("Dingling Station Data")
print(Dingling_df.head())

Dingling Station Data
   No  year  month  day  hour  PM2.5  PM10  SO2  NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    4.0   4.0  3.0  NaN  200.0  82.0  -2.3
1   2  2013      3    1     1    7.0   7.0  3.0  NaN  200.0  80.0  -2.5
2   3  2013      3    1     2    5.0   5.0  3.0  2.0  200.0  79.0  -3.0
3   4  2013      3    1     3    6.0   6.0  3.0  NaN  200.0  79.0  -3.6
4   5  2013      3    1     4    5.0   5.0  3.0  NaN  200.0  81.0  -3.5

     PRES  DEWP  RAIN   wd  WSPM   station
0  1020.8 -19.7   0.0    E   0.5  Dingling
1  1021.3 -19.0   0.0  ENE   0.7  Dingling
2  1021.3 -19.9   0.0  ENE   0.2  Dingling
3  1021.8 -19.1   0.0  NNE   1.0  Dingling
4  1022.3 -19.4   0.0    N   2.1  Dingling

In [5]:
Dongsi_df = pd.read_csv('data-airQuality/Data_Dongsi.csv')
print("Dongsi Station Data")
print(Dongsi_df.head())

Dongsi Station Data
   No  year  month  day  hour  PM2.5  PM10  SO2   NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    9.0   9.0  3.0  17.0  300.0  89.0  -0.5
1   2  2013      3    1     1    4.0   4.0  3.0  16.0  300.0  88.0  -0.7
2   3  2013      3    1     2    7.0   7.0  NaN  17.0  300.0  60.0  -1.2
3   4  2013      3    1     3    3.0   3.0  5.0  18.0    NaN   NaN  -1.4
4   5  2013      3    1     4    3.0   3.0  7.0   NaN  200.0  84.0  -1.9

     PRES  DEWP  RAIN   wd  WSPM station
0  1024.5 -21.4   0.0  NNW   5.7  Dongsi
1  1025.1 -22.1   0.0   NW   3.9  Dongsi
2  1025.3 -24.6   0.0  NNW   5.3  Dongsi
3  1026.2 -25.5   0.0    N   4.9  Dongsi
4  1027.1 -24.5   0.0  NNW   3.2  Dongsi

In [6]:
Guanyuan_df = pd.read_csv('data-airQuality/Data_Guanyuan.csv')
print("Guanyuan Station Data")
print(Guanyuan_df.head())

Guanyuan Station Data
   No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    4.0   4.0  14.0  20.0  300.0  69.0  -0.7
1   2  2013      3    1     1    4.0   4.0  13.0  17.0  300.0  72.0  -1.1
2   3  2013      3    1     2    3.0   3.0  10.0  19.0  300.0  69.0  -1.1
3   4  2013      3    1     3    3.0   6.0   7.0  24.0  400.0  62.0  -1.4
4   5  2013      3    1     4    3.0   6.0   5.0  14.0  400.0  71.0  -2.0

     PRES  DEWP  RAIN   wd  WSPM   station
0  1023.0 -18.8   0.0  NNW   4.4  Guanyuan
1  1023.2 -18.2   0.0    N   4.7  Guanyuan
2  1023.5 -18.2   0.0  NNW   5.6  Guanyuan
3  1024.5 -19.4   0.0   NW   3.1  Guanyuan
4  1025.2 -19.5   0.0    N   2.0  Guanyuan

In [7]:
Gucheng_df = pd.read_csv('data-airQuality/Data_Gucheng.csv')
print("Gucheng Station Data")
print(Gucheng_df.head())

Gucheng Station Data
   No  year  month  day  hour  PM2.5  PM10  SO2  NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    6.0  18.0  5.0  NaN  800.0  88.0   0.1
1   2  2013      3    1     1    6.0  15.0  5.0  NaN  800.0  88.0  -0.3
2   3  2013      3    1     2    5.0  18.0  NaN  NaN  700.0  52.0  -0.7
3   4  2013      3    1     3    6.0  20.0  6.0  NaN    NaN   NaN  -1.0
4   5  2013      3    1     4    5.0  17.0  5.0  NaN  600.0  73.0  -1.3

     PRES  DEWP  RAIN   wd  WSPM  station
0  1021.1 -18.6   0.0   NW   4.4  Gucheng
1  1021.5 -19.0   0.0   NW   4.0  Gucheng
2  1021.5 -19.8   0.0  WNW   4.6  Gucheng
3  1022.7 -21.2   0.0    W   2.8  Gucheng
4  1023.0 -21.4   0.0  WNW   3.6  Gucheng

In [8]:
Huairou_df = pd.read_csv('data-airQuality/Data_Huairou.csv')
print("Huairou Station Data")
print(Huairou_df.head())

Huairou Station Data
   No  year  month  day  hour  PM2.5  PM10  SO2  NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    7.0   7.0  3.0  2.0  100.0  91.0  -2.3
1   2  2013      3    1     1    4.0   4.0  3.0  NaN  100.0  92.0  -2.7
2   3  2013      3    1     2    4.0   4.0  NaN  NaN  100.0  91.0  -3.2
3   4  2013      3    1     3    3.0   3.0  3.0  2.0    NaN   NaN  -3.3
4   5  2013      3    1     4    3.0   3.0  7.0  NaN  300.0  86.0  -4.1

     PRES  DEWP  RAIN   wd  WSPM  station
0  1020.3 -20.7   0.0  WNW   3.1  Huairou
1  1020.8 -20.5   0.0  NNW   1.5  Huairou
2  1020.6 -21.4   0.0   NW   1.8  Huairou
3  1021.3 -23.7   0.0  NNW   2.4  Huairou
4  1022.1 -22.7   0.0  NNW   2.2  Huairou

In [9]:
Nongzhanguan_df = pd.read_csv('data-airQuality/Data_Huairou.csv')
print("Nongzhanguan Station Data")
print(Nongzhanguan_df.head())

Nongzhanguan Station Data
   No  year  month  day  hour  PM2.5  PM10  SO2  NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    7.0   7.0  3.0  2.0  100.0  91.0  -2.3
1   2  2013      3    1     1    4.0   4.0  3.0  NaN  100.0  92.0  -2.7
2   3  2013      3    1     2    4.0   4.0  NaN  NaN  100.0  91.0  -3.2
3   4  2013      3    1     3    3.0   3.0  3.0  2.0    NaN   NaN  -3.3
4   5  2013      3    1     4    3.0   3.0  7.0  NaN  300.0  86.0  -4.1

     PRES  DEWP  RAIN   wd  WSPM  station
0  1020.3 -20.7   0.0  WNW   3.1  Huairou
1  1020.8 -20.5   0.0  NNW   1.5  Huairou
2  1020.6 -21.4   0.0   NW   1.8  Huairou
3  1021.3 -23.7   0.0  NNW   2.4  Huairou
4  1022.1 -22.7   0.0  NNW   2.2  Huairou

In [10]:
Shunyi_df = pd.read_csv('data-airQuality/Data_Shunyi.csv')
print("Shunyi Station Data")
print(Shunyi_df.head())

Shunyi Station Data
   No  year  month  day  hour  PM2.5  PM10  SO2  NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    3.0   6.0  3.0  8.0  300.0  44.0  -0.9
1   2  2013      3    1     1   12.0  12.0  3.0  7.0  300.0  47.0  -1.1
2   3  2013      3    1     2   14.0  14.0  NaN  7.0  200.0  22.0  -1.7
3   4  2013      3    1     3   12.0  12.0  3.0  5.0    NaN   NaN  -2.1
4   5  2013      3    1     4   12.0  12.0  3.0  NaN  200.0  11.0  -2.4

     PRES  DEWP  RAIN  wd  WSPM station
0  1025.8 -20.5   0.0  NW   9.3  Shunyi
1  1026.1 -21.3   0.0  NW   9.4  Shunyi
2  1026.2 -23.0   0.0  NW   8.6  Shunyi
3  1027.3 -23.3   0.0  NW   6.6  Shunyi
4  1027.7 -22.9   0.0  NW   4.5  Shunyi

In [11]:
Tiantan_df = pd.read_csv('data-airQuality/Data_Tiantan.csv')
print("Tiantan Station Data")
print(Tiantan_df.head())

Tiantan Station Data
   No  year  month  day  hour  PM2.5  PM10  SO2   NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    6.0   6.0  4.0   8.0  300.0  81.0  -0.5
1   2  2013      3    1     1    6.0  29.0  5.0   9.0  300.0  80.0  -0.7
2   3  2013      3    1     2    6.0   6.0  4.0  12.0  300.0  75.0  -1.2
3   4  2013      3    1     3    6.0   6.0  4.0  12.0  300.0  74.0  -1.4
4   5  2013      3    1     4    5.0   5.0  7.0  15.0  400.0  70.0  -1.9

     PRES  DEWP  RAIN   wd  WSPM  station
0  1024.5 -21.4   0.0  NNW   5.7  Tiantan
1  1025.1 -22.1   0.0   NW   3.9  Tiantan
2  1025.3 -24.6   0.0  NNW   5.3  Tiantan
3  1026.2 -25.5   0.0    N   4.9  Tiantan
4  1027.1 -24.5   0.0  NNW   3.2  Tiantan

In [12]:
Wanliu_df = pd.read_csv('data-airQuality/Data_Wanliu.csv')
print("Wanliu Station Data")
print(Wanliu_df.head())

Wanliu Station Data
   No  year  month  day  hour  PM2.5  PM10  SO2   NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    8.0   8.0  6.0  28.0  400.0  52.0  -0.7
1   2  2013      3    1     1    9.0   9.0  6.0  28.0  400.0  50.0  -1.1
2   3  2013      3    1     2    3.0   6.0  NaN  19.0  400.0  55.0  -1.1
3   4  2013      3    1     3   11.0  30.0  8.0  14.0    NaN   NaN  -1.4
4   5  2013      3    1     4    3.0  13.0  9.0   NaN  300.0  54.0  -2.0

     PRES  DEWP  RAIN   wd  WSPM station
0  1023.0 -18.8   0.0  NNW   4.4  Wanliu
1  1023.2 -18.2   0.0    N   4.7  Wanliu
2  1023.5 -18.2   0.0  NNW   5.6  Wanliu
3  1024.5 -19.4   0.0   NW   3.1  Wanliu
4  1025.2 -19.5   0.0    N   2.0  Wanliu

In [13]:
Wanshouxigong_df = pd.read_csv('data-airQuality/Data_Wanshouxigong.csv')
print("Wanshouxigong Station Data")
print(Wanshouxigong_df.head())

Wanshouxigong Station Data
   No  year  month  day  hour  PM2.5  PM10  SO2   NO2     CO    O3  TEMP  \
0   1  2013      3    1     0    9.0   9.0  6.0  17.0  200.0  62.0   0.3
1   2  2013      3    1     1   11.0  11.0  7.0  14.0  200.0  66.0  -0.1
2   3  2013      3    1     2    8.0   8.0  NaN  16.0  200.0  59.0  -0.6
3   4  2013      3    1     3    8.0   8.0  3.0  16.0    NaN   NaN  -0.7
4   5  2013      3    1     4    8.0   8.0  3.0   NaN  300.0  36.0  -0.9

     PRES  DEWP  RAIN   wd  WSPM        station
0  1021.9 -19.0   0.0  WNW   2.0  Wanshouxigong
1  1022.4 -19.3   0.0  WNW   4.4  Wanshouxigong
2  1022.6 -19.7   0.0  WNW   4.7  Wanshouxigong
3  1023.5 -20.9   0.0   NW   2.6  Wanshouxigong
4  1024.1 -21.7   0.0  WNW   2.5  Wanshouxigong

**Insight Gathering Data :**

*Tujuan*
- Mengimpor file `.csv` dari setiap stasiun pemantauan udara.
- Memastikan setiap data yang diimpor sesuai dengan struktur dan format yang diharapkan.
- Mengamati beberapa baris awal setiap dataset untuk inspeksi awal.

*Tahapan*
- Data dari berbagai stasiun dikumpulkan menggunakan fungsi `pd.read_csv()` dari library Pandas.
- Proses ini memastikan data dapat diakses untuk tahapan-tahapan selanjutnya, data cleaning, merging, atau exploratory analysis.
- Menampilkan 5 baris awal data dengan `head()` untuk memberikan gambaran awal tentang struktur data, seperti apakah ada missing values, atau apakah semua kolom tersedia.

*Insight tahap gathering data*
- Dari hasil data yang telah ditampilkan, bisa dilihat dan diperhatikan mengenai apakah missing values pada data.
- Menentukan apakah format waktu (tahun, bulan, hari, jam) sudah teratur dan apakah kolom kualitas udara (PM.25, PM10, SO2, dll.) memiliki data yang masuk akal atau tidak.

### Assessing Data

#### Menilai Data Aotizhongxin_df

In [14]:
Aotizhongxin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34139 non-null  float64
 6   PM10     34346 non-null  float64
 7   SO2      34129 non-null  float64
 8   NO2      34041 non-null  float64
 9   CO       33288 non-null  float64
 10  O3       33345 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*
- **Tipe data sudah sesuai untuk setiap kolom**

  Kolom `int64` (year, month, day, hour, No) berisi nilai numerik sesuai untuk representasi tahun, bulan, hari, dan jam.

  Kolom `float64` (PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, WSPM) tepat untuk berisi nilai numerik yang mungkin mengandung nilai decimal yang cocok dengan nilai polutan dan faktor meteorologi.


  Kolom `object` (wd) arah angin merupakan tipe data yang cocok untuk tipe object karena biasanya berisi nilai kategoris seperti "N", "S", "E", "W", atau kombinasi dan (station) berisi nama stasiun yang logis untuk tipe data object atau string.

- **Terdapat Missing Values**, pada beberapa kolom terutama kolom polutan seperti PM2.5, PM10, SO2, NO2, CO, O3, yang perlu diperbaiki atau diatasi sebelum melanjutkan ke analisis lebih lanjut. Untuk memastikan hal ini bisa menjalankan kode berikut `Aotizhongxin_df.isna().sum()`

In [15]:
Aotizhongxin_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       925
PM10        718
SO2         935
NO2        1023
CO         1776
O3         1719
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

*temporary insight*

Berdasarkan output yang diberikan, terdapat beberapa kolom yang memiliki jumlah data non-null yang berbeda, menunjukkan adanya missing values. Kolom yang bermasalah adalah:

- PM2.5: Terdapat 34139 non-null dari 35064, berarti ada 925 missing values.
- PM10: Terdapat 34346 non-null dari 35064, berarti ada 718 missing values.
- SO2: Terdapat 34129 non-null dari 35064, berarti ada 935 missing values.
- NO2: Terdapat 34041 non-null dari 35064, berarti ada 1023 missing values.
- CO: Terdapat 33288 non-null dari 35064, berarti ada 1776 missing values.
- O3: Terdapat 33345 non-null dari 35064, berarti ada 1719 missing values.
- TEMP, PRES, DEWP, RAIN: Hampir semua lengkap, dengan hanya 20 missing values per kolom.
- wd (wind direction): Terdapat 34983 non-null dari 35064, berarti ada 81 missing values.
- WSPM (wind speed): Terdapat 35050 non-null dari 35064, berarti ada 14 missing values.

In [16]:
print("Jumlah duplikasi data Aotizhongxin_df : ", Aotizhongxin_df.duplicated().sum())

Jumlah duplikasi data Aotizhongxin_df :  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Aotizhongxin_df tersebut.

In [17]:
Aotizhongxin_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34139.000000,34346.000000,34129.000000,34041.000000,33288.000000,33345.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.773611,110.060391,17.375901,59.305833,1262.945145,56.353358,13.584607,1011.846920,3.123062,0.067421,1.708496
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.135694,95.223005,22.823017,37.116200,1221.436236,57.916327,11.399097,10.404047,13.688896,0.910056,1.204071
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,30.000000,500.000000,8.000000,3.100000,1003.300000,-8.100000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,58.000000,87.000000,9.000000,53.000000,900.000000,42.000000,14.500000,1011.400000,3.800000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,114.000000,155.000000,21.000000,82.000000,1500.000000,82.000000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,898.000000,984.000000,341.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

*temporary insight*

Dari informasi yang ditampilkan, ditemukan beberapa anomali atau inaccurate values yang mungkin perlu penanganan lebih lanjut di tahapan cleaning data:
- PM2.5 dan PM10: Ada nilai maksimum yang sangat tinggi, yang mungkin merupakan outlier dan perlu penanganan.

  Yang mana Max (898.000000): Nilai ini sangat tinggi, mengingat konsentrasi PM2.5 yang dianggap berbahaya umumnya di atas 250 µg/m³. Nilai ini tidak sepenuhnya tidak mungkin, tetapi perlu dievaluasi lebih lanjut untuk melihat apakah ada outlier yang ekstrem.

  Dan pada PM10 dengan Max (984.000000): Ini adalah nilai yang sangat tinggi, bahkan untuk polusi berat. PM10 di atas 500 µg/m³ sudah jarang ditemui, sehingga angka ini bisa menjadi anomali atau outlier.

  
- SO2, NO2, O3: Nilai maksimum cukup tinggi tetapi masih dalam batas yang mungkin. Namun, mereka perlu diperiksa untuk outlier.

  Max (341.000000) pada SO2 merupakan nilai yang sangat tinggi untuk sulfur dioksida (SO2), mengingat nilai SO2 di atas 200 µg/m³ sudah termasuk sangat tinggi. Namun, masih dalam batas yang mungkin terjadi dalam situasi polusi ekstrem.

  Untuk NO2 dengan Max (290.000000), angka ini bisa dibilang cukup tinggi, tetapi masih dalam batas yang bisa diterima pada kasus polusi berat. Di beberapa daerah, NO2 memang dapat mencapai angka seperti ini.

    Nilai Max O3 (Ozon) adalah (423.000000), ini adalah nilai yang tinggi untuk ozon, tetapi masih mungkin untuk kondisi polusi berat.


- CO (Karbon Monoksida): Nilai maksimum dan minimum tampak sangat tidak masuk akal dan harus diperiksa lebih lanjut. Ini mungkin kesalahan data.

  Max (10000.000000): Nilai ini sangat aneh dan mungkin merupakan inaccurate value. Konsentrasi karbon monoksida (CO) biasanya diukur dalam satuan mg/m³ dan nilai maksimal yang realistis adalah sekitar 50 mg/m³ di udara yang sangat tercemar. Nilai ini tampaknya salah dan memerlukan pengecekan lebih lanjut.

  Min (100.000000): Ini juga tampaknya merupakan kesalahan pengukuran karena nilai minimal yang masuk akal untuk CO biasanya berada di bawah 10 mg/m³.

#### Menilai Data Changping_df

In [18]:
Changping_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34290 non-null  float64
 6   PM10     34482 non-null  float64
 7   SO2      34436 non-null  float64
 8   NO2      34397 non-null  float64
 9   CO       33543 non-null  float64
 10  O3       34460 non-null  float64
 11  TEMP     35011 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34924 non-null  object
 16  WSPM     35021 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*
- **Tipe data sudah sesuai untuk setiap kolom**

  Tipe data sudah sesuai dengan jenis kolom masing-masing. Tidak ada kolom yang tampaknya memiliki tipe data yang tidak tepat.

- **Terdapat Missing Values**

  Pada beberapa kolom Kolom polutan udara menunjukkan adanya missing values yang signifikan, terutama pada kolom CO yang memiliki lebih dari 1,500 missing values.

  Kolom meteorologi seperti TEMP, PRES, DEWP, dan RAIN juga memiliki missing values, tetapi jumlahnya relatif kecil (di bawah 100 data yang hilang).

  Untuk memastikan hal ini bisa menjalankan kode berikut `Changping_df.isna().sum()`

In [19]:
Changping_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       774
PM10        582
SO2         628
NO2         667
CO         1521
O3          604
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

*temporary insight*

Beberapa kolom menunjukkan bahwa mereka memiliki jumlah data yang berbeda-beda, yang berarti terdapat missing values di beberapa kolom. Berikut analisisnya:

- Kolom Polutan Udara:
  - PM2.5: Terdapat 34,290 data yang tidak null dari total 35,064, yang berarti ada 774 missing values.
  - PM10: Terdapat 34,482 data yang tidak null dari total 35,064, yang berarti ada 582 missing values.
  - SO2: Terdapat 34,436 data yang tidak null dari total 35,064, yang berarti ada 628 missing values.
  - NO2: Terdapat 34,397 data yang tidak null dari total 35,064, yang berarti ada 667 missing values.
  - CO: Terdapat 33,543 data yang tidak null dari total 35,064, yang berarti ada 1,521 missing values. Kolom ini memiliki lebih banyak missing values dibandingkan kolom lainnya.
  - O3: Terdapat 34,460 data yang tidak null dari total 35,064, yang berarti ada 604 missing values.


- Kolom Faktor Meteorologi:

  - TEMP: Terdapat 35,011 data yang tidak null dari total 35,064, yang berarti ada 53 missing values.
  - PRES: Terdapat 35,014 data yang tidak null dari total 35,064, yang berarti ada 50 missing values.
  - DEWP: Terdapat 35,011 data yang tidak null dari total 35,064, yang berarti ada 53 missing values.
  - RAIN: Terdapat 35,013 data yang tidak null dari total 35,064, yang berarti ada 51 missing values.
  - WSPM: Terdapat 35,021 data yang tidak null dari total 35,064, yang berarti ada 43 missing values.


- Kolom wd (Wind Direction): Terdapat 34,924 data yang tidak null dari total 35,064, yang berarti ada 140 missing values.

In [20]:
print("Jumlah duplikasi data Aotizhongxin_df : ", Changping_df.duplicated().sum())

Jumlah duplikasi data Aotizhongxin_df :  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Changping_df tersebut.

In [21]:
Changping_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34290.000000,34482.000000,34436.000000,34397.000000,33543.000000,34460.000000,35011.000000,35014.000000,35011.000000,35013.000000,35021.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,71.099743,94.657871,14.958906,44.182086,1152.301345,57.940003,13.686111,1007.760278,1.505495,0.060366,1.853836
std,10122.249256,1.177213,3.448752,8.800218,6.922285,72.326926,83.441738,20.975331,29.519796,1103.056282,54.316674,11.365313,10.225664,13.822099,0.752899,1.309808
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.847700,100.000000,0.214200,-16.600000,982.400000,-35.100000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,18.000000,34.000000,2.000000,22.000000,500.000000,15.636600,3.400000,999.300000,-10.200000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,46.000000,72.000000,7.000000,36.000000,800.000000,46.000000,14.700000,1007.400000,1.800000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,100.000000,131.000000,18.000000,60.358200,1400.000000,80.000000,23.300000,1016.000000,14.200000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,882.000000,999.000000,310.000000,226.000000,10000.000000,429.000000,41.400000,1036.500000,27.200000,52.100000,10.000000

*temporary insight*

Berdasarkan output tersebut, ada beberapa hal yang perlu diperhatikan terkait kemungkinan nilai outlier atau incacurate values yang perlu diperiksa lebih lanjut pada tahap data cleaning.

- Kolom CO (Karbon Monoksida) memiliki nilai maksimum 10,000, yang sangat tidak realistis dan kemungkinan merupakan hasil kesalahan pengukuran atau kesalahan input data. Serta nilai minimum CO adalah 100, yang juga tampaknya terlalu tinggi untuk minimum CO. Biasanya nilai CO bisa lebih rendah dari ini, sehingga hal ini perlu diperiksa lebih lanjut.

- Kolom PM2.5 dan PM10 menunjukkan nilai maksimum yang tinggi, yaitu 882 untuk PM2.5 dan 999 untuk PM10. Meskipun polusi udara bisa mencapai tingkat berbahaya, nilai ini tampak sangat ekstrem dan mungkin perlu diperiksa apakah valid atau merupakan outlier.

- Beberapa kolom gas polutan lainnya (SO2, NO2, O3) menunjukkan nilai maksimum yang cukup tinggi, tetapi masih mungkin masuk akal tergantung pada kondisi pencemaran udara di lokasi dan waktu pengukuran. Namun, tetap perlu dilakukan pemeriksaan tambahan untuk memvalidasi data ini.

- Kolom DEWP minimum dengan nilai -35.1°C patut diperiksa karena mungkin ini adalah hasil dari kondisi cuaca yang ekstrem, tetapi juga bisa merupakan kesalahan pengukuran.

#### Menilai Data Dingling_df

In [22]:
Dingling_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34285 non-null  float64
 6   PM10     34408 non-null  float64
 7   SO2      34334 non-null  float64
 8   NO2      33830 non-null  float64
 9   CO       33052 non-null  float64
 10  O3       33850 non-null  float64
 11  TEMP     35011 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34924 non-null  object
 16  WSPM     35021 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*
- **Tipe data sudah sesuai untuk setiap kolom**

  Tidak dijumpai ketikan sesuaian tipe data berdasarkan informasi yang ditampilkan dari data Dingling_df.

- **Terdapat Missing Values**

  Missing values terbesar ada pada kolom CO, NO2, dan O3. CO memiliki 2,012 missing values, yaitu sekitar 5.74% dari total data. NO2 dan O3 juga memiliki lebih dari 1,000 missing values, yaitu sekitar 3-4%. Jumlah missing values yang relatif besar ini bisa mengindikasikan adanya masalah pada alat pengukur polutan atau kondisi cuaca tertentu yang membuat data tidak dapat terekam.

  Kolom PM2.5, PM10, dan SO2 memiliki ratusan missing values, yang masih perlu dipertimbangkan penanganannya, tetapi persentase missing dari total data masih dalam batas yang bisa diatasi tanpa kehilangan terlalu banyak informasi.

  Kolom meteorologi (TEMP, PRES, DEWP, RAIN, WSPM. Missing values pada kolom ini tidak terlalu signifikan (hanya puluhan baris), sehingga bisa diatasi dengan imputasi sederhana (seperti menggunakan nilai rata-rata atau median) tanpa mengganggu kualitas data secara keseluruhan. Untuk memastikan hal ini bisa menjalankan kode berikut `Dingling_df.isna().sum()`

In [23]:
Dingling_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2        1234
CO         2012
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

*temporary insight*

Beberapa kolom di dataset ini menunjukkan jumlah non-null values yang kurang dari total 35,064 baris, yang mengindikasikan adanya missing values. Berikut rinciannya:

- PM2.5: 34,285 non-null values → terdapat 779 missing values.
- PM10: 34,408 non-null values → terdapat 656 missing values.
- SO2: 34,334 non-null values → terdapat 730 missing values.
- NO2: 33,830 non-null values → terdapat 1,234 missing values.
- CO: 33,052 non-null values → terdapat 2,012 missing values.
- O3: 33,850 non-null values → terdapat 1,214 missing values.
- TEMP: 35,011 non-null values → terdapat 53 missing values.
- PRES: 35,014 non-null values → terdapat 50 missing values.
- DEWP: 35,011 non-null values → terdapat 53 missing values.
- RAIN: 35,013 non-null values → terdapat 51 missing values.
- wd: 34,924 non-null values → terdapat 140 missing values.
- WSPM: 35,021 non-null values → terdapat 43 missing values.

In [24]:
print("Jumlah duplikasi data Dingling_df : ", Dingling_df.duplicated().sum())

Jumlah duplikasi data Dingling_df :  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Dingling_df tersebut.

In [25]:
Dingling_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34285.000000,34408.000000,34334.000000,33830.000000,33052.000000,33850.000000,35011.000000,35014.000000,35011.000000,35013.000000,35021.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,65.989497,83.739723,11.749650,27.585467,904.896073,68.548371,13.686111,1007.760278,1.505495,0.060366,1.853836
std,10122.249256,1.177213,3.448752,8.800218,6.922285,72.267723,79.541685,15.519259,26.383882,903.306220,53.764424,11.365313,10.225664,13.822099,0.752899,1.309808
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-16.600000,982.400000,-35.100000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,14.000000,26.000000,2.000000,9.000000,300.000000,31.000000,3.400000,999.300000,-10.200000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,41.000000,60.000000,5.000000,19.000000,600.000000,61.000000,14.700000,1007.400000,1.800000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,93.000000,117.000000,15.000000,38.000000,1200.000000,90.000000,23.300000,1016.000000,14.200000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,881.000000,905.000000,156.000000,205.000000,10000.000000,500.000000,41.400000,1036.500000,27.200000,52.100000,10.000000

*temporary insight*

- Nilai maksimum 10,000 ppm pada kolom CO adalah tidak wajar dan merupakan outlier yang jelas. Ini perlu diselidiki lebih lanjut atau dibersihkan dari dataset.Serta dengan nilai minimum 100 ppm adalah nilai yang terlalu tinggi untuk dianggap sebagai nilai minimum untuk karbon monoksida, kemungkinan ada masalah pengukuran.

- Nilai maksimum 500 mungkin terlalu tinggi untuk polutan ozon (O3) di permukaan bumi, perlu dipastikan apakah ini kesalahan pengukuran.

#### Menilai Data Dongsi_df

In [26]:
Dongsi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34314 non-null  float64
 6   PM10     34511 non-null  float64
 7   SO2      34401 non-null  float64
 8   NO2      33463 non-null  float64
 9   CO       31867 non-null  float64
 10  O3       34400 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*
- **Tipe data sudah sesuai untuk setiap kolom**

  Tidak dijumpai ketikan sesuaian tipe data berdasarkan informasi yang ditampilkan dari data Dongsi_df.

- **Terdapat Missing Values**

  Ditemukan missing values, terutama pada beberapa kolom seperti CO dan NO2 memiliki jumlah data yang hilang cukup signifikan. Untuk memastikan hal ini bisa menjalankan kode berikut `Dongsi_df.isna().sum()`

In [27]:
Dongsi_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       750
PM10        553
SO2         663
NO2        1601
CO         3197
O3          664
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

*temporary insight*

Dari Non-Null Count, bisa melihat adanya beberapa kolom yang memiliki nilai yang hilang (missing values):

- Kolom PM2.5:

  Jumlah non-null: 34,314 dari 35,064 data.

  Missing values: 750 data yang hilang.
- Kolom PM10:

  Jumlah non-null: 34,511 dari 35,064 data.

  Missing values: 553 data yang hilang.
- Kolom SO2:

  Jumlah non-null: 34,401 dari 35,064 data.

  Missing values: 663 data yang hilang.
- Kolom NO2:

  Jumlah non-null: 33,463 dari 35,064 data.

  Missing values: 1,601 data yang hilang.
- Kolom CO:

  Jumlah non-null: 31,867 dari 35,064 data.

  Missing values: 3,197 data yang hilang.

  Kolom ini memiliki jumlah missing values yang cukup signifikan.
- Kolom O3:

  Jumlah non-null: 34,400 dari 35,064 data.

  Missing values: 664 data yang hilang.
- Kolom wd:

  Jumlah non-null: 34,986 dari 35,064 data.

  Missing values: 78 data yang hilang.

  Jumlah ini cukup kecil sehingga masih bisa ditangani.
- Kolom TEMP, PRES, DEWP, RAIN, dan WSPM:

  Hampir semua data tersedia, dengan hanya beberapa yang hilang:
  - TEMP: 20 data hilang.
  - PRES: 20 data hilang.
  - DEWP: 20 data hilang.
  - RAIN: 20 data hilang.
  - WSPM: 14 data hilang.
  
  Kolom-kolom ini hampir lengkap, dengan jumlah missing values yang kecil.
- Kolom station:

  Tidak ada data yang hilang.

In [28]:
print("Jumlah duplikasi data Dongsi_df: ", Dongsi_df.duplicated().sum())

Jumlah duplikasi data Dongsi_df:  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Dongsi_df tersebut.

In [29]:
Dongsi_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34314.000000,34511.000000,34401.000000,33463.000000,31867.000000,34400.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,86.194297,110.336742,18.531107,53.699443,1330.069131,57.210637,13.671490,1012.547419,2.447535,0.064020,1.860785
std,10122.249256,1.177213,3.448752,8.800218,6.922285,86.575127,98.219860,22.905655,33.959230,1191.305887,58.033275,11.458418,10.266059,13.810696,0.786282,1.280368
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.642600,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,4.000000,27.000000,600.000000,12.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,61.000000,86.000000,10.000000,47.000000,1000.000000,44.125200,14.600000,1012.200000,3.000000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,119.000000,151.000000,24.000000,73.000000,1700.000000,81.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,737.000000,955.000000,300.000000,258.000000,10000.000000,1071.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

*temporary insight*

Kolom seperti PM2.5, PM10, CO, O3, dan NO2 memiliki nilai maksimum yang tampaknya terlalu tinggi dan berpotensi sebagai outlier.

#### Menilai Data Guanyuan_df

In [30]:
Guanyuan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34448 non-null  float64
 6   PM10     34635 non-null  float64
 7   SO2      34590 non-null  float64
 8   NO2      34405 non-null  float64
 9   CO       33311 non-null  float64
 10  O3       33891 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*

Dari informasi yang diatas, ditemukannya masalah Missing Values. Ada sejumlah kolom yang memiliki missing values, yang dapat mempengaruhi analisis data. Kolom CO memiliki jumlah missing values yang paling signifikan (1,753), yang mungkin berpengaruh besar pada analisis kualitas udara.

In [31]:
Guanyuan_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       616
PM10        429
SO2         474
NO2         659
CO         1753
O3         1173
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

*temporary insight*

Dari output yang diberikan, dapat dilihat adanya perbedaan jumlah data pada beberapa kolom, yang menunjukkan adanya missing values:

- PM2.5: 34,448 non-null dari 35,064 total. Missing values: 616
- PM10: 34,635 non-null dari 35,064 total. Missing values: 429
- SO2: 34,590 non-null dari 35,064 total. Missing values: 474
- NO2: 34,405 non-null dari 35,064 total. Missing values: 659
- CO: 33,311 non-null dari 35,064 total. Missing values: 1,753
- O3: 33,891 non-null dari 35,064 total. Missing values: 1,173
- TEMP, PRES, DEWP, dan RAIN: 35,044 non-null dari 35,064 total. Missing values: 20
- wd: 34,983 non-null dari 35,064 total. Missing values: 81
- WSPM: 35,050 non-null dari 35,064 total. Missing values: 14

In [32]:
print("Jumlah duplikasi data Guanyuan_df: ", Guanyuan_df.duplicated().sum())

Jumlah duplikasi data Guanyuan_df:  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Dongsi_df tersebut.

In [33]:
Guanyuan_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34448.000000,34635.000000,34590.000000,34405.000000,33311.000000,33891.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.933372,109.023303,17.590941,57.901643,1271.294377,55.795044,13.584607,1011.846920,3.123062,0.067421,1.708496
std,10122.249256,1.177213,3.448752,8.800218,6.922285,80.933497,91.573709,23.600367,35.150857,1164.854945,57.436983,11.399097,10.404047,13.688896,0.910056,1.204071
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,1.000000,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,23.000000,40.000000,3.000000,31.000000,500.000000,7.000000,3.100000,1003.300000,-8.100000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,89.000000,8.000000,51.000000,900.000000,41.000000,14.500000,1011.400000,3.800000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,115.000000,149.000000,22.000000,78.000000,1600.000000,81.000000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,680.000000,999.000000,293.000000,270.000000,10000.000000,415.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

*temporary insight*

Ditemukan beberapa keanehan pada kolom data:
- PM2.5 MAX, nilai maksimum 680 untuk PM2.5 tampaknya cukup tinggi dibandingkan dengan standar kualitas udara yang umumnya menyarankan batas atas untuk PM2.5 di sekitar 300 µg/m³ untuk kondisi darurat. Ini bisa menunjukkan adanya kesalahan dalam pengukuran atau pencatatan data.
- PM10 MAX, Sama halnya, nilai maksimum 999 untuk PM10 juga sangat tinggi. Sebagian besar nilai PM10 yang tinggi berpotensi mengindikasikan kesalahan data.
- CO MAX, dengan nilai maksimum 10,000 untuk CO adalah sangat mencurigakan dan kemungkinan besar merupakan kesalahan. Biasanya, nilai CO yang terukur dalam µg/m³ atau ppm jauh lebih rendah.

#### Menilai Data Gucheng_df

In [34]:
Gucheng_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34418 non-null  float64
 6   PM10     34683 non-null  float64
 7   SO2      34557 non-null  float64
 8   NO2      34396 non-null  float64
 9   CO       33663 non-null  float64
 10  O3       34335 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35013 non-null  float64
 14  RAIN     35021 non-null  float64
 15  wd       34905 non-null  object
 16  WSPM     35022 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*

Berdasarkan output tersebut, bisa dilihat **adanya missing values** yang tersebar di beberapa kolom. Kolom-kolom yang memiliki missing values terutama pada parameter polusi udara seperti PM2.5, PM10, SO2, NO2, CO, dan O3 cukup signifikan, dan lainnya. Untuk melanjutkan analisis, perlu dilakukan data cleaning seperti menghapus baris yang mengandung missing values, atau menggunakan teknik imputasi.

In [35]:
Gucheng_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       646
PM10        381
SO2         507
NO2         668
CO         1401
O3          729
TEMP         51
PRES         50
DEWP         51
RAIN         43
wd          159
WSPM         42
station       0
dtype: int64

*temporary insight*

Berikut beberapa kolom yang memiliki missing values:
Kolom PM2.5: Hanya ada 34.418 data dari 35.064 baris, berarti ada 646 missing values.
- Kolom PM10: Ada 34.683 data, sehingga ada 381 missing values.
- Kolom SO2: Ada 34.557 data, terdapat 507 missing values.
- Kolom NO2: Ada 34.396 data, terdapat 668 missing values.
- Kolom CO: Ada 33.663 data, terdapat 1.401 missing values.
- Kolom O3: Ada 34.335 data, terdapat 729 missing values.
- Kolom TEMP, PRES, DEWP, RAIN, WSPM: Ada sedikit missing values (sekitar 50 baris yang hilang).
- Kolom wd: Ada 34.905 data, sehingga ada 159 missing values di kolom ini.

In [36]:
print("jumlah duplikasi data Gucheng_df: ", Gucheng_df.duplicated().sum())

jumlah duplikasi data Gucheng_df:  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Gucheng_df tersebut.

In [37]:
Gucheng_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34418.000000,34683.000000,34557.000000,34396.000000,33663.000000,34335.000000,35013.000000,35014.000000,35013.000000,35021.000000,35022.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,83.852089,118.861978,15.366162,55.871075,1323.974423,57.694879,13.864524,1008.829592,2.610442,0.064453,1.343310
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.796445,96.742626,21.204526,36.473860,1208.957772,57.019587,11.292857,10.103256,13.782991,0.838654,1.151064
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-15.600000,984.000000,-34.600000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,24.000000,45.000000,2.000000,26.000000,600.000000,10.000000,3.600000,1000.500000,-8.900000,0.000000,0.600000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,60.000000,99.000000,7.000000,50.000000,900.000000,45.000000,14.800000,1008.500000,3.000000,0.000000,1.000000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,115.750000,167.000000,20.000000,79.000000,1600.000000,83.000000,23.500000,1017.000000,15.300000,0.000000,1.800000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,770.000000,994.000000,500.000000,276.000000,10000.000000,450.000000,41.600000,1038.100000,27.400000,41.900000,12.000000

*temporary insight*

Berdasarkan data desripsi data Gucheng_df ditemukan beberapa keanehan atau nilai yang sepertinya tidak akurat. Seperti Kolom-kolom dengan nilai Maksimum (Max) atau minimum (Min) yang tidak wajar.

Nilai maksimum untuk PM2.5, PM10, SO2, NO2, CO, dan O3 menunjukkan kemungkinan adanya outlier atau data yang tidak realistis, terutama pada kolom CO (dengan nilai maksimum 10.000 ppm). Biasanya, level polutan ini berkisar di rentang yang lebih rendah. Oleh karena itu, perlu dilakukan deteksi outlier atau handling outliers.

Kolom Meteorologi: Beberapa nilai seperti suhu minimum -15.6°C dan titik embun -34.6°C mungkin terlalu rendah dan perlu diteliti lebih lanjut. Ini mungkin terjadi karena kesalahan pengukuran atau format data yang salah. Sehingga perlu dilakukan koreksi lebih lanjut

#### Menilai Data Huairou_df

In [38]:
Huairou_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34111 non-null  float64
 6   PM10     34287 non-null  float64
 7   SO2      34084 non-null  float64
 8   NO2      33425 non-null  float64
 9   CO       33642 non-null  float64
 10  O3       33913 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35011 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35009 non-null  float64
 15  wd       34762 non-null  object
 16  WSPM     35015 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*

Dari informasi yang ditampilkan di atas berdasarkan data Huairou_df, ditemukannya masalah **missing values** pada beberapa kolom. Termasuk pada kolom polutan (PM2.5, PM10, SO2, NO2, CO, O3).Terdapat perbedaan jumlah data yang cukup signifikan pada kolom-kolom ini, yang menunjukkan adanya ketidaksesuaian dalam pencatatan data di stasiun pemantauan. Dan juga pada kolom meteorologi  (TEMP, PRES, DEWP, RAIN, WSPM). Jumlah missing values pada kolom meteorologi jauh lebih sedikit dibandingkan dengan kolom polutan. Hal ini mungkin menunjukkan bahwa alat pengukur kondisi meteorologi lebih andal atau lebih sering diperiksa dan diperbaiki. Serta pada kolom wd (arah angin), ada sekitar 302 missing values di kolom ini, yang mungkin disebabkan oleh ketidakmampuan stasiun untuk mengukur arah angin pada saat-saat tertentu. Untuk melihat detail missing values pada tiap-tiap kolomnya dapat ditampilkan pada cell code berikut `Huairou_df.isna().sum()`

In [39]:
Huairou_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       953
PM10        777
SO2         980
NO2        1639
CO         1422
O3         1151
TEMP         51
PRES         53
DEWP         53
RAIN         55
wd          302
WSPM         49
station       0
dtype: int64

*temporary insight*

Berikut detail missing values yang ditemukan berdasarkan informasi di atas:

- Kolom Polutan:
  - PM2.5: Memiliki 34.111 data non-null, jadi terdapat 953 missing values dari total 35.064 data.
  - PM10: Memiliki 34.287 data non-null, terdapat 777 missing values.
  - SO2: Memiliki 34.084 data non-null, terdapat 980 missing values.
  - NO2: Memiliki 33.425 data non-null, terdapat 1.639 missing values.
  - CO: Memiliki 33.642 data non-null, terdapat 1.422 missing values.
  - O3: Memiliki 33.913 data non-null, terdapat 1.151 missing values.



- Kolom Meteorologi:
  - TEMP: Memiliki 35.013 data non-null, sehingga terdapat 51 missing values.
  - PRES: Memiliki 35.011 data non-null, terdapat 53 missing values.
  - DEWP: Memiliki 35.011 data non-null, terdapat 53 missing values.
  - RAIN: Memiliki 35.009 data non-null, terdapat 55 missing values.
  - WSPM: Memiliki 35.015 data non-null, terdapat 49 missing values.



- Kolom wd (Arah Angin):
  - Memiliki 34.762 data non-null, sehingga terdapat 302 missing values.

In [40]:
print("Jumlah duplikasi data Huairou_df: ", Huairou_df.duplicated().sum())

Jumlah duplikasi data Huairou_df:  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Huairou_df tersebut.

In [41]:
Huairou_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34111.000000,34287.000000,34084.000000,33425.000000,33642.000000,33913.000000,35013.000000,35011.000000,35011.000000,35009.000000,35015.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,69.626367,91.482690,12.121553,32.497250,1022.554545,59.824713,12.445426,1007.598568,2.238619,0.067940,1.652021
std,10122.249256,1.177213,3.448752,8.800218,6.922285,71.224916,83.289578,18.896912,26.489531,898.738241,54.605746,11.751103,10.022101,14.052541,0.849046,1.199143
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-19.900000,982.800000,-43.400000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,17.000000,28.000000,2.000000,12.000000,400.000000,18.000000,2.100000,999.300000,-9.600000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,47.000000,69.000000,4.000000,25.000000,800.000000,49.000000,13.600000,1007.300000,2.700000,0.000000,1.300000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,98.000000,131.000000,14.000000,46.000000,1300.000000,83.000000,22.300000,1015.500000,15.300000,0.000000,2.000000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,762.000000,993.000000,315.000000,231.000000,10000.000000,444.000000,40.300000,1036.500000,29.100000,45.900000,12.900000

*temporary insight*

Dari informasi yang ditampilkan mengenai data Hairou_df di atas dijumpai beberapa keanehan atau kemungkinan nilai yang tidak akurat pada beberapa kolom yang mungkin memerlukan tahpaan data cleaning.

Kolom polutan seperti PM2.5, PM10, SO2, NO2, CO memiliki nilai maksimum yang cukup tinggi, terutama CO yang mencapai 10,000. Ini bisa jadi outlier atau kesalahan pengukuran, yang perlu dianalisis lebih lanjut.

Kemudian pada kolom Meteorologi, kolom DEWP memiliki nilai minimum -43.4°C, yang tampaknya ekstrem dan mungkin tidak masuk akal dalam konteks iklim normal. Ini perlu dicek sebagai potensi outlier atau kesalahan data.

#### Menilai Data Nongzhanguan_df

In [42]:
Nongzhanguan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34111 non-null  float64
 6   PM10     34287 non-null  float64
 7   SO2      34084 non-null  float64
 8   NO2      33425 non-null  float64
 9   CO       33642 non-null  float64
 10  O3       33913 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35011 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35009 non-null  float64
 15  wd       34762 non-null  object
 16  WSPM     35015 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*

Berdasarkan informasi yang ditampilkan, ditemukan bahwa hampir semua kolom terkait polutan dan variabel meteorologi memiliki missing values dalam jumlah yang bervariasi. Kolom NO2 dan CO memiliki missing values paling banyak (lebih dari 1,000 entri yang hilang). Sebagian besar kolom terkait kualitas udara dan variabel meteorologi memiliki data yang hilang. Ini perlu ditangani, mungkin dengan metode imputasi atau penghapusan baris tergantung pada jumlah data yang hilang dan pentingnya kolom tersebut untuk analisis. Untuk melihat detail missing values dari tiap-tiap kolom bisa dilakukan pengecekan dengan code berikut `Nongzhanguan_df.isna().sum()`

In [43]:
Nongzhanguan_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       953
PM10        777
SO2         980
NO2        1639
CO         1422
O3         1151
TEMP         51
PRES         53
DEWP         53
RAIN         55
wd          302
WSPM         49
station       0
dtype: int64

*temporary insight*

Beberapa kolom memiliki jumlah data yang lebih sedikit dari 35,064, yang berarti ada missing values. Kolom yang terpengaruh dan jumlah data non-null-nya adalah:

- PM2.5: 34,111 non-null (kehilangan 953 data)
- PM10: 34,287 non-null (kehilangan 777 data)
- SO2: 34,084 non-null (kehilangan 980 data)
- NO2: 33,425 non-null (kehilangan 1,639 data)
- CO: 33,642 non-null (kehilangan 1,422 data)
- O3: 33,913 non-null (kehilangan 1,151 data)
- TEMP: 35,013 non-null (kehilangan 51 data)
- PRES: 35,011 non-null (kehilangan 53 data)
- DEWP: 35,011 non-null (kehilangan 53 data)
- RAIN: 35,009 non-null (kehilangan 55 data)
- wd: 34,762 non-null (kehilangan 302 data)
- WSPM: 35,015 non-null (kehilangan 49 data)

In [44]:
print("Jumlah duplikasi data Nongzhanguan_df: ", Nongzhanguan_df.duplicated().sum())

Jumlah duplikasi data Nongzhanguan_df:  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Nongzhanguan_df tersebut.

In [45]:
Nongzhanguan_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34111.000000,34287.000000,34084.000000,33425.000000,33642.000000,33913.000000,35013.000000,35011.000000,35011.000000,35009.000000,35015.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,69.626367,91.482690,12.121553,32.497250,1022.554545,59.824713,12.445426,1007.598568,2.238619,0.067940,1.652021
std,10122.249256,1.177213,3.448752,8.800218,6.922285,71.224916,83.289578,18.896912,26.489531,898.738241,54.605746,11.751103,10.022101,14.052541,0.849046,1.199143
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-19.900000,982.800000,-43.400000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,17.000000,28.000000,2.000000,12.000000,400.000000,18.000000,2.100000,999.300000,-9.600000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,47.000000,69.000000,4.000000,25.000000,800.000000,49.000000,13.600000,1007.300000,2.700000,0.000000,1.300000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,98.000000,131.000000,14.000000,46.000000,1300.000000,83.000000,22.300000,1015.500000,15.300000,0.000000,2.000000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,762.000000,993.000000,315.000000,231.000000,10000.000000,444.000000,40.300000,1036.500000,29.100000,45.900000,12.900000

*temporary insight*

Pada data Nongzhanguan_df, nilai maksimum 10,000 ppm untuk CO terlihat tidak realistis. Data ini harus ditinjau lebih lanjut, dan jika terbukti outlier atau hasil kesalahan pengukuran, perlu dihapus atau diperbaiki. Kemudian, nilai minimum -43.4°C pada DEWP mungkin tidak valid. Jika tidak ada bukti kuat bahwa nilai ini benar, ini bisa dianggap sebagai kesalahan data dan dibersihkan.

#### Menilai Data Shunyi_df

In [46]:
Shunyi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34151 non-null  float64
 6   PM10     34516 non-null  float64
 7   SO2      33768 non-null  float64
 8   NO2      33699 non-null  float64
 9   CO       32886 non-null  float64
 10  O3       33575 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35013 non-null  float64
 13  DEWP     35010 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34581 non-null  object
 16  WSPM     35020 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*

Dari informasi tersebut di dapatkan kesimpulan berikut :
- Kolom CO memiliki jumlah missing values yang paling banyak (2178), sekitar 6.2% dari total data. Ini menunjukkan bahwa cukup banyak pengukuran CO yang hilang, dan ini perlu diperhatikan dalam tahap pembersihan data. Mungkin Anda perlu mempertimbangkan bagaimana menangani missing values ini, misalnya dengan imputasi, atau jika proporsi data yang hilang terlalu besar, mungkin perlu dihapus.

- Kolom polutan lain seperti PM2.5, PM10, SO2, NO2, dan O3 juga memiliki missing values yang jumlahnya bervariasi antara 548 hingga 1489 data yang hilang. Proporsi missing values ini masih dapat ditangani dengan metode imputasi atau strategi lain.

- Kolom meteorologi seperti TEMP, PRES, DEWP, RAIN, dan WSPM memiliki sedikit missing values (kurang dari 100). Ini bisa dengan mudah diimputasi dengan nilai rata-rata atau interpolasi tanpa banyak kehilangan informasi.

- Kolom wd (arah angin) memiliki 483 missing values. Sebagai data kategori, missing values ini bisa diisi dengan kategori yang paling umum (modus) atau menggunakan metode lain yang lebih sesuai.


Untuk detail dari missing values dari tiap-tiap kolom tersebut dapat diperhatikan kode selanjutnya di bawah ini.

In [47]:
Shunyi_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       913
PM10        548
SO2        1296
NO2        1365
CO         2178
O3         1489
TEMP         51
PRES         51
DEWP         54
RAIN         51
wd          483
WSPM         44
station       0
dtype: int64

*temporary insight*

Terdapat beberapa kolom yang memiliki jumlah data non-null yang berbeda, menunjukkan adanya missing values di beberapa kolom :

- Kolom PM2.5: 34151 non-null dari 35064, berarti terdapat 913 missing values.
- Kolom PM10: 34516 non-null dari 35064, terdapat 548 missing values.
- Kolom SO2: 33768 non-null, terdapat 1296 missing values.
- Kolom NO2: 33699 non-null, terdapat 1365 missing values.
- Kolom CO: 32886 non-null, terdapat 2178 missing values, yang merupakan salah satu kolom dengan jumlah missing values paling banyak.
- Kolom O3: 33575 non-null, terdapat 1489 missing values.
- Kolom TEMP: 35013 non-null, terdapat 51 missing values.
- Kolom PRES: 35013 non-null, terdapat 51 missing values.
- Kolom DEWP: 35010 non-null, terdapat 54 missing values.
- Kolom RAIN: 35013 non-null, terdapat 51 missing values.
- Kolom wd: 34581 non-null, terdapat 483 missing values.
- Kolom WSPM: 35020 non-null, terdapat 44 missing values.

In [48]:
print("Jumlah duplikasi data Shunyi_df: ", Shunyi_df.duplicated().sum())

Jumlah duplikasi data Shunyi_df:  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Shunyi_df tersebut.

In [49]:
Shunyi_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34151.000000,34516.000000,33768.000000,33699.000000,32886.000000,33575.000000,35013.000000,35013.000000,35010.000000,35013.000000,35020.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,79.491602,98.737026,13.572039,43.908865,1187.063979,55.201321,13.387969,1013.061938,2.465036,0.061094,1.807533
std,10122.249256,1.177213,3.448752,8.800218,6.922285,81.231739,89.143718,19.572068,30.996828,1156.374102,54.873726,11.483588,10.177339,13.726622,0.761668,1.287817
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,988.000000,-36.000000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,19.000000,31.000000,2.000000,19.000000,400.000000,10.000000,3.000000,1004.700000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,55.000000,77.000000,5.000000,37.000000,800.000000,43.000000,14.400000,1012.700000,3.100000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,112.000000,138.000000,17.000000,62.000000,1500.000000,77.000000,23.200000,1021.000000,15.100000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,941.000000,999.000000,239.000000,258.000000,10000.000000,351.716400,40.600000,1042.800000,27.500000,37.300000,12.800000

*temporary insight*

Nilai maksimum 10000 µg/m³ tampak terlalu tinggi dan tidak realistis untuk konsentrasi CO. Nilai ini kemungkinan adalah error, dan bisa diatasi dengan menghapus atau mengganti nilai dengan imputasi (misalnya, dengan median). Dan nilai -36°C pada kolom DEWP (titik embun) tampak tidak wajar karena terlalu rendah dibandingkan dengan suhu udara maksimum dan minimum. Nilai ini kemungkinan error atau outlier dan bisa ditinjau lebih lanjut.

#### Menilai Data Tiantan_df

In [50]:
Tiantan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34387 non-null  float64
 6   PM10     34467 non-null  float64
 7   SO2      33946 non-null  float64
 8   NO2      34320 non-null  float64
 9   CO       33938 non-null  float64
 10  O3       34221 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*

- Tipe data: Tidak ada masalah pada tipe data, semua kolom telah menggunakan tipe data yang sesuai.


- Missing values: Ada beberapa missing values, terutama pada kolom polutan dan cuaca. Missing values yang signifikan terjadi pada kolom polutan (seperti PM2.5, PM10, SO2, NO2, CO, O3), dan kolom cuaca (TEMP, PRES, DEWP, RAIN), meskipun jumlahnya relatif sedikit dibanding total data (sekitar 2%-3%). Dan kolom wd (wind direction) memiliki beberapa missing values (78 missing values). Untuk menangani missing values ini, dapat dilakukan imputasi dengan median, interpolasi, atau penghapusan data, tergantung pada sifat datanya dan seberapa kritis missing values tersebut dalam analisis lebih lanjut.


Detail lebih lanjut mengenai missing values tiap-tiap kolom dapat diperhatikan di bawah ini:

In [51]:
Tiantan_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       677
PM10        597
SO2        1118
NO2         744
CO         1126
O3          843
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

*temporary insight*

Dari output di atas, beberapa kolom memiliki jumlah data yang berbeda, yang menunjukkan adanya missing values, berikut rinciannya:

- Kolom PM2.5: Jumlah non-null: 34,387 dari 35,064, sehingga ada 677 missing values.
- Kolom PM10: Jumlah non-null: 34,467 dari 35,064, ada 597 missing values.
- Kolom SO2: Jumlah non-null: 33,946 dari 35,064, ada 1,118 missing values.
- Kolom NO2: Jumlah non-null: 34,320 dari 35,064, ada 744 missing values.
- Kolom CO: Jumlah non-null: 33,938 dari 35,064, ada 1,126 missing values.
- Kolom O3: Jumlah non-null: 34,221 dari 35,064, ada 843 missing values.
- Kolom TEMP: Jumlah non-null: 35,044, ada 20 missing values.
- Kolom PRES: Jumlah non-null: 35,044, ada 20 missing values.
- Kolom DEWP: Jumlah non-null: 35,044, ada 20 missing values.
- Kolom RAIN: Jumlah non-null: 35,044, ada 20 missing values.
- Kolom wd: Jumlah non-null: 34,986, ada 78 missing values.
- Kolom WSPM: Jumlah non-null: 35,050, ada 14 missing values.

In [52]:
print("Jumlah duplikasi data Tiantan_df: ", Tiantan_df.duplicated().sum())

Jumlah duplikasi data Tiantan_df:  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Tiantan_df tersebut.

In [53]:
Tiantan_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34387.000000,34467.000000,33946.000000,34320.000000,33938.000000,34221.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.164911,106.363672,14.367615,53.162646,1298.303318,55.984297,13.671490,1012.547419,2.447535,0.064020,1.860785
std,10122.249256,1.177213,3.448752,8.800218,6.922285,80.921384,89.700157,20.144631,31.946224,1170.593297,59.081528,11.458418,10.266059,13.810696,0.786282,1.280368
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.571200,2.000000,100.000000,0.428400,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,41.000000,3.000000,28.000000,500.000000,8.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,85.000000,7.000000,47.000000,900.000000,40.000000,14.600000,1012.200000,3.000000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,113.000000,144.000000,17.000000,71.000000,1600.000000,81.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,821.000000,988.000000,273.000000,241.000000,10000.000000,674.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

*temporary insight*

Kolom CO dengan nilai maksimum 10,000 dan O3 dengan nilai maksimum 674 bisa menjadi data error atau kesalahan pengukuran. Perlu dilakukan investigasi lebih lanjut dan jika terbukti error, data tersebut bisa dihapus atau diperbaiki. Kolom polutan seperti PM2.5, PM10, SO2, NO2, CO, dan O3 juga memiliki nilai-nilai yang sangat tinggi. Data ini perlu dianalisis lebih lanjut apakah valid atau perlu ditangani jika benar merupakan outlier.

#### Menilai Data Wanliu_df

In [54]:
Wanliu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34682 non-null  float64
 6   PM10     34780 non-null  float64
 7   SO2      34489 non-null  float64
 8   NO2      33994 non-null  float64
 9   CO       33252 non-null  float64
 10  O3       32957 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34941 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*

- Tipe Data: Tidak ada masalah dengan tipe data kolom-kolom yang ada. 


- Missing Values: Banyaknya missing values di kolom polutan dan meteorologi menunjukkan perlunya tindakan penanganan. Seperti PM2.5, PM10, SO2, NO2, CO, dan O3 menunjukkan jumlah missing values yang cukup signifikan, yang bisa mempengaruhi analisis kualitas udara jika tidak ditangani. Kolom TEMP, PRES, DEWP, RAIN memiliki 20 missing values, menunjukkan bahwa data untuk suhu dan variabel meteorologi lainnya tidak lengkap. Meskipun tidak banyak, tetap perlu ditangani. Kolom wd juga memiliki missing values (123), yang dapat mempengaruhi analisis yang berkaitan dengan arah angin. Kolom WSPM memiliki 14 missing values, yang relatif sedikit tetapi tetap perlu dipertimbangkan. Beberapa pendekatan yang dapat digunakan untuk menangani missing values seperti imputasi dan drop values.



Rincian dari missing values tiap-tiap kolom pada dataset Wainlu_df sebagai berikut :

In [55]:
Wanliu_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       382
PM10        284
SO2         575
NO2        1070
CO         1812
O3         2107
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd          123
WSPM         14
station       0
dtype: int64

*temporary insight*

Berikut adalah jumlah nilai non-null dalam kolom yang menunjukkan adanya missing values:

- PM2.5: 34.682 non-null (382 missing)
- PM10: 34.780 non-null (284 missing)
- SO2: 34.489 non-null (575 missing)
- NO2: 33.994 non-null (1.070 missing)
- CO: 33.252 non-null (812 missing)
- O3: 32.957 non-null (1.107 missing)
- TEMP: 35.044 non-null (20 missing)
- PRES: 35.044 non-null (20 missing)
- DEWP: 35.044 non-null (20 missing)
- RAIN: 35.044 non-null (20 missing)
- wd: 34.941 non-null (123 missing)
- WSPM: 35.050 non-null (14 missing)

In [56]:
print("Jumlah duplikasi data Wanliu_df: ", Wanliu_df.duplicated().sum())

Jumlah duplikasi data Wanliu_df:  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Tiantan_df tersebut.

In [57]:
Wanliu_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34682.000000,34780.000000,34489.000000,33994.000000,33252.000000,32957.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,83.374716,110.464618,18.376481,65.258789,1319.353513,48.873614,13.428865,1011.097536,3.266588,0.068263,1.501215
std,10122.249256,1.177213,3.448752,8.800218,6.922285,81.905568,92.795065,22.609648,37.996088,1268.114331,55.111740,11.346931,10.355247,13.678060,0.896726,1.104472
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.642400,100.000000,0.214200,-15.800000,985.900000,-34.900000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,23.000000,40.000000,4.000000,36.000000,500.000000,4.000000,3.200000,1002.500000,-8.100000,0.000000,0.800000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,88.000000,10.000000,60.000000,900.000000,32.000000,14.300000,1010.800000,4.000000,0.000000,1.200000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,116.000000,153.000000,23.000000,88.000000,1600.000000,73.000000,22.900000,1019.400000,15.800000,0.000000,2.000000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,957.000000,951.000000,282.000000,264.000000,10000.000000,364.000000,40.500000,1040.300000,28.500000,72.500000,11.200000

*temporary insight*

Pengetahuan sementara yang didapat dari informasi output data Wanliu_df di atas yakni:
- Nilai Max: 957.00 pada kolom PM2.5. Nilai ini sangat tinggi dan mungkin tidak realistis. Kualitas udara umumnya tidak menunjukkan nilai PM2.5 yang setinggi ini dalam pengukuran yang biasa. Rata-rata global PM2.5 berkisar antara 5-150 µg/m³,

- Max: 951.00 pada kolom PM10. Sama seperti PM2.5, nilai ini juga sangat tinggi dan menunjukkan kemungkinan kesalahan dalam pengukuran.

- Kolom CO, Max: 10.000. Ini adalah nilai yang sangat ekstrem. Sebagai perbandingan, konsentrasi CO yang aman biasanya jauh lebih rendah, dan konsentrasi normal di atmosfer berkisar di bawah 10 ppm.

- Kolom O3, Max: 364.00. Ini juga nilai yang tinggi untuk konsentrasi O3. Rata-rata konsentrasi O3 di atmosfer berada pada kisaran 60-180 µg/m³, sehingga angka ini harus diteliti.

#### Menilai Data Wanshouxigong_df

In [58]:
Wanshouxigong_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34368 non-null  float64
 6   PM10     34580 non-null  float64
 7   SO2      34395 non-null  float64
 8   NO2      34310 non-null  float64
 9   CO       33767 non-null  float64
 10  O3       33986 non-null  float64
 11  TEMP     35045 non-null  float64
 12  PRES     35045 non-null  float64
 13  DEWP     35045 non-null  float64
 14  RAIN     35045 non-null  float64
 15  wd       34985 non-null  object
 16  WSPM     35051 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

*temporary insight*

Dari informasi tersebut, dapat disimpulkan bahwa meskipun dataset Wanshouxigong_df memiliki struktur yang baik dengan banyak kolom terisi, masalah utama terletak pada missing values di banyak kolom, khususnya pada kolom yang berkaitan dengan kualitas udara (PM2.5, PM10, SO2, dll.). Hal ini dapat memengaruhi analisis selanjutnya, terutama jika kita ingin melakukan analisis statistik. Dan untuk tipe data, secara umum tidak ada masalah signifikan dengan tipe data di seluruh kolom.


Untuk melihat detail dari masalah missing values dapat dilihat rincian berikut:

In [59]:
Wanshouxigong_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       696
PM10        484
SO2         669
NO2         754
CO         1297
O3         1078
TEMP         19
PRES         19
DEWP         19
RAIN         19
wd           79
WSPM         13
station       0
dtype: int64

*temporary insight*

Berikut adalah ringkasan jumlah nilai yang hilang pada beberapa kolom:

- PM2.5: 696 missing values
- PM10: 484 missing values
- SO2: 669 missing values
- NO2: 754 missing values
- CO: 1.297 missing values
- O3: 1.078 missing values
- TEMP, PRES, DEWP, RAIN: Masing-masing memiliki 19 missing values
- wd: 79 missing values
- WSPM: 13 missing values

In [60]:
print("Jumlah duplikasi data: ", Wanshouxigong_df.duplicated().sum())

Jumlah duplikasi data:  0

*temporary insight*

Dari kode pengecekan duplikasi data di atas, **tidak ditemukan** adanya **duplikasi data** pada data Tiantan_df tersebut.

In [61]:
Wanshouxigong_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34368.000000,34580.000000,34395.000000,34310.00000,33767.000000,33986.000000,35045.000000,35045.000000,35045.000000,35045.000000,35051.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,85.024136,112.223459,17.148603,55.52956,1370.395031,56.229904,13.784477,1011.511804,2.707442,0.064320,1.745314
std,10122.249256,1.177213,3.448752,8.800218,6.922285,85.975981,97.593210,23.940834,35.80805,1223.139114,57.082710,11.385156,10.570928,13.704139,0.796981,1.206355
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.00000,100.000000,0.214200,-16.800000,985.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,23.000000,39.000000,3.000000,28.00000,600.000000,8.000000,3.400000,1002.800000,-8.500000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,60.000000,91.000000,8.000000,49.00000,1000.000000,42.000000,14.800000,1011.000000,3.300000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,116.000000,154.000000,21.000000,77.00000,1700.000000,82.000000,23.500000,1020.000000,15.200000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,999.000000,961.000000,411.000000,251.00000,9800.000000,358.000000,40.600000,1042.000000,28.500000,46.400000,13.200000

*temporary insight*

Berdasarkan output dari Wanshouxigong_df.describe(), berikut adalah beberapa keanehan dan potensi masalah yang perlu diperhatikan. Utamanya pada Nilai Maksimum dan Minimum:

- PM2.5 memiliki nilai maksimum 999. Ini tampaknya tidak realistis karena nilai PM2.5 biasanya berada dalam rentang yang lebih rendah (umumnya di bawah 500 µg/m³ dalam pengukuran standar). Ini menunjukkan ada kemungkinan nilai yang tidak akurat.
- PM10 memiliki nilai maksimum 961, yang juga terbilang tinggi dan mungkin perlu dianalisis lebih lanjut.
- CO memiliki nilai maksimum 9800, yang jelas tidak wajar untuk konsentrasi karbon monoksida, menunjukkan adanya kesalahan data.

*temporary insight*


**Summary of Assessing Data Step**


1. Tipe Data


   Tidak ditemukan ada masalah tipe data untuk kolom numerik, seperti PM2.5, PM10, TEMP, dan PRES, karena mereka sudah berada dalam tipe data numerik yang tepat (float64 atau int64). Lalu untuk kolom wd memiliki tipe data object, yang menunjukkan bahwa kolom ini berisi data string. Ini wajar karena arah angin biasanya dinyatakan dalam bentuk teks seperti "N", "S", "E", "W", atau kombinasi dari mereka (misalnya, "NE" untuk Northeast). Jadi tipe data object untuk kolom ini sudah sesuai. Kolom station juga bertipe object, dan ini sesuai karena stasiun monitoring biasanya dinyatakan dengan nama atau kode, yang merupakan string.


3. Missing Values

   Hampir semua dataset memiliki missing values pada kolom-kolom polutan seperti: PM2.5, PM10, SO2, NO2, CO, O3. Contoh jumlah missing values:

   - Dataset Aotizhongxin.csv: missing values pada PM2.5 dan PM10 mencapai lebih dari 500 entri.
   - Dataset Changping.csv: terdapat missing values yang signifikan pada PM2.5 dan CO.
   - Kolom meteorologi seperti TEMP, PRES, RAIN, dan WSPM memiliki sedikit missing values di beberapa dataset, tapi jumlahnya tidak terlalu banyak dibandingkan kolom polutan.
   - Kolom wd (wind direction) juga memiliki missing values di beberapa dataset.


4. Duplicate Data

   Tidak ditemukan data duplikat dalam semua dataset berdasarkan output info() dan describe().


5. Inaccurate Values

   Beberapa dataset memiliki inaccurate values atau outliers pada kolom polutan, terutama pada nilai maksimum yang sangat tinggi, misalnya:
   - CO dengan nilai maksimum mencapai 9800, yang jauh dari rentang normal.
   - PM2.5 dan PM10 pada beberapa dataset, seperti Wanshouxigong.csv, mencapai nilai 999 dan 961, yang tampak tidak realistis.
   - Kolom TEMP menunjukkan nilai ekstrem minimum, seperti -34.9°C hingga -35.3°C, yang mungkin perlu diperiksa untuk validitasnya.
   - Nilai RAIN juga menunjukkan angka yang mencurigakan pada beberapa dataset dengan nilai maksimum 72.5 mm di Wanliu.csv, yang perlu diselidiki lebih lanjut.

### Cleaning Data

#### Membersihkan Data Aotizhongxin_df

##### Menangani Missing Values pada data Aotizhongxin_df

###### Missing Values data Aotizhongxing_df kolom PM2.5

In [62]:
Aotizhongxin_df[Aotizhongxin_df['PM2.5'].isna()]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
1509,1510,2013,5,2,21,NaN,183.0,63.0000,93.0000,1200.0,38.0000,18.5,1006.1,6.0,0.0,SE,2.8,Aotizhongxin
1837,1838,2013,5,16,13,NaN,98.0,46.0000,35.0000,600.0,166.0000,26.1,1009.9,10.7,0.0,SW,2.7,Aotizhongxin
2368,2369,2013,6,7,16,NaN,137.0,12.0000,74.0000,2500.0,8.0000,20.7,1002.4,19.4,0.0,NNE,0.8,Aotizhongxin
2785,2786,2013,6,25,1,NaN,35.0,3.1416,35.1063,NaN,60.6186,20.8,996.5,20.5,0.0,NE,0.2,Aotizhongxin
2808,2809,2013,6,26,0,NaN,183.0,64.2600,40.0335,NaN,NaN,21.7,993.0,21.2,0.0,NNW,0.4,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34880,34881,2017,2,21,8,NaN,NaN,NaN,NaN,NaN,NaN,-0.3,1028.8,-15.8,0.0,SSE,1.0,Aotizhongxin
34883,34884,2017,2,21,11,NaN,NaN,NaN,NaN,NaN,NaN,1.3,1028.0,-16.1,0.0,S,1.5,Aotizhongxin
34885,34886,2017,2,21,13,NaN,NaN,NaN,NaN,NaN,NaN,-2.1,1027.4,-4.1,0.7,WSW,3.2,Aotizhongxin
35028,35029,2017,2,27,12,NaN,NaN,NaN,NaN,NaN,NaN,12.1,1017.3,-5.4,0.0,SSW,1.2,Aotizhongxin
35029,35030,2017,2,27,13,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1015.8,-5.2,0.0,SSE,1.8,Aotizhongxin

In [63]:
# Menghapus baris yang mengandung missing values pada kolom PM2.5
Aotizhongxin_df_cleaned = Aotizhongxin_df.dropna(subset=['PM2.5'])

# Memeriksa jumlah baris setelah proses pembersihan
print(Aotizhongxin_df_cleaned.shape)

(34139, 18)

*temporary insight*

- `dropna(subset=['PM2.5'])` untuk menghapus semua baris yang memiliki nilai NaN pada kolom PM2.5.
- Melihat jumlah baris yang tersisa di dataset dengan menggunakan `.shape` untuk memastikan jumlahnya.


Menangani missing values pada kolom PM2.5 dengan menggunakan metode dropping. Ini merupakan langkah praktis mengingat jumlah data yang besar (35 ribu rows). Menghapus 925 baris tidak akan memberikan dampak signifikan terhadap keseluruhan dataset. Langkah ini memastikan bahwa analisis selanjutnya akan dilakukan dengan data yang bersih, tanpa missing values pada kolom PM2.5, dan dataset tetap representatif.

###### Missing Values Data Aotizhongxin_df_cleaned kolom PM10

In [64]:
Aotizhongxin_df_cleaned.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5         0
PM10          9
SO2         282
NO2         363
CO         1115
O3         1067
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

In [65]:
Aotizhongxin_df_cleaned[Aotizhongxin_df_cleaned.PM10.isna()]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
204,205,2013,3,9,12,78.0,NaN,10.0,10.0,300.0,68.0,12.4,1004.3,-14.4,0.0,NW,7.9,Aotizhongxin
2949,2950,2013,7,1,21,85.0,NaN,12.0,79.0,2100.0,4.0,24.0,990.3,23.3,5.7,N,0.6,Aotizhongxin
3133,3134,2013,7,9,13,52.0,NaN,6.0,50.0,700.0,48.0,23.7,997.9,22.9,2.2,NE,1.4,Aotizhongxin
4513,4514,2013,9,5,1,24.0,NaN,1.0,35.0,400.0,49.0,17.9,1009.6,17.6,1.1,NNE,1.0,Aotizhongxin
4706,4707,2013,9,13,2,61.0,NaN,2.0,35.0,500.0,54.0,18.9,1002.3,17.4,0.0,SSW,1.0,Aotizhongxin
18180,18181,2015,3,28,12,103.0,NaN,3.0,11.0,300.0,87.0,19.4,1008.5,-1.2,0.0,NW,7.0,Aotizhongxin
18181,18182,2015,3,28,13,96.0,NaN,2.0,12.0,300.0,89.0,20.4,1008.1,-0.9,0.0,WNW,6.6,Aotizhongxin
18619,18620,2015,4,15,19,243.0,NaN,2.0,16.0,NaN,90.0,20.6,996.0,0.4,0.0,NNW,6.0,Aotizhongxin
25778,25779,2016,2,8,2,898.0,NaN,341.0,92.0,1900.0,10.0,-1.6,1009.9,-15.1,0.0,SW,1.1,Aotizhongxin

In [66]:
# Menghapus baris yang mengandung missing values pada kolom PM10
Aotizhongxin_df_cleaned = Aotizhongxin_df_cleaned.dropna(subset=['PM10'])

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
print("Jumlah Data Aotizhongxin_df_cleaned saat ini: ", Aotizhongxin_df_cleaned.shape)

# Memeriksa kembali apakah missing values pada kolom PM10 sudah dihilangkan
print(Aotizhongxin_df_cleaned.isna().sum())

Jumlah Data Aotizhongxin_df_cleaned saat ini:  (34130, 18)
No            0
year          0
month         0
day           0
hour          0
PM2.5         0
PM10          0
SO2         282
NO2         363
CO         1114
O3         1067
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

*temporary insight*


Dilakukan juga metode dropping untuk menghilangkan missing values pada kolom PM10 data Aotizhongxin_df_cleaned. Metode dropping ini masih efektif karena hanya menghapus sedikit baris (9 baris) dari dataset yang besar, sehingga tidak berdampak signifikan pada analisis keseluruhan.

###### Missing Values Data Aotizhongxin_df_cleaned kolom SO2

In [67]:
Aotizhongxin_df_cleaned[Aotizhongxin_df_cleaned.SO2.isna()]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
74,75,2013,3,4,2,34.0,62.0,NaN,14.0,300.0,68.0,8.10,1016.7,-11.8,0.0,N,4.3,Aotizhongxin
170,171,2013,3,8,2,339.0,400.0,NaN,162.0,3899.0,84.0,2.50,998.2,-1.9,0.0,SW,0.8,Aotizhongxin
627,628,2013,3,27,3,129.0,163.0,NaN,54.0,NaN,NaN,4.30,1001.7,3.0,0.0,W,0.8,Aotizhongxin
628,629,2013,3,27,4,135.0,161.0,NaN,54.0,900.0,2.0,2.90,1001.5,1.9,0.0,W,0.9,Aotizhongxin
629,630,2013,3,27,5,135.0,153.0,NaN,64.0,1000.0,2.0,2.80,1001.4,2.2,0.0,SSW,0.5,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33547,33548,2016,12,27,19,49.0,104.0,NaN,NaN,NaN,NaN,0.60,1028.4,-9.7,0.0,SW,3.2,Aotizhongxin
33878,33879,2017,1,10,14,3.0,6.0,NaN,6.0,NaN,69.0,3.85,1024.5,-19.7,0.0,NW,4.3,Aotizhongxin
33879,33880,2017,1,10,15,3.0,6.0,NaN,NaN,300.0,70.0,4.48,1024.0,-20.7,0.0,W,2.0,Aotizhongxin
34912,34913,2017,2,22,16,131.0,131.0,NaN,95.0,NaN,47.0,6.00,1017.0,-4.2,0.0,WNW,1.2,Aotizhongxin
35027,35028,2017,2,27,11,122.0,122.0,NaN,NaN,NaN,42.0,10.00,1018.3,-5.6,0.0,ESE,1.4,Aotizhongxin

In [68]:
# Menghapus baris yang mengandung missing values pada kolom SO2
Aotizhongxin_df_cleaned = Aotizhongxin_df_cleaned.dropna(subset=['SO2'])

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
print("Jumlah Data Aotizhongxin_df_cleaned saat ini: ", Aotizhongxin_df_cleaned.shape)

# Memeriksa kembali apakah missing values pada kolom SO2 sudah dihilangkan
print(Aotizhongxin_df_cleaned.isna().sum())

Jumlah Data Aotizhongxin_df_cleaned saat ini:  (33848, 18)
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2        243
CO         973
O3         972
TEMP        20
PRES        20
DEWP        20
RAIN        20
wd          81
WSPM        14
station      0
dtype: int64

*temporary insight*


Dilakukan juga metode dropping untuk menghilangkan missing values pada kolom SO2 data Aotizhongxin_df_cleaned. Metode dropping ini masih efektif karena hanya menghapus 282 baris dari dataset yang besar, sehingga tidak berdampak signifikan pada analisis keseluruhan.

###### Missing Values Data Aotizhongxin_df_cleaned kolom NO2

In [69]:
Aotizhongxin_df_cleaned[Aotizhongxin_df_cleaned.NO2.isna()]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
76,77,2013,3,4,4,7.0,18.0,14.0,NaN,400.0,42.0,6.000,1018.0,-11.6,0.0,NNW,1.0,Aotizhongxin
172,173,2013,3,8,4,322.0,345.0,62.0,NaN,3299.0,84.0,1.300,998.5,-1.8,0.0,W,1.0,Aotizhongxin
1109,1110,2013,4,16,5,50.0,156.0,46.0,NaN,1300.0,11.0,8.500,998.7,2.3,0.0,NE,1.1,Aotizhongxin
1110,1111,2013,4,16,6,58.0,185.0,35.0,NaN,1300.0,2.0,10.100,999.6,2.4,0.0,NE,1.9,Aotizhongxin
1111,1112,2013,4,16,7,57.0,185.0,35.0,NaN,1300.0,7.0,13.300,1000.5,3.1,0.0,NNW,1.8,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33122,33123,2016,12,10,2,69.0,96.0,25.0,NaN,2300.0,3.0,-4.300,1026.0,-9.3,0.0,ENE,1.2,Aotizhongxin
33170,33171,2016,12,12,2,219.0,221.0,47.0,NaN,3500.0,2.0,1.700,1018.2,-4.6,0.0,NE,1.2,Aotizhongxin
33218,33219,2016,12,14,2,9.0,14.0,3.0,NaN,300.0,46.0,-2.700,1031.7,-18.3,0.0,ENE,1.7,Aotizhongxin
33880,33881,2017,1,10,16,5.0,6.0,4.0,NaN,300.0,65.0,4.050,1024.0,-16.1,0.0,SW,3.4,Aotizhongxin
33899,33900,2017,1,11,11,3.0,6.0,19.0,NaN,2100.0,14.0,0.625,1023.0,-10.0,0.0,NW,1.1,Aotizhongxin

In [70]:
# Menghapus baris yang mengandung missing values pada kolom NO2
Aotizhongxin_df_cleaned = Aotizhongxin_df_cleaned.dropna(subset=['NO2'])

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
print("Jumlah Data Aotizhongxin_df_cleaned saat ini: ", Aotizhongxin_df_cleaned.shape)

# Memeriksa kembali apakah missing values pada kolom NO2 sudah dihilangkan
print(Aotizhongxin_df_cleaned.isna().sum())

Jumlah Data Aotizhongxin_df_cleaned saat ini:  (33605, 18)
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO         951
O3         961
TEMP        20
PRES        20
DEWP        20
RAIN        20
wd          81
WSPM        14
station      0
dtype: int64

*temporary insight*


Dilakukan juga metode dropping untuk menghilangkan missing values pada kolom NO2 data Aotizhongxin_df_cleaned. Metode dropping ini masih efektif karena hanya menghapus 243 baris dari dataset yang besar, sehingga tidak berdampak signifikan pada analisis keseluruhan.

###### Missing Values Data Aotizhongxin_df_cleaned kolom CO

In [71]:
Aotizhongxin_df_cleaned[Aotizhongxin_df_cleaned.CO.isna()]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
75,76,2013,3,4,3,12.0,34.0,6.0000,12.0000,NaN,77.0,7.200000,1016.9,-11.6,0.0,N,2.8,Aotizhongxin
124,125,2013,3,6,4,192.0,203.0,83.6808,140.4252,NaN,22.0,3.900000,1007.3,-6.1,0.0,NE,1.4,Aotizhongxin
171,172,2013,3,8,3,324.0,373.0,71.0000,154.0000,NaN,84.0,1.800000,997.9,-1.8,0.0,N,0.0,Aotizhongxin
178,179,2013,3,8,10,326.0,844.0,125.9496,179.2269,NaN,84.0,19.100000,1000.9,-0.4,0.0,SSW,1.9,Aotizhongxin
267,268,2013,3,12,3,117.0,127.0,73.0000,81.0000,NaN,47.0,6.400000,1005.8,-1.0,0.1,N,2.2,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34064,34065,2017,1,18,8,25.0,30.0,14.0000,49.0000,NaN,35.0,-5.462500,1030.0,-15.8,0.0,NE,1.9,Aotizhongxin
34065,34066,2017,1,18,9,21.0,44.0,3.0000,2.0000,NaN,31.0,-4.900000,1031.0,-15.6,0.0,NE,3.2,Aotizhongxin
34066,34067,2017,1,18,10,22.0,37.0,5.0000,39.0000,NaN,54.0,-2.966667,1031.0,-16.1,0.0,NE,2.7,Aotizhongxin
34411,34412,2017,2,1,19,44.0,90.0,21.0000,46.0000,NaN,88.0,1.600000,1031.9,-20.2,0.0,WSW,2.2,Aotizhongxin
34602,34603,2017,2,9,18,3.0,23.0,3.0000,10.0000,NaN,88.0,0.200000,1023.0,-22.1,0.0,N,3.6,Aotizhongxin

In [72]:
# Mengisi missing values pada kolom CO dengan nilai rata-rata (mean)
Aotizhongxin_df_cleaned['CO'] = Aotizhongxin_df_cleaned['CO'].fillna(Aotizhongxin_df_cleaned['CO'].mean())

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
print("Jumlah Data Aotizhongxin_df_cleaned saat ini: ", Aotizhongxin_df_cleaned.shape)

# Memeriksa apakah missing values pada kolom CO sudah dihilangkan
print(Aotizhongxin_df_cleaned.isna().sum())

Jumlah Data Aotizhongxin_df_cleaned saat ini:  (33605, 18)
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3         961
TEMP        20
PRES        20
DEWP        20
RAIN        20
wd          81
WSPM        14
station      0
dtype: int64

*temporary insight*

Melalukan langkah-langkah data cleaning dengan metode imputation untuk menangani missing values pada kolom CO. Dengan memilih imputation, diharapkan bisa mempertahankan sebagian besar data tanpa harus menghapus baris-baris penting, yang mungkin memiliki pengaruh signifikan dalam analisis mendatang. Hal ini dilakukan dengan mengganti nilai yang hilang (missing values) pada kolom CO dengan nilai yang masuk akal, dalam hal ini mengganti missing values tersebut dengan nilai rata-rata (mean) dari kolom CO.

###### Missing Values Data Aotizhongxin_df_cleaned kolom O3

In [73]:
Aotizhongxin_df_cleaned[Aotizhongxin_df_cleaned.O3.isna()]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
435,436,2013,3,19,3,33.0,41.0,15.0,50.0,1263.922368,NaN,0.800,1005.80,-3.0,0.0,ENE,1.5,Aotizhongxin
436,437,2013,3,19,4,31.0,35.0,15.0,49.0,1263.922368,NaN,0.100,1005.40,-3.5,0.0,N,1.4,Aotizhongxin
531,532,2013,3,23,3,51.0,70.0,12.0,85.0,1263.922368,NaN,1.500,1008.50,-2.5,0.0,WNW,0.6,Aotizhongxin
578,579,2013,3,25,2,73.0,121.0,42.0,105.0,1263.922368,NaN,0.500,1017.00,-6.8,0.0,NNE,1.3,Aotizhongxin
579,580,2013,3,25,3,79.0,140.0,26.0,95.0,1263.922368,NaN,0.300,1017.40,-5.1,0.0,NE,1.2,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33881,33882,2017,1,10,17,7.0,9.0,4.0,19.0,400.000000,NaN,2.350,1025.00,-14.9,0.0,SW,2.7,Aotizhongxin
33892,33893,2017,1,11,4,98.0,128.0,29.0,106.0,3500.000000,NaN,-4.775,1024.25,-11.8,0.0,NaN,0.5,Aotizhongxin
34060,34061,2017,1,18,4,44.0,44.0,17.0,57.0,1263.922368,NaN,-5.325,1031.00,-12.0,0.0,NE,2.1,Aotizhongxin
34861,34862,2017,2,20,13,7.0,27.0,6.0,12.0,300.000000,NaN,1.900,1028.60,-22.9,0.0,N,2.7,Aotizhongxin
34913,34914,2017,2,22,17,28.0,28.0,11.0,17.0,500.000000,NaN,6.800,1017.60,-9.2,0.0,NNW,2.6,Aotizhongxin

In [74]:
# Mengisi missing values pada kolom O3 dengan nilai rata-rata (mean)
Aotizhongxin_df_cleaned['O3'] = Aotizhongxin_df_cleaned['O3'].fillna(Aotizhongxin_df_cleaned['O3'].mean())

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
print("Jumlah Data Aotizhongxin_df_cleaned saat ini: ", Aotizhongxin_df_cleaned.shape)

# Memeriksa apakah missing values pada kolom O3 sudah dihilangkan
print(Aotizhongxin_df_cleaned.isna().sum())

Jumlah Data Aotizhongxin_df_cleaned saat ini:  (33605, 18)
No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP       20
PRES       20
DEWP       20
RAIN       20
wd         81
WSPM       14
station     0
dtype: int64

*temporary insight*

Melalukan langkah-langkah data cleaning dengan metode imputation untuk menangani missing values pada kolom O3. Dengan memilih imputation, diharapkan bisa mempertahankan sebagian besar data tanpa harus menghapus baris-baris penting, yang mungkin memiliki pengaruh signifikan dalam analisis mendatang. Hal ini dilakukan dengan mengganti nilai yang hilang (missing values) pada kolom O3 dengan nilai yang masuk akal, dalam hal ini mengganti missing values tersebut dengan nilai rata-rata (mean) dari kolom O3.

###### Missing Values Data Aotizhongxin_df_cleaned kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM

In [75]:
# Menghapus baris yang mengandung missing values pada kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM
Aotizhongxin_df_cleaned = Aotizhongxin_df_cleaned.dropna(subset=['TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM'])

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
print("Jumlah Data Aotizhongxin_df_cleaned saat ini: ", Aotizhongxin_df_cleaned.shape)

# Memeriksa apakah masih ada missing values yang tersisa
print(Aotizhongxin_df_cleaned.isna().sum())

Jumlah Data Aotizhongxin_df_cleaned saat ini:  (33518, 18)
No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

*temporary insight*

Melihat jumlah missing values yang ada di kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM, serta mempertimbangkan jumlah total data yang cukup besar (33605 baris), keputusan untuk menggunakan metode dropping tampaknya tepat. Menghapus data yang relatif sedikit tidak akan berdampak signifikan pada keseluruhan dataset.

Sehingga saat ini dataset Aotizhongxin_df_cleaned telah bersih dari missing values.

##### Menangani inaccurate value pada Aotizhongxin_df_cleaned

###### Inaccurate value pada Aotizhongxing_df_cleaned kolom PM2.5

In [76]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM2.5
max_pm25_row = Aotizhongxin_df_cleaned[Aotizhongxin_df_cleaned['PM2.5'] == Aotizhongxin_df_cleaned['PM2.5'].max()]
print(max_pm25_row)

          No  year  month  day  hour  PM2.5   PM10    SO2   NO2      CO  \
25779  25780  2016      2    8     3  713.0  884.0  229.0  91.0  2100.0
34301  34302  2017      1   28     5  713.0  858.0  164.0  95.0  3500.0

          O3   TEMP     PRES  DEWP  RAIN  wd  WSPM       station
25779   10.0 -2.600  1008.80 -14.4   0.0   W   0.6  Aotizhongxin
34301  125.0 -3.275  1018.75 -12.2   0.0  NE   2.0  Aotizhongxin

In [77]:
# Menentukan batas maksimum untuk PM2.5
batas_maksimum_pm25 = 500

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang = Aotizhongxin_df_cleaned[Aotizhongxin_df_cleaned['PM2.5'] > batas_maksimum_pm25].shape[0]

# Menghapus baris yang memiliki nilai PM2.5 lebih dari batas maksimum
Aotizhongxin_df_cleaned = Aotizhongxin_df_cleaned[Aotizhongxin_df_cleaned['PM2.5'] <= batas_maksimum_pm25]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa = Aotizhongxin_df_cleaned.shape[0]

# Menampilkan informasi
print(f"Jumlah baris yang dihapus pada Aotizhongxin_df_cleaned: {jumlah_baris_hilang}")
print(f"Jumlah baris tersisa setelah penghapusan pada Aotizhongxin_df_cleaned: {jumlah_baris_tersisa}")

Jumlah baris yang dihapus pada Aotizhongxin_df_cleaned: 74
Jumlah baris tersisa setelah penghapusan pada Aotizhongxin_df_cleaned: 33444

*temporary insight*

Dilakukan penetapan batas maksimum untuk PM2.5, dengan nilai 500. Atas dasar karena dalam banyak studi, nilai PM2.5 yang lebih dari 500 bisa dianggap tidak wajar. kemudian menghitung jumlah baris data yang akan dihapus pada Aotizhongxin_df_cleaned. Dengan menggunakan kondisi untuk menghitung jumlah baris yang memiliki nilai PM2.5 lebih dari batas maksimum. Lalu menghapus baris dan memeriksa ukuran dataset saat ini. Dalam hal ini dapat dilihat, bahwa jumlah baris data yang dihapus atau memiliki nilai PM2.5 lebih dari 500 sebanyak 74 baris data. Dan setelah dilakukan dropping values, tersisa 33444 baris data pada Aotizhongxin_df_cleaned.

###### Inaccurate value pada Aotizhongxing_df_cleaned kolom PM10

In [78]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM10
max_pm25_row = Aotizhongxin_df_cleaned[Aotizhongxin_df_cleaned['PM10'] == Aotizhongxin_df_cleaned['PM10'].max()]
print(max_pm25_row)

          No  year  month  day  hour  PM2.5   PM10   SO2   NO2           CO  \
18618  18619  2015      4   15    18  168.0  984.0  19.0  82.0  1263.922368

          O3  TEMP   PRES  DEWP  RAIN   wd  WSPM       station
18618  100.0  23.5  993.6   2.9   0.0  NNW   4.8  Aotizhongxin

In [79]:
# Menentukan batas maksimum untuk PM10
batas_maksimum_pm10 = 300.0 

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_pm10 = Aotizhongxin_df_cleaned[Aotizhongxin_df_cleaned['PM10'] > batas_maksimum_pm10].shape[0]
print(f"Jumlah baris yang dihapus dari PM10: {jumlah_baris_hilang_pm10}")

Jumlah baris yang dihapus dari PM10: 1428

In [80]:
# Menghapus baris yang memiliki nilai PM10 lebih dari batas maksimum
Aotizhongxin_df_cleaned = Aotizhongxin_df_cleaned[Aotizhongxin_df_cleaned['PM10'] <= batas_maksimum_pm10]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_pm10 = Aotizhongxin_df_cleaned.shape[0]

print(f"Jumlah baris tersisa setelah penghapusan PM10: {jumlah_baris_tersisa_pm10}")

Jumlah baris tersisa setelah penghapusan PM10: 32016

*temporary value*

Dilakukan pembersihan inaccurate value pada data Aotizhongxin_df_cleaned dengan melakukan dropping. atau menghapus (drop) data pada kolom PM10 yang melebihi ambang batas yang telah ditentukan. Yakni nilai yang ditentukan tidak wajar, denagn pemilihan batas maksimum 300.0 adalah berdasarkan pemahaman tentang kualitas udara dan standar yang umum digunakan. Nilai ini didasarkan pada standar kualitas udara, di mana nilai PM10 di atas 300.0 bisa dianggap sebagai tidak wajar dan mungkin menunjukkan kesalahan pengukuran atau data yang tidak konsisten. Karena berdasarkan analisah yang telah dilakuan, batas maksimum yang wajar untuk PM10 bisa disarankan antara 150.0 hingga 300.0 untuk kualitas udara yang baik, dan nilai di atas 300.0 bisa dianggap sebagai data tidak wajar dalam konteks tertentu. Setelah penghapusan, diberikan informasi yang jelas tentang berapa banyak data yang hilang dan berapa banyak data yang tersisa, memastikan bahwa analisis selanjutnya didasarkan pada data yang valid.

###### Inaccurate value pada Aotizhongxing_df_cleaned kolom CO

In [81]:
# Identifikasi nilai CO yang tidak realistis (di atas 50 mg/m³ dan di bawah 0 mg/m³)
unrealistic_co = Aotizhongxin_df_cleaned[(Aotizhongxin_df_cleaned['CO'] > 50) | (Aotizhongxin_df_cleaned['CO'] < 0)]
print(unrealistic_co)

          No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO    O3  \
0          1  2013      3    1     0    4.0   4.0   4.0   7.0  300.0  77.0
1          2  2013      3    1     1    8.0   8.0   4.0   7.0  300.0  77.0
2          3  2013      3    1     2    7.0   7.0   5.0  10.0  300.0  73.0
3          4  2013      3    1     3    6.0   6.0  11.0  11.0  300.0  72.0
4          5  2013      3    1     4    3.0   3.0  12.0  12.0  300.0  72.0
...      ...   ...    ...  ...   ...    ...   ...   ...   ...    ...   ...
35059  35060  2017      2   28    19   12.0  29.0   5.0  35.0  400.0  95.0
35060  35061  2017      2   28    20   13.0  37.0   7.0  45.0  500.0  81.0
35061  35062  2017      2   28    21   16.0  37.0  10.0  66.0  700.0  58.0
35062  35063  2017      2   28    22   21.0  44.0  12.0  87.0  700.0  35.0
35063  35064  2017      2   28    23   19.0  31.0  10.0  79.0  600.0  42.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM       station
0      -0.7  1023.0 -18.8   0.0  NNW   4.4  Aotizhongxin
1      -1.1  1023.2 -18.2   0.0    N   4.7  Aotizhongxin
2      -1.1  1023.5 -18.2   0.0  NNW   5.6  Aotizhongxin
3      -1.4  1024.5 -19.4   0.0   NW   3.1  Aotizhongxin
4      -2.0  1025.2 -19.5   0.0    N   2.0  Aotizhongxin
...     ...     ...   ...   ...  ...   ...           ...
35059  12.5  1013.5 -16.2   0.0   NW   2.4  Aotizhongxin
35060  11.6  1013.6 -15.1   0.0  WNW   0.9  Aotizhongxin
35061  10.8  1014.2 -13.3   0.0   NW   1.1  Aotizhongxin
35062  10.5  1014.4 -12.9   0.0  NNW   1.2  Aotizhongxin
35063   8.6  1014.1 -15.9   0.0  NNE   1.3  Aotizhongxin

[32016 rows x 18 columns]

In [82]:
# Mengonversi nilai CO dari ratusan ke puluhan (mg/m³)
Aotizhongxin_df_cleaned['CO'] = Aotizhongxin_df_cleaned['CO'] / 10

In [83]:
# Memvalidasi hasil konversi
Aotizhongxin_df_cleaned['CO'].describe()

count    32016.000000
mean       114.781232
std         98.294315
min         10.000000
25%         50.000000
50%         80.000000
75%        140.000000
max        900.000000
Name: CO, dtype: float64

In [84]:
# Cek data CO yang masih tidak realistis (lebih dari 50 mg/m³ atau kurang dari 0 mg/m³).
unrealistic_co_after_conversion = Aotizhongxin_df_cleaned[(Aotizhongxin_df_cleaned['CO'] > 50) | (Aotizhongxin_df_cleaned['CO'] < 0)]
print(unrealistic_co_after_conversion)

          No  year  month  day  hour  PM2.5   PM10   SO2    NO2     CO    O3  \
20        21  2013      3    1    20   11.0   17.0  13.0   33.0   60.0  55.0
22        23  2013      3    1    22   15.0   19.0  21.0   57.0   70.0  32.0
23        24  2013      3    1    23   24.0   24.0  26.0   54.0   60.0  36.0
33        34  2013      3    2     9   10.0   14.0  47.0   62.0   70.0  29.0
34        35  2013      3    2    10   11.0   19.0  36.0   60.0   60.0  34.0
...      ...   ...    ...  ...   ...    ...    ...   ...    ...    ...   ...
35039  35040  2017      2   27    23   70.0  107.0  28.0  131.0  170.0  19.0
35040  35041  2017      2   28     0   56.0   56.0  22.0  119.0  140.0  18.0
35061  35062  2017      2   28    21   16.0   37.0  10.0   66.0   70.0  58.0
35062  35063  2017      2   28    22   21.0   44.0  12.0   87.0   70.0  35.0
35063  35064  2017      2   28    23   19.0   31.0  10.0   79.0   60.0  42.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM       station
20      1.7  1029.1 -17.3   0.0    N   2.1  Aotizhongxin
22      0.9  1030.5 -17.4   0.0  ENE   1.8  Aotizhongxin
23     -0.2  1030.5 -17.4   0.0  ENE   1.4  Aotizhongxin
33      0.6  1029.7 -16.7   0.0   NE   1.7  Aotizhongxin
34      1.7  1028.9 -16.3   0.0    W   1.6  Aotizhongxin
...     ...     ...   ...   ...  ...   ...           ...
35039  10.9  1015.6  -7.4   0.0  NNW   1.4  Aotizhongxin
35040   9.9  1015.6  -8.3   0.0  NNE   1.5  Aotizhongxin
35061  10.8  1014.2 -13.3   0.0   NW   1.1  Aotizhongxin
35062  10.5  1014.4 -12.9   0.0  NNW   1.2  Aotizhongxin
35063   8.6  1014.1 -15.9   0.0  NNE   1.3  Aotizhongxin

[22627 rows x 18 columns]

In [85]:
# Imputasi nilai CO yang masih tidak realistis dengan nilai median
median_co_after_conversion = Aotizhongxin_df_cleaned[(Aotizhongxin_df_cleaned['CO'] >= 0) & (Aotizhongxin_df_cleaned['CO'] <= 50)]['CO'].median()
Aotizhongxin_df_cleaned['CO'] = Aotizhongxin_df_cleaned['CO'].apply(lambda x: median_co_after_conversion if x > 50 or x < 0 else x)

In [86]:
# Cek deskripsi dataset yang sudah dilakukan proses konversi dan imputasi
print(Aotizhongxin_df_cleaned.describe())

                 No          year         month           day          hour  \
count  32016.000000  32016.000000  32016.000000  32016.000000  32016.000000
mean   17476.957521   2014.662075      6.459333     15.532328     11.511494
std    10196.928392      1.184456      3.375612      8.758242      6.891284
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8516.750000   2014.000000      4.000000      8.000000      6.000000
50%    17681.500000   2015.000000      7.000000     15.000000     11.000000
75%    26322.250000   2016.000000      9.000000     23.000000     17.000000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  32016.000000  32016.000000  32016.000000  32016.000000  32016.000000
mean      72.430872     96.840742     16.198248     56.418443     39.084833
std       62.893043     71.574400     20.728177     33.541815      6.046273
min        3.000000      2.000000      0.285600      2.000000     10.000000
25%       21.000000     36.000000      3.000000     30.000000     40.000000
50%       55.000000     82.000000      8.000000     52.000000     40.000000
75%      105.000000    143.000000     20.000000     78.000000     40.000000
max      402.000000    300.000000    186.000000    243.000000     50.000000

                 O3         TEMP          PRES          DEWP          RAIN  \
count  32016.000000  32016.00000  32016.000000  32016.000000  32016.000000
mean      57.813851     14.01743   1011.626816      3.426549      0.071592
std       57.494607     11.38188     10.461851     13.813399      0.943115
min        0.214200    -16.80000    985.900000    -35.300000      0.000000
25%       10.000000      3.80000   1003.000000     -8.100000      0.000000
50%       46.000000     15.20000   1011.000000      4.500000      0.000000
75%       82.000000     23.60000   1020.000000     16.100000      0.000000
max      423.000000     40.50000   1042.000000     28.500000     72.500000

               WSPM
count  32016.000000
mean       1.722745
std        1.199608
min        0.000000
25%        0.900000
50%        1.400000
75%        2.300000
max       11.200000

*temporary insight*

Proses ini mengonversi nilai CO menjadi lebih realistis dengan membaginya dengan 10, sesuai asumsi bahwa alat pengukuran mungkin salah mendeteksi dalam kelipatan tersebut. Karena nilai CO yang realistis (nilai CO antara 0 hingga 50 mg/m³). Setelah konversi, dilakukan validasi lebih lanjut untuk memastikan bahwa semua nilai CO berada dalam rentang yang wajar. Jika ada nilai yang masih tidak realistis, digunakan metode imputasi dengan nilai median CO yang sudah bersih. Hal ini dilakukan karena kurangnya informasi dari dataset tesebut mengenai satuan ukur apa yang digunakan pada tiap-tiap kolomnya, sehingga dibuat asusmsi berdasarkan nilai satuan yang umum digunakan di publik, berdasarkan riset yang telah dilakukan. Dengan cara ini, dataset Aotizhongxin_df_cleaned sudah lebih akurat untuk analisis selanjutnya.

*temporary insight*

*Summary Cleaning data Aotizhongxin_df_cleaned*
1. Missing Values:
   Nilai hilang pada kolom seperti PM2.5, CO, dan O3 telah ditangani. Metode yang digunakan untuk menangani missing values bervariasi, seperti dropping untuk kolom dengan sedikit missing values dan imputasi untuk kolom dengan missing values yang cukup besar.


2. Inaccurate Values:

   Nilai-nilai yang tidak realistis pada kolom PM2.5 dan PM10 yang melebihi ambang batas telah dihapus menggunakan metode dropping.

   Melakukan identifikasi terhadap nilai CO yang tidak realistis (di atas 50 mg/m³ dan di bawah 0 mg/m³). Menggunakan metode konversi dengan membagi nilai CO dengan 10, sesuai asumsi kesalahan alat ukur. Melakukan imputasi pada nilai yang masih tidak realistis setelah konversi dengan menggunakan nilai median dari CO yang sudah realistis.


3. Data Kualitas Udara:

   Data kualitas udara yang terdiri dari berbagai polutan seperti PM2.5, PM10, SO2, NO2, dan CO telah dibersihkan dari outlier dan missing values, memastikan kualitas data untuk analisis lebih lanjut.

#### Membersihkan Data Changping_df

##### Menangani Missing Value pada data Changping_df

###### Missing values pada data Changping_df kolom CO

In [87]:
# Mengecek jumlah missing values di setiap kolom
missing_values = Changping_df.isnull().sum()
print(missing_values)

# Mengecek persentase missing values di kolom CO
co_missing_percentage = Changping_df['CO'].isnull().mean() * 100
print(f"Persentase missing values di kolom CO: {co_missing_percentage}%")

No            0
year          0
month         0
day           0
hour          0
PM2.5       774
PM10        582
SO2         628
NO2         667
CO         1521
O3          604
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64
Persentase missing values di kolom CO: 4.3377823408624225%

In [88]:
# Menggunakan nilai median dari kolom CO untuk mengisikan missing value colom CO
co_median = Changping_df['CO'].median()
print(f"Median CO: {co_median}")

# Melakukan imputasi nilai median pada kolom CO yang mengandung missing value
Changping_df_cleaned = Changping_df.copy()  
Changping_df_cleaned['CO'] = Changping_df_cleaned['CO'].fillna(co_median)

# Cek apakah missing values saat ini pada data Changping_df_cleaned
print(Changping_df_cleaned.isna().sum())

Median CO: 800.0
No           0
year         0
month        0
day          0
hour         0
PM2.5      774
PM10       582
SO2        628
NO2        667
CO           0
O3         604
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

*temporary insight*

Dipilih kolom CO terlebih dahulu yang dilakukan penanganan missing values, karena kolom CO memiliki jumlah missing values paling banyak diantara kolom yang lainnya, sehingga diharapkan meminimalisir penggunaan metode dropping values dalam cleaning data Changping_df ini. Pertana, dilakukan identifikasi missing values pada kolom CO untuk mengetahui besaran masalah. Selanjutnya, memilih memutuskan menggunakan nilai median untuk mengisi missing values karena lebik cocok jika terdapat outlier. Kemudian menyimpan dataset yang telah diberikan pada variabel Changping_df_cleaned dan menampilkan jumlah missing values pada data tersebut saat ini. Dapat dilihat jumlah missing values paling banyak saat ini adalah pada kolom PM2.5 sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing values pada data Changping_df_cleaned kolom PM2.5

In [89]:
# Mengecek persentase missing values di kolom PM2.5
pm25_missing_percentage = Changping_df_cleaned['PM2.5'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM2.5: {pm25_missing_percentage}%")

Persentase missing values di kolom PM2.5: 2.2073921971252566%

In [90]:
# Menggunakan nilai median dari kolom PM2.5 untuk mengisikan missing value colom PM2.5
pm25_median = Changping_df_cleaned['PM2.5'].median()
print(f"Median PM2.5: {pm25_median}")

# Melakukan imputasi nilai median pada kolom CO yang mengandung missing value
Changping_df_cleaned['PM2.5'] = Changping_df_cleaned['PM2.5'].fillna(pm25_median)

# Cek apakah missing values saat ini pada data Changping_df_cleaned
print(Changping_df_cleaned.isna().sum())

Median PM2.5: 46.0
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       582
SO2        628
NO2        667
CO           0
O3         604
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

*temporary insight*

Sama seperti penanganan missing values pada kolom CO. Dilakukan juga identifikasi missing values pada kolom PM2.5 ini untuk mengetahui besaran masalah. Selanjutnya, memilih memutuskan menggunakan nilai median untuk mengisi missing values karena lebik cocok jika terdapat outlier. Kemudian menyimpan dataset yang telah diberikan pada variabel Changping_df_cleaned dan menampilkan jumlah missing values pada data tersebut saat ini. Dapat dilihat jumlah missing values paling banyak saat ini adalah pada kolom NO2 sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing values pada data Changping_df_cleaned kolom NO2

In [91]:
# Mengecek persentase missing values di kolom NO2
NO2_missing_percentage = Changping_df_cleaned['NO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom NO2: {NO2_missing_percentage}%")

Persentase missing values di kolom NO2: 1.9022359114761578%

In [92]:
# Menggunakan nilai median dari kolom NO2 untuk mengisikan missing value kolom NO2
NO2_median = Changping_df_cleaned['NO2'].median()
print(f"Median NO2: {NO2_median}")

# Melakukan imputasi nilai median pada kolom NO2 yang mengandung missing value
Changping_df_cleaned['NO2'] = Changping_df_cleaned['NO2'].fillna(NO2_median)

# Cek apakah missing values saat ini pada data Changping_df_cleaned
print(Changping_df_cleaned.isna().sum())

Median NO2: 36.0
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       582
SO2        628
NO2          0
CO           0
O3         604
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom NO2 ini sama seperti kolom-kolom sebelumnya pada dataset Changping_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom NO2. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom SO2. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing values data Changping_df_cleaned kolom SO2

In [93]:
# Mengecek persentase missing values di kolom SO2
SO2_missing_percentage = Changping_df_cleaned['SO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom SO2: {SO2_missing_percentage}%")

Persentase missing values di kolom SO2: 1.791010723248916%

In [94]:
# Menggunakan nilai median dari kolom SO2 untuk mengisikan missing value kolom SO2
SO2_median = Changping_df_cleaned['SO2'].median()
print(f"Median SO2: {SO2_median}")

# Melakukan imputasi nilai median pada kolom SO2 yang mengandung missing value
Changping_df_cleaned['SO2'] = Changping_df_cleaned['SO2'].fillna(SO2_median)

# Cek apakah missing values saat ini pada data Changping_df_cleaned
print(Changping_df_cleaned.isna().sum())

Median SO2: 7.0
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       582
SO2          0
NO2          0
CO           0
O3         604
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

*temporary insight*

Masih menggunakan metode yang sama dalam menangani missing values pada kolom SO2. Yakni dengan mealakukan imputasi nilai median kolom CO2 yang terdapat missing value. Kemudian ditampilkan data missing value saat ini, yang menunjukkan bahwa kolom O3 yang saat ini memiliki missing values paling banyak. Sehingga selanjutnya akan menangani missing value pada kolom tersebut.

###### Missing values data Changping_df_cleaned kolom O3

In [95]:
# Mengecek persentase missing values di kolom O3
O3_missing_percentage = Changping_df_cleaned['O3'].isnull().mean() * 100
print(f"Persentase missing values di kolom O3: {O3_missing_percentage}%")

Persentase missing values di kolom O3: 1.7225644535706137%

In [96]:
# Menggunakan nilai median dari kolom O3 untuk mengisikan missing value kolom O3
O3_median = Changping_df_cleaned['O3'].median()
print(f"Median O3: {O3_median}")

# Melakukan imputasi nilai median pada kolom O3 yang mengandung missing value
Changping_df_cleaned['O3'] = Changping_df_cleaned['O3'].fillna(O3_median)

# Cek apakah missing values saat ini pada data Changping_df_cleaned
print(Changping_df_cleaned.isna().sum())

Median O3: 46.0
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       582
SO2          0
NO2          0
CO           0
O3           0
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

*temporary insight*

Dilakukan hal yang sama juga pada kolom O3 dalam meanangai missing values. Dengan melakukan imputasi nilai median pada kolom tersebut. Setelah dilakukan imputasi tersebut, ditampilkan bahwa kolom PM10 masih memiliki jumlah missing value yang lumayan banyak. Sehingga penanganan selanjutnya yakni missing values pada kolom PM10

###### Missing values pada data Changping_df_cleaned kolom PM10

In [97]:
# Mengecek persentase missing values di kolom PM10
PM10_missing_percentage = Changping_df_cleaned['PM10'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM10: {PM10_missing_percentage}%")

Persentase missing values di kolom PM10: 1.6598220396988363%

In [98]:
# Menggunakan nilai median dari kolom PM10 untuk mengisikan missing value kolom PM10
PM10_median = Changping_df_cleaned['PM10'].median()
print(f"Median PM10: {PM10_median}")

# Melakukan imputasi nilai median pada kolom PM10 yang mengandung missing value
Changping_df_cleaned['PM10'] = Changping_df_cleaned['PM10'].fillna(PM10_median)

# Cek apakah missing values saat ini pada data Changping_df_cleaned
print(Changping_df_cleaned.isna().sum())

Median PM10: 72.0
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

*temporary insight*

Telah dilakukan penanganan missing values pada kolom PM10. Dengan melakukan metode imputasi nilai median pada setiap baris kolom tersebut yang terdapat missing values. Dari informasi yang telah ditampilkan saat ini hanya beberapa kolom saja yang memiliki missing values dengan jumlah yang tidak begitu banyak juga. Sehingga akan ditangani selanjutnya.

###### Missing values pada data Changping_df_cleaned kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM

In [99]:
# Menampilkan jumlah missing values saat ini pada data Changping_df_cleaned
print("Jumlah missing values saat ini:")
print(Changping_df_cleaned.isna().sum())

Jumlah missing values saat ini:
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

In [100]:
# Menghapus baris yang memiliki missing values pada kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM
Changping_df_cleaned.dropna(subset=['TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM'], inplace=True)

# Verifikasi penghapusan missing values
print("Jumlah missing values sekarang:")
print(Changping_df_cleaned.isna().sum())

Jumlah missing values sekarang:
No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

*temporary insight*

Dilakukan periksa ulang jumlah missing values setelah imputasi pada kolom yang tersisa. Kemudian melakukan dropping missing values dengan menggunakan metode `dropna()` untuk menghapus baris yang memiliki missing values pada kolom-kolom tersebut. Dan juga telah dilakukan verifikasi hasil dropping missing values sudah dihilangkan dengan memeriksa ulang dataset. Sehingga saat ini data Changping_df_cleaned sudah bersih dari missing values

##### Menangani Inaccurate Value pada data Changping_df_cleaned

In [101]:
Changping_df_cleaned.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,34913.000000,34913.00000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000
mean,17496.125226,2014.65815,6.526423,15.720734,11.505714,70.435517,94.180154,14.823345,43.989375,1134.601552,57.856860,13.705645,1007.745621,1.505307,0.060276,1.858305
std,10116.725012,1.17625,3.444274,8.802981,6.919758,71.575890,82.630717,20.831965,29.243205,1078.594380,53.914693,11.363939,10.226803,13.827593,0.753713,1.308341
min,1.000000,2013.00000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.847700,100.000000,0.214200,-16.600000,982.400000,-35.100000,0.000000,0.000000
25%,8734.000000,2014.00000,4.000000,8.000000,6.000000,18.000000,34.000000,2.000000,22.000000,500.000000,16.000000,3.400000,999.200000,-10.200000,0.000000,1.000000
50%,17493.000000,2015.00000,7.000000,16.000000,12.000000,46.000000,72.000000,7.000000,36.000000,800.000000,46.000000,14.700000,1007.400000,1.800000,0.000000,1.500000
75%,26261.000000,2016.00000,10.000000,23.000000,17.000000,98.000000,129.000000,18.000000,60.000000,1400.000000,79.000000,23.300000,1016.000000,14.200000,0.000000,2.300000
max,35064.000000,2017.00000,12.000000,31.000000,23.000000,882.000000,999.000000,310.000000,226.000000,10000.000000,429.000000,41.400000,1036.500000,27.200000,52.100000,10.000000

###### Inaccurate value data Changping_df_cleaned kolom PM2.5

In [102]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM2.5
max_pm25_row_changping = Changping_df_cleaned[Changping_df_cleaned['PM2.5'] == Changping_df_cleaned['PM2.5'].max()]
print(max_pm25_row_changping)

          No  year  month  day  hour  PM2.5  PM10    SO2   NO2      CO   O3  \
25778  25779  2016      2    8     2  882.0  72.0  215.0  81.0  2900.0  4.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM    station
25778  -2.4  1004.5 -15.5   0.0  ESE   0.7  Changping

In [103]:
# Menentukan batas maksimum untuk PM2.5
batas_maksimum_pm25 = 500

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_changping = Changping_df_cleaned[Changping_df_cleaned['PM2.5'] > batas_maksimum_pm25].shape[0]

# Menghapus baris yang memiliki nilai PM2.5 lebih dari batas maksimum
Changping_df_cleaned = Changping_df_cleaned[Changping_df_cleaned['PM2.5'] <= batas_maksimum_pm25]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_changping = Changping_df_cleaned.shape[0]

# Menampilkan informasi
print(f"Jumlah baris yang dihapus pada Changping_df_cleaned: {jumlah_baris_hilang_changping}")
print(f"Jumlah baris tersisa setelah penghapusan pada Changping_df_cleaned: {jumlah_baris_tersisa_changping}")

Jumlah baris yang dihapus pada Changping_df_cleaned: 19
Jumlah baris tersisa setelah penghapusan pada Changping_df_cleaned: 34894

*temporary insight*

Dilakukan penetapan batas maksimum untuk PM2.5, dengan nilai 500 seperti yang telah dilakukan pada dataset sebelumnya juga. Atas dasar karena dalam banyak studi, nilai PM2.5 yang lebih dari 500 bisa dianggap tidak wajar. kemudian menghitung jumlah baris data yang akan dihapus pada Changping_df_cleaned. Dengan menggunakan kondisi untuk menghitung jumlah baris yang memiliki nilai PM2.5 lebih dari batas maksimum. Lalu menghapus baris dan memeriksa ukuran dataset saat ini. Dalam hal ini dapat dilihat, bahwa jumlah baris data yang dihapus atau memiliki nilai PM2.5 lebih dari 500 hanya terhitung 19 baris data. Dan setelah dilakukan dropping values, tersisa 34894 baris data pada Changping_df_cleaned.

###### Inaccurate value pada Changping_df_cleaned kolom PM10

In [104]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM10
max_pm10_row_changping = Changping_df_cleaned[Changping_df_cleaned['PM10'] == Changping_df_cleaned['PM10'].max()]
print(max_pm10_row_changping)

        No  year  month  day  hour  PM2.5   PM10    SO2    NO2      CO    O3  \
7887  7888  2014      1   23    15   46.0  999.0  137.0  122.0  3800.0  10.0

      TEMP    PRES  DEWP  RAIN  wd  WSPM    station
7887   3.2  1004.1 -13.2   0.0  SE   1.5  Changping

In [105]:
# Menentukan batas maksimum untuk PM10
batas_maksimum_pm10 = 300.0 

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_pm10_changping = Changping_df_cleaned[Changping_df_cleaned['PM10'] > batas_maksimum_pm10].shape[0]
print(f"Jumlah baris yang akan dihapus dari PM10: {jumlah_baris_hilang_pm10_changping}")

Jumlah baris yang akan dihapus dari PM10: 906

In [106]:
# Menghapus baris yang memiliki nilai PM10 lebih dari batas maksimum
Changping_df_cleaned = Changping_df_cleaned[Changping_df_cleaned['PM10'] <= batas_maksimum_pm10]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_pm10_changping = Changping_df_cleaned.shape[0]

print(f"Jumlah baris tersisa setelah penghapusan PM10: {jumlah_baris_tersisa_pm10_changping}")

Jumlah baris tersisa setelah penghapusan PM10: 33988

*temporary value*

Dilakukan juga pembersihan inaccurate value pada data Changping_df_cleaned dengan melakukan dropping. atau menghapus (drop) data pada kolom PM10 yang melebihi ambang batas yang telah ditentukan. Yakni nilai yang ditentukan tidak wajar, denagn pemilihan batas maksimum 300.0 adalah berdasarkan pemahaman tentang kualitas udara dan standar yang umum digunakan. Nilai ini didasarkan pada standar kualitas udara, di mana nilai PM10 di atas 300.0 bisa dianggap sebagai tidak wajar dan mungkin menunjukkan kesalahan pengukuran atau data yang tidak konsisten. Karena berdasarkan analisah yang telah dilakuan, batas maksimum yang wajar untuk PM10 bisa disarankan antara 150.0 hingga 300.0 untuk kualitas udara yang baik, dan nilai di atas 300.0 bisa dianggap sebagai data tidak wajar dalam konteks tertentu. Setelah penghapusan, diberikan informasi yang jelas tentang berapa banyak data yang hilang dan berapa banyak data yang tersisa, memastikan bahwa analisis selanjutnya didasarkan pada data yang valid.

###### Inaccurate value pada Changping_df_cleaned kolom CO

In [107]:
# Identifikasi nilai CO yang tidak realistis (di atas 50 mg/m³ dan di bawah 0 mg/m³)
unrealistic_co_changping = Changping_df_cleaned[(Changping_df_cleaned['CO'] > 50) | (Changping_df_cleaned['CO'] < 0)]
print(unrealistic_co_changping)

          No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO    O3  \
0          1  2013      3    1     0    3.0   6.0  13.0   7.0  300.0  85.0
1          2  2013      3    1     1    3.0   3.0   6.0   6.0  300.0  85.0
2          3  2013      3    1     2    3.0   3.0  22.0  13.0  400.0  74.0
3          4  2013      3    1     3    3.0   6.0  12.0   8.0  300.0  81.0
4          5  2013      3    1     4    3.0   3.0  14.0   8.0  300.0  81.0
...      ...   ...    ...  ...   ...    ...   ...   ...   ...    ...   ...
35059  35060  2017      2   28    19   28.0  47.0   4.0  14.0  300.0  46.0
35060  35061  2017      2   28    20   12.0  12.0   3.0  23.0  500.0  64.0
35061  35062  2017      2   28    21    7.0  23.0   5.0  17.0  500.0  68.0
35062  35063  2017      2   28    22   11.0  20.0   3.0  15.0  500.0  72.0
35063  35064  2017      2   28    23   20.0  25.0   6.0  28.0  900.0  54.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM    station
0      -2.3  1020.8 -19.7   0.0    E   0.5  Changping
1      -2.5  1021.3 -19.0   0.0  ENE   0.7  Changping
2      -3.0  1021.3 -19.9   0.0  ENE   0.2  Changping
3      -3.6  1021.8 -19.1   0.0  NNE   1.0  Changping
4      -3.5  1022.3 -19.4   0.0    N   2.1  Changping
...     ...     ...   ...   ...  ...   ...        ...
35059  11.7  1008.9 -13.3   0.0  NNE   1.3  Changping
35060  10.9  1009.0 -14.0   0.0    N   2.1  Changping
35061   9.5  1009.4 -13.0   0.0    N   1.5  Changping
35062   7.8  1009.6 -12.6   0.0   NW   1.4  Changping
35063   7.0  1009.4 -12.2   0.0    N   1.9  Changping

[33988 rows x 18 columns]

In [108]:
# Mengonversi nilai CO dari ratusan ke puluhan (mg/m³)
Changping_df_cleaned['CO'] = Changping_df_cleaned['CO'] / 10

# Memvalidasi hasil konversi
Changping_df_cleaned['CO'].describe()

count    33988.000000
mean       106.859650
std         92.923923
min         10.000000
25%         50.000000
50%         80.000000
75%        130.000000
max       1000.000000
Name: CO, dtype: float64

In [109]:
# Cek data CO yang masih tidak realistis (lebih dari 50 mg/m³ atau kurang dari 0 mg/m³).
unrealistic_co_after_conversion_changping = Changping_df_cleaned[(Changping_df_cleaned['CO'] > 50) | (Changping_df_cleaned['CO'] < 0)]
print(unrealistic_co_after_conversion_changping)

          No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO    O3  \
7          8  2013      3    1     7    3.0   6.0  25.0  39.0   60.0  48.0
8          9  2013      3    1     8    9.0  25.0  13.0  42.0   70.0  46.0
18        19  2013      3    1    18    4.0  17.0  40.0  22.0   60.0  77.0
19        20  2013      3    1    19    7.0  19.0  37.0  22.0   60.0  75.0
26        27  2013      3    2     2   13.0   9.0   7.0  56.0   80.0  33.0
...      ...   ...    ...  ...   ...    ...   ...   ...   ...    ...   ...
35047  35048  2017      2   28     7   21.0  31.0  16.0  49.0   90.0  28.0
35048  35049  2017      2   28     8   24.0  53.0  18.0  71.0  130.0  14.0
35049  35050  2017      2   28     9   20.0  35.0  13.0  44.0   90.0  35.0
35058  35059  2017      2   28    18   18.0  57.0   7.0   2.0   80.0   2.0
35063  35064  2017      2   28    23   20.0  25.0   6.0  28.0   90.0  54.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM    station
7      -2.1  1024.6 -20.0   0.0   NW   2.5  Changping
8      -0.2  1025.2 -20.5   0.0  NNW   2.8  Changping
18      2.7  1024.2 -20.0   0.0   NE   3.6  Changping
19      2.0  1025.1 -19.3   0.0  ENE   1.7  Changping
26     -1.7  1027.7 -17.4   0.0  SSW   1.5  Changping
...     ...     ...   ...   ...  ...   ...        ...
35047   4.0  1011.7 -10.1   0.0   NW   0.9  Changping
35048   4.7  1012.1  -9.1   0.0   NW   1.2  Changping
35049  10.0  1012.1 -10.2   0.0    E   1.2  Changping
35058  13.4  1008.1 -13.6   0.0  WNW   3.0  Changping
35063   7.0  1009.4 -12.2   0.0    N   1.9  Changping

[23326 rows x 18 columns]

In [110]:
# Imputasi nilai CO yang masih tidak realistis dengan nilai median
median_co_after_conversion_changping = Changping_df_cleaned[(Changping_df_cleaned['CO'] >= 0) & (Changping_df_cleaned['CO'] <= 50)]['CO'].median()
Changping_df_cleaned['CO'] = Changping_df_cleaned['CO'].apply(lambda x: median_co_after_conversion_changping if x > 50 or x < 0 else x)

# Cek deskripsi dataset yang sudah dilakukan proses konversi dan imputasi
print(Changping_df_cleaned.describe())

                 No          year         month           day          hour  \
count  33988.000000  33988.000000  33988.000000  33988.000000  33988.000000
mean   17470.039455   2014.654113      6.540308     15.689273     11.481964
std    10133.193220      1.179579      3.416282      8.798927      6.918458
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8646.750000   2014.000000      4.000000      8.000000      5.000000
50%    17514.500000   2015.000000      7.000000     16.000000     11.000000
75%    26271.250000   2016.000000      9.000000     23.000000     17.000000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  33988.000000  33988.000000  33988.000000  33988.000000  33988.000000
mean      64.876345     86.229307     14.221538     42.571093     39.073791
std       60.752973     65.880331     19.713763     27.218722      6.368974
min        2.000000      2.000000      0.285600      1.847700     10.000000
25%       18.000000     33.000000      2.000000     22.000000     40.000000
50%       46.000000     71.000000      7.000000     36.000000     40.000000
75%       93.000000    123.000000     17.000000     58.000000     40.000000
max      444.000000    300.000000    310.000000    208.000000     50.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  33988.000000  33988.000000  33988.000000  33988.000000  33988.000000
mean      58.514878     13.872313   1007.675084      1.594998      0.061207
std       54.060717     11.368509     10.272393     13.922356      0.758424
min        0.214200    -16.600000    982.400000    -35.100000      0.000000
25%       17.000000      3.700000    999.100000    -10.400000      0.000000
50%       46.000000     14.900000   1007.200000      2.100000      0.000000
75%       80.000000     23.500000   1016.000000     14.400000      0.000000
max      429.000000     41.400000   1036.500000     27.200000     52.100000

               WSPM
count  33988.000000
mean       1.859836
std        1.299604
min        0.000000
25%        1.000000
50%        1.500000
75%        2.300000
max        9.600000

*temporary insight*

Proses ini mengonversi nilai CO menjadi lebih realistis dengan membaginya dengan 10, sesuai asumsi bahwa alat pengukuran mungkin salah mendeteksi dalam kelipatan tersebut. Karena nilai CO yang realistis (nilai CO antara 0 hingga 50 mg/m³). Setelah konversi, dilakukan validasi lebih lanjut untuk memastikan bahwa semua nilai CO berada dalam rentang yang wajar. Jika ada nilai yang masih tidak realistis, digunakan metode imputasi dengan nilai median CO yang sudah bersih. Hal ini dilakukan karena kurangnya informasi dari dataset tesebut mengenai satuan ukur apa yang digunakan pada tiap-tiap kolomnya, sehingga dibuat asusmsi berdasarkan nilai satuan yang umum digunakan di publik, berdasarkan riset yang telah dilakukan. Dengan cara ini, dataset Changping_df_cleaned sudah lebih akurat untuk analisis selanjutnya.

*temporary insight*

1. Menangani Missing Values:
   Kolom dengan missing values yang banyak seperti CO, PM2.5, NO2, SO2, O3, dan PM10 telah ditangani menggunakan metode imputasi median. Hal ini dilakukan agar tidak kehilangan terlalu banyak data penting, sambil tetap mengisi nilai yang realistis dan representatif.


   Untuk kolom dengan jumlah missing values yang relatif sedikit seperti TEMP, PRES, DEWP, RAIN, wd, dan WSPM, dilakukan dropping values. Ini dipilih karena menghapus sedikit data tidak akan mempengaruhi keseluruhan dataset secara signifikan.


3. Menangani Inaccurate Values:

   Seperti yang telah dilakukan pada dataset sebelumnya (Aotizhongxin_df_cleaned), kolom CO, PM2.5, dan PM10 pada Changping_df_cleaned diperiksa untuk nilai yang tidak realistis.

   Nilai-nilai yang dianggap tidak realistis di luar rentang normal pada masing-masing kolom telah diubah atau difilter sesuai dengan rentang realistis, seperti CO dengan nilai realistis di rentang 0–50 mg/m³. PM2.5 dan PM10 ditetapkan pada rentang realistis berdasarkan pedoman kualitas udara.



Dengan semua missing values dan inaccurate values telah ditangani. Ini memastikan bahwa data siap digunakan untuk analisis lebih lanjut tanpa bias atau error yang berasal dari data yang hilang atau nilai yang tidak realistis. Dengan memilih metode imputasi untuk kolom dengan banyak missing values dan dropping untuk yang sedikit, diharapkan dapat mengoptimalkan jumlah data yang tetap relevan tanpa mengorbankan integritas dataset. Serta melakukan filter atau transformasi terhadap nilai yang tidak realistis pada kolom penting (seperti CO, PM2.5, dan PM10) memastikan hasil analisis yang lebih akurat dan representatif terhadap kondisi nyata.

#### Membersihkan Data Dingling_df

##### Menangani Missing Value pada data Dingling_df

###### Missing value pada Dingling_df kolom CO

In [111]:
# Mengecek jumlah missing values di setiap kolom
missing_values = Dingling_df.isnull().sum()
print(missing_values)

# Mengecek persentase missing values di kolom CO
co_missing_percentage_dingling = Dingling_df['CO'].isnull().mean() * 100
print(f"Persentase missing values di kolom CO Dingling_df: {co_missing_percentage_dingling}%")

No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2        1234
CO         2012
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64
Persentase missing values di kolom CO Dingling_df: 5.738078941364362%

In [112]:
# Menggunakan nilai median dari kolom CO untuk mengisikan missing value colom CO
co_median_dingling = Dingling_df['CO'].median()
print(f"Median CO: {co_median_dingling}")

# Melakukan imputasi nilai median pada kolom CO yang mengandung missing value
Dingling_df_cleaned = Dingling_df.copy()  
Dingling_df_cleaned['CO'] = Dingling_df_cleaned['CO'].fillna(co_median)

# Cek apakah missing values saat ini pada data Dingling_df_cleaned
print(Dingling_df_cleaned.isna().sum())

Median CO: 600.0
No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2        1234
CO            0
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

*temporary insight*

Dipilih kolom CO terlebih dahulu yang dilakukan penanganan missing values, karena kolom CO memiliki jumlah missing values paling banyak diantara kolom yang lainnya pada Dingling_df, sehingga diharapkan meminimalisir penggunaan metode dropping values dalam cleaning data ini. Pertama, dilakukan identifikasi missing values pada kolom CO untuk mengetahui besaran masalah. Selanjutnya, memilih memutuskan menggunakan nilai median untuk mengisi missing values karena lebik cocok jika terdapat outlier. Kemudian menyimpan dataset yang telah diberikan pada variabel Dingling_df_cleaned dan menampilkan jumlah missing values pada data tersebut saat ini. Dapat dilihat jumlah missing values paling banyak saat ini adalah pada kolom NO2 sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Dingling_df_cleaned kolom NO2

In [113]:
# Mengecek persentase missing values di kolom NO2
NO2_missing_percentage_dingling = Dingling_df_cleaned['NO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom NO2: {NO2_missing_percentage_dingling}%")

Persentase missing values di kolom NO2: 3.5192790326260557%

In [114]:
# Menggunakan nilai median dari kolom NO2 untuk mengisikan missing value kolom NO2
NO2_median_dingling = Dingling_df_cleaned['NO2'].median()
print(f"Median NO2: {NO2_median_dingling}")

# Melakukan imputasi nilai median pada kolom NO2 yang mengandung missing value
Dingling_df_cleaned['NO2'] = Dingling_df_cleaned['NO2'].fillna(NO2_median_dingling)

# Cek apakah missing values saat ini pada data Dingling_df_cleaned
print(Dingling_df_cleaned.isna().sum())

Median NO2: 19.0
No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2           0
CO            0
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

*temporary insight*

Sama seperti penanganan missing values pada kolom CO. Dilakukan juga identifikasi missing values pada kolom NO2 ini untuk mengetahui besaran masalah. Selanjutnya, memilih memutuskan menggunakan nilai median untuk mengisi missing values karena lebik cocok jika terdapat outlier. Kemudian menyimpan dataset yang telah diberikan pada variabel Dingling_df_cleaned dan menampilkan jumlah missing values pada data tersebut saat ini. Dapat dilihat jumlah missing values paling banyak saat ini adalah pada kolom O3 sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Dingling_df_cleaned kolom O3

In [115]:
# Mengecek persentase missing values di kolom O3
O3_missing_percentage_dingling = Dingling_df_cleaned['O3'].isnull().mean() * 100
print(f"Persentase missing values di kolom O3: {O3_missing_percentage_dingling}%")

Persentase missing values di kolom O3: 3.462240474560803%

In [116]:
# Menggunakan nilai median dari kolom O3 untuk mengisikan missing value kolom O3
O3_median_dingling = Dingling_df_cleaned['O3'].median()
print(f"Median O3: {O3_median_dingling}")

# Melakukan imputasi nilai median pada kolom O3 yang mengandung missing value
Dingling_df_cleaned['O3'] = Dingling_df_cleaned['O3'].fillna(O3_median_dingling)

# Cek apakah missing values saat ini pada data Dingling_df_cleaned
print("Missing value pada Dingling_df_cleaned saat ini :\n", Dingling_df_cleaned.isna().sum())

Median O3: 61.0
Missing value pada Dingling_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5      779
PM10       656
SO2        730
NO2          0
CO           0
O3           0
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom O3 ini sama seperti kolom-kolom sebelumnya pada dataset Dingling_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom O3. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom PM2.5. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Dingling_df_cleaned kolom PM.25

In [117]:
# Mengecek persentase missing values di kolom PM2.5
PM25_missing_percentage_dingling = Dingling_df_cleaned['PM2.5'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM2.5: {PM25_missing_percentage_dingling}%")

Persentase missing values di kolom PM2.5: 2.22165183664157%

In [118]:
# Menggunakan nilai median dari kolom PM2.5 untuk mengisikan missing value kolom PM2.5
PM25_median_dingling = Dingling_df_cleaned['PM2.5'].median()
print(f"Median PM2.5: {PM25_median_dingling}")

# Melakukan imputasi nilai median pada kolom PM2.5 yang mengandung missing value
Dingling_df_cleaned['PM2.5'] = Dingling_df_cleaned['PM2.5'].fillna(PM25_median_dingling)

# Cek apakah missing values saat ini pada data Dingling_df_cleaned
print("Missing value pada Dingling_df_cleaned saat ini :\n", Dingling_df_cleaned.isna().sum())

Median PM2.5: 41.0
Missing value pada Dingling_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       656
SO2        730
NO2          0
CO           0
O3           0
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom PM2.5 ini sama seperti kolom-kolom sebelumnya pada dataset Dingling_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom PM2.5. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom SO2. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Dingling_df_cleaned kolom SO2

In [119]:
# Mengecek persentase missing values di kolom SO2
SO2_missing_percentage_dingling = Dingling_df_cleaned['SO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom SO2: {SO2_missing_percentage_dingling}%")

Persentase missing values di kolom SO2: 2.0819073693817023%

In [120]:
# Menggunakan nilai median dari kolom SO2 untuk mengisikan missing value kolom SO2
SO2_median_dingling = Dingling_df_cleaned['SO2'].median()
print(f"Median SO2: {SO2_median_dingling}")

# Melakukan imputasi nilai median pada kolom SO2 yang mengandung missing value
Dingling_df_cleaned['SO2'] = Dingling_df_cleaned['SO2'].fillna(SO2_median_dingling)

# Cek apakah missing values saat ini pada data Dingling_df_cleaned
print("Missing value pada Dingling_df_cleaned saat ini :\n", Dingling_df_cleaned.isna().sum())

Median SO2: 5.0
Missing value pada Dingling_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       656
SO2          0
NO2          0
CO           0
O3           0
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom SO2 ini sama seperti kolom-kolom sebelumnya pada dataset Dingling_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom SO2. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom PM10. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Dingling_df_cleaned kolom PM10

In [121]:
# Mengecek persentase missing values di kolom PM10
PM10_missing_percentage_dingling = Dingling_df_cleaned['PM10'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM10: {PM10_missing_percentage_dingling}%")

Persentase missing values di kolom PM10: 1.8708647045402693%

In [122]:
# Menggunakan nilai median dari kolom PM10 untuk mengisikan missing value kolom PM10
PM10_median_dingling = Dingling_df_cleaned['PM10'].median()
print(f"Median PM10: {PM10_median_dingling}")

# Melakukan imputasi nilai median pada kolom PM10 yang mengandung missing value
Dingling_df_cleaned['PM10'] = Dingling_df_cleaned['PM10'].fillna(PM10_median_dingling)

# Cek apakah missing values saat ini pada data Dingling_df_cleaned
print("Missing value pada Dingling_df_cleaned saat ini :\n", Dingling_df_cleaned.isna().sum())

Median PM10: 60.0
Missing value pada Dingling_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

*temporary insight*

Telah dilakukan penanganan missing values pada kolom PM10. Dengan melakukan metode imputasi nilai median pada setiap baris kolom tersebut yang terdapat missing values. Dari informasi yang telah ditampilkan saat ini hanya beberapa kolom saja yang memiliki missing values dengan jumlah yang tidak begitu banyak juga. Sehingga akan ditangani selanjutnya.

###### Missing values pada data Changping_df_cleaned kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM

In [123]:
# Menampilkan jumlah missing values saat ini pada data Dingling_df_cleaned
print("Jumlah missing values saat ini:")
print(Dingling_df_cleaned.isna().sum())

Jumlah missing values saat ini:
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP        53
PRES        50
DEWP        53
RAIN        51
wd         140
WSPM        43
station      0
dtype: int64

In [124]:
# Menghapus baris yang memiliki missing values pada kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM
Dingling_df_cleaned.dropna(subset=['TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM'], inplace=True)

# Verifikasi penghapusan missing values
print("Jumlah missing values sekarang:")
print(Dingling_df_cleaned.isna().sum())

Jumlah missing values sekarang:
No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

*temporary insight*

Dilakukan periksa ulang jumlah missing values setelah imputasi pada kolom yang tersisa. Kemudian melakukan dropping missing values dengan menggunakan metode `dropna()` untuk menghapus baris yang memiliki missing values pada kolom-kolom tersebut. Dan juga telah dilakukan verifikasi hasil dropping missing values sudah dihilangkan dengan memeriksa ulang dataset. Sehingga saat ini data Dingling_df_cleaned sudah bersih dari missing values

##### Menangani Inaccurate Value pada data Dingling_df_cleaned

In [125]:
Dingling_df_cleaned.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,34913.000000,34913.00000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000,34913.000000
mean,17496.125226,2014.65815,6.526423,15.720734,11.505714,65.327984,83.222135,11.604115,27.251693,896.755507,68.403274,13.705645,1007.745621,1.505307,0.060276,1.858305
std,10116.725012,1.17625,3.444274,8.802981,6.919758,71.512256,78.820535,15.391788,25.945733,874.547792,52.872638,11.363939,10.226803,13.827593,0.753713,1.308341
min,1.000000,2013.00000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-16.600000,982.400000,-35.100000,0.000000,0.000000
25%,8734.000000,2014.00000,4.000000,8.000000,6.000000,14.000000,26.000000,2.000000,9.000000,300.000000,32.000000,3.400000,999.200000,-10.200000,0.000000,1.000000
50%,17493.000000,2015.00000,7.000000,16.000000,12.000000,41.000000,60.000000,5.000000,19.000000,700.000000,61.000000,14.700000,1007.400000,1.800000,0.000000,1.500000
75%,26261.000000,2016.00000,10.000000,23.000000,17.000000,91.000000,116.000000,14.000000,37.000000,1100.000000,89.000000,23.300000,1016.000000,14.200000,0.000000,2.300000
max,35064.000000,2017.00000,12.000000,31.000000,23.000000,881.000000,905.000000,156.000000,205.000000,10000.000000,500.000000,41.400000,1036.500000,27.200000,52.100000,10.000000

###### Inaccurate value data Changping_df_cleaned kolom PM2.5

In [126]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM2.5
max_pm25_row_dingling = Dingling_df_cleaned[Dingling_df_cleaned['PM2.5'] == Dingling_df_cleaned['PM2.5'].max()]
print(max_pm25_row_dingling)

          No  year  month  day  hour  PM2.5  PM10    SO2   NO2      CO    O3  \
25777  25778  2016      2    8     1  881.0  60.0  156.0  49.0  1100.0  20.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM   station
25777  -1.5  1005.4 -16.1   0.0  NNE   1.3  Dingling

In [127]:
# Menentukan batas maksimum untuk PM2.5
batas_maksimum_pm25 = 500

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_dingling = Dingling_df_cleaned[Dingling_df_cleaned['PM2.5'] > batas_maksimum_pm25].shape[0]

# Menampilkan informasi
print(f"Jumlah baris yang dihapus pada Dingling_df_cleaned: {jumlah_baris_hilang_dingling}")

Jumlah baris yang dihapus pada Dingling_df_cleaned: 23

In [128]:
# Menghapus baris yang memiliki nilai PM2.5 lebih dari batas maksimum
Dingling_df_cleaned = Dingling_df_cleaned[Dingling_df_cleaned['PM2.5'] <= batas_maksimum_pm25]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_dingling = Dingling_df_cleaned.shape[0]

# Menampilkan informasi
print(f"Jumlah baris tersisa setelah penghapusan pada Dingling_df_cleaned: {jumlah_baris_tersisa_dingling}")

Jumlah baris tersisa setelah penghapusan pada Dingling_df_cleaned: 34890

*temporary insight*

Dilakukan penetapan batas maksimum untuk PM2.5, dengan nilai 500 seperti yang telah dilakukan pada dataset sebelumnya juga. Atas dasar karena dalam banyak studi, nilai PM2.5 yang lebih dari 500 bisa dianggap tidak wajar. kemudian menghitung jumlah baris data yang akan dihapus pada Dingling_df_cleaned. Dengan menggunakan kondisi untuk menghitung jumlah baris yang memiliki nilai PM2.5 lebih dari batas maksimum. Lalu menghapus baris dan memeriksa ukuran dataset saat ini. Dalam hal ini dapat dilihat, bahwa jumlah baris data yang dihapus atau memiliki nilai PM2.5 lebih dari 500 hanya terhitung 23 baris data. Dan setelah dilakukan dropping values, tersisa 34890 baris data pada Dingling_df_cleaned.

###### Inaccurate value pada Dingling_df_cleaned kolom PM10

In [129]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM10
max_pm10_row_dingling = Dingling_df_cleaned[Dingling_df_cleaned['PM10'] == Dingling_df_cleaned['PM10'].max()]
print(max_pm10_row_dingling)

          No  year  month  day  hour  PM2.5   PM10  SO2  NO2      CO    O3  \
17355  17356  2015      2   22     3  144.0  905.0  2.0  2.0  1800.0  81.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM   station
17355  -5.0  1017.0 -25.7   0.0  WNW   7.0  Dingling

In [130]:
# Menentukan batas maksimum untuk PM10
batas_maksimum_pm10 = 300.0 

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_pm10_dingling = Dingling_df_cleaned[Dingling_df_cleaned['PM10'] > batas_maksimum_pm10].shape[0]
print(f"Jumlah baris yang akan dihapus dari PM10: {jumlah_baris_hilang_pm10_dingling}")

Jumlah baris yang akan dihapus dari PM10: 710

In [131]:
# Menghapus baris yang memiliki nilai PM10 lebih dari batas maksimum
Dingling_df_cleaned = Dingling_df_cleaned[Dingling_df_cleaned['PM10'] <= batas_maksimum_pm10]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_pm10_dingling = Dingling_df_cleaned.shape[0]

print(f"Jumlah baris tersisa setelah penghapusan PM10: {jumlah_baris_tersisa_pm10_dingling}")

Jumlah baris tersisa setelah penghapusan PM10: 34180

*temporary value*

Dilakukan juga pembersihan inaccurate value pada data Dingling_df_cleaned dengan melakukan dropping. atau menghapus (drop) data pada kolom PM10 yang melebihi ambang batas yang telah ditentukan. Yakni nilai yang ditentukan tidak wajar, denagn pemilihan batas maksimum 300.0 adalah berdasarkan pemahaman tentang kualitas udara dan standar yang umum digunakan. Nilai ini didasarkan pada standar kualitas udara, di mana nilai PM10 di atas 300.0 bisa dianggap sebagai tidak wajar dan mungkin menunjukkan kesalahan pengukuran atau data yang tidak konsisten. Karena berdasarkan analisah yang telah dilakuan, batas maksimum yang wajar untuk PM10 bisa disarankan antara 150.0 hingga 300.0 untuk kualitas udara yang baik, dan nilai di atas 300.0 bisa dianggap sebagai data tidak wajar dalam konteks tertentu. Setelah penghapusan, diberikan informasi yang jelas tentang berapa banyak data yang hilang dan berapa banyak data yang tersisa, memastikan bahwa analisis selanjutnya didasarkan pada data yang valid.

###### Inaccurate value pada Dingling_df_cleaned kolom CO

In [132]:
# Identifikasi nilai CO yang tidak realistis (di atas 50 mg/m³ dan di bawah 0 mg/m³)
unrealistic_co_dingling = Dingling_df_cleaned[(Dingling_df_cleaned['CO'] > 50) | (Dingling_df_cleaned['CO'] < 0)]
print(unrealistic_co_dingling)

          No  year  month  day  hour  PM2.5  PM10  SO2   NO2     CO     O3  \
0          1  2013      3    1     0    4.0   4.0  3.0  19.0  200.0   82.0
1          2  2013      3    1     1    7.0   7.0  3.0  19.0  200.0   80.0
2          3  2013      3    1     2    5.0   5.0  3.0   2.0  200.0   79.0
3          4  2013      3    1     3    6.0   6.0  3.0  19.0  200.0   79.0
4          5  2013      3    1     4    5.0   5.0  3.0  19.0  200.0   81.0
...      ...   ...    ...  ...   ...    ...   ...  ...   ...    ...    ...
35059  35060  2017      2   28    19   11.0  11.0  2.0   2.0  200.0   99.0
35060  35061  2017      2   28    20   13.0  13.0  2.0   2.0  200.0  101.0
35061  35062  2017      2   28    21    9.0  14.0  2.0   2.0  200.0  102.0
35062  35063  2017      2   28    22   10.0  12.0  2.0   2.0  200.0   97.0
35063  35064  2017      2   28    23   13.0  16.0  4.0   9.0  500.0   74.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM   station
0      -2.3  1020.8 -19.7   0.0    E   0.5  Dingling
1      -2.5  1021.3 -19.0   0.0  ENE   0.7  Dingling
2      -3.0  1021.3 -19.9   0.0  ENE   0.2  Dingling
3      -3.6  1021.8 -19.1   0.0  NNE   1.0  Dingling
4      -3.5  1022.3 -19.4   0.0    N   2.1  Dingling
...     ...     ...   ...   ...  ...   ...       ...
35059  11.7  1008.9 -13.3   0.0  NNE   1.3  Dingling
35060  10.9  1009.0 -14.0   0.0    N   2.1  Dingling
35061   9.5  1009.4 -13.0   0.0    N   1.5  Dingling
35062   7.8  1009.6 -12.6   0.0   NW   1.4  Dingling
35063   7.0  1009.4 -12.2   0.0    N   1.9  Dingling

[34180 rows x 18 columns]

In [133]:
# Mengonversi nilai CO dari ratusan ke puluhan (mg/m³)
Dingling_df_cleaned['CO'] = Dingling_df_cleaned['CO'] / 10

# Memvalidasi hasil konversi
Dingling_df_cleaned['CO'].describe()

count    34180.000000
mean        85.006829
std         75.599982
min         10.000000
25%         30.000000
50%         60.000000
75%        110.000000
max        730.000000
Name: CO, dtype: float64

In [134]:
# Cek data CO yang masih tidak realistis (lebih dari 50 mg/m³ atau kurang dari 0 mg/m³).
unrealistic_co_after_conversion_dingling = Dingling_df_cleaned[(Dingling_df_cleaned['CO'] > 50) | (Dingling_df_cleaned['CO'] < 0)]
print(unrealistic_co_after_conversion_dingling)

          No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO    O3  \
26        27  2013      3    2     2    7.0   2.0  13.0  39.0   80.0  36.0
27        28  2013      3    2     3   28.0  47.0  21.0  71.0  120.0   6.0
28        29  2013      3    2     4   31.0  65.0  25.0  71.0  120.0   5.0
29        30  2013      3    2     5   39.0  55.0  22.0  70.0  120.0   2.0
30        31  2013      3    2     6   41.0  45.0  16.0  65.0  100.0   4.0
...      ...   ...    ...  ...   ...    ...   ...   ...   ...    ...   ...
35046  35047  2017      2   28     6   13.0  23.0  12.0  15.0   60.0  62.0
35047  35048  2017      2   28     7   18.0  30.0  13.0  30.0   70.0  37.0
35048  35049  2017      2   28     8   25.0  49.0  11.0  29.0   80.0  42.0
35049  35050  2017      2   28     9   37.0  37.0   9.0  23.0   60.0  59.0
35056  35057  2017      2   28    16   14.0  30.0   5.0   6.0   80.0  93.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM   station
26     -1.7  1027.7 -17.4   0.0  SSW   1.5  Dingling
27     -2.5  1027.7 -17.4   0.0   SW   1.7  Dingling
28     -3.4  1027.5 -17.0   0.0   NW   0.8  Dingling
29     -3.5  1026.9 -16.8   0.0    N   0.5  Dingling
30     -3.5  1026.1 -15.8   0.0  NNE   0.9  Dingling
...     ...     ...   ...   ...  ...   ...       ...
35046   5.3  1011.5 -10.1   0.0   NW   1.1  Dingling
35047   4.0  1011.7 -10.1   0.0   NW   0.9  Dingling
35048   4.7  1012.1  -9.1   0.0   NW   1.2  Dingling
35049  10.0  1012.1 -10.2   0.0    E   1.2  Dingling
35056  15.4  1007.2 -12.9   0.0  WNW   4.4  Dingling

[19189 rows x 18 columns]

In [135]:
# Imputasi nilai CO yang masih tidak realistis dengan nilai median
median_co_after_conversion_dingling = Dingling_df_cleaned[(Dingling_df_cleaned['CO'] >= 0) & (Dingling_df_cleaned['CO'] <= 50)]['CO'].median()
Dingling_df_cleaned['CO'] = Dingling_df_cleaned['CO'].apply(lambda x: median_co_after_conversion_dingling if x > 50 or x < 0 else x)

# Cek deskripsi dataset yang sudah dilakukan proses konversi dan imputasi
print(Dingling_df_cleaned.describe())

                 No          year         month           day          hour  \
count  34180.000000  34180.000000  34180.000000  34180.000000  34180.000000
mean   17478.297659   2014.654535      6.545904     15.708631     11.480222
std    10132.182582      1.178883      3.426392      8.804038      6.919493
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8716.750000   2014.000000      4.000000      8.000000      5.000000
50%    17495.500000   2015.000000      7.000000     16.000000     11.000000
75%    26237.250000   2016.000000      9.000000     23.000000     17.000000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34180.000000  34180.000000  34180.000000  34180.000000  34180.000000
mean      60.548212     76.784359     11.210890     26.178836     30.442949
std       61.331283     64.397990     14.782676     24.152589      8.314532
min        3.000000      2.000000      0.285600      1.026500     10.000000
25%       14.000000     26.000000      2.000000      9.000000     30.000000
50%       41.000000     60.000000      5.000000     19.000000     30.000000
75%       87.000000    111.000000     14.000000     35.000000     30.000000
max      368.000000    300.000000    150.000000    187.028300     50.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  34180.000000  34180.000000  34180.000000  34180.000000  34180.000000
mean      68.832536     13.813007   1007.708612      1.554962      0.060995
std       52.853037     11.386267     10.267635     13.910969      0.756686
min        0.214200    -16.600000    982.400000    -35.100000      0.000000
25%       33.000000      3.600000    999.200000    -10.400000      0.000000
50%       61.000000     14.900000   1007.300000      2.000000      0.000000
75%       89.000000     23.400000   1016.000000     14.400000      0.000000
max      500.000000     41.400000   1036.500000     27.200000     52.100000

               WSPM
count  34180.000000
mean       1.859792
std        1.303290
min        0.000000
25%        1.000000
50%        1.500000
75%        2.300000
max        9.600000

*temporary insight*

Proses ini mengonversi nilai CO menjadi lebih realistis dengan membaginya dengan 10, sesuai asumsi bahwa alat pengukuran mungkin salah mendeteksi dalam kelipatan tersebut. Karena nilai CO yang realistis (nilai CO antara 0 hingga 50 mg/m³). Setelah konversi, dilakukan validasi lebih lanjut untuk memastikan bahwa semua nilai CO berada dalam rentang yang wajar. Jika ada nilai yang masih tidak realistis, digunakan metode imputasi dengan nilai median CO yang sudah bersih. Hal ini dilakukan karena kurangnya informasi dari dataset tesebut mengenai satuan ukur apa yang digunakan pada tiap-tiap kolomnya, sehingga dibuat asusmsi berdasarkan nilai satuan yang umum digunakan di publik, berdasarkan riset yang telah dilakukan. Dengan cara ini, dataset Dingling_df_cleaned sudah lebih akurat untuk analisis selanjutnya.

*temporary insight*

1. Menangani Missing Values:

   Kolom dengan missing values yang banyak seperti CO, PM2.5, NO2, SO2, O3, dan PM10 telah ditangani menggunakan metode imputasi median. Hal ini dilakukan agar tidak kehilangan terlalu banyak data penting, sambil tetap mengisi nilai yang realistis dan representatif.

   Untuk kolom dengan jumlah missing values yang relatif sedikit seperti TEMP, PRES, DEWP, RAIN, wd, dan WSPM, dilakukan dropping values. Ini dipilih karena menghapus sedikit data tidak akan mempengaruhi keseluruhan dataset secara signifikan.


2. Menangani Inaccurate Values:

   Seperti yang telah dilakukan pada dataset sebelumnya-sebelumnya, kolom CO, PM2.5, dan PM10 pada Dingling_df_cleaned ini juga diperiksa untuk nilai yang tidak realistis.

   Nilai-nilai yang dianggap tidak realistis di luar rentang normal pada masing-masing kolom telah diubah atau difilter sesuai dengan rentang realistis, seperti CO dengan nilai realistis di rentang 0–50 mg/m³. PM2.5 dan PM10 ditetapkan pada rentang realistis berdasarkan pedoman kualitas udara.



Dengan semua missing values dan inaccurate values telah ditangani. Ini memastikan bahwa data siap digunakan untuk analisis lebih lanjut tanpa bias atau error yang berasal dari data yang hilang atau nilai yang tidak realistis. Dengan memilih metode imputasi untuk kolom dengan banyak missing values dan dropping untuk yang sedikit, diharapkan dapat mengoptimalkan jumlah data yang tetap relevan tanpa mengorbankan integritas dataset. Serta melakukan filter atau transformasi terhadap nilai yang tidak realistis pada kolom penting (seperti CO, PM2.5, dan PM10) memastikan hasil analisis yang lebih akurat dan representatif terhadap kondisi nyata.

#### Membersihkan Data Dongsi_df

##### Menangani Missing Value pada Dongsi_df

###### Missing value pada Dongsi_df kolom CO

In [136]:
# Mengecek jumlah missing values di setiap kolom
missing_values_dongsi = Dongsi_df.isnull().sum()
print(missing_values)

# Mengecek persentase missing values di kolom CO
co_missing_percentage_dongsi = Dongsi_df['CO'].isnull().mean() * 100
print(f"Persentase missing values di kolom CO Dongsi_df: {co_missing_percentage_dongsi}%")

No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2        1234
CO         2012
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64
Persentase missing values di kolom CO Dongsi_df: 9.11761350673055%

In [137]:
# Menggunakan nilai median dari kolom CO untuk mengisikan missing value colom CO
co_median_dongsi = Dongsi_df['CO'].median()
print(f"Median CO: {co_median_dongsi}")

# Melakukan imputasi nilai median pada kolom CO yang mengandung missing value
Dongsi_df_cleaned = Dongsi_df.copy()  
Dongsi_df_cleaned['CO'] = Dongsi_df_cleaned['CO'].fillna(co_median_dongsi)

# Cek apakah missing values saat ini pada data Dongsi_df_cleaned
print(Dongsi_df_cleaned.isna().sum())

Median CO: 1000.0
No            0
year          0
month         0
day           0
hour          0
PM2.5       750
PM10        553
SO2         663
NO2        1601
CO            0
O3          664
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

*temporary insight*

Dipilih kolom CO terlebih dahulu yang dilakukan penanganan missing values, karena kolom CO memiliki jumlah missing values paling banyak diantara kolom yang lainnya pada Dongsi_df, sehingga diharapkan meminimalisir penggunaan metode dropping values dalam cleaning data ini. Pertama, dilakukan identifikasi missing values pada kolom CO untuk mengetahui besaran masalah. Selanjutnya, memilih memutuskan menggunakan nilai median untuk mengisi missing values karena lebik cocok jika terdapat outlier. Kemudian menyimpan dataset yang telah diberikan pada variabel Dongsi_df_cleaned dan menampilkan jumlah missing values pada data tersebut saat ini. Dapat dilihat jumlah missing values paling banyak saat ini adalah pada kolom NO2 sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Dongsi_df_cleaned kolom NO2

In [138]:
# Mengecek persentase missing values di kolom NO2
NO2_missing_percentage_dongsi = Dongsi_df_cleaned['NO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom NO2: {NO2_missing_percentage_dingling}%")

Persentase missing values di kolom NO2: 3.5192790326260557%

In [139]:
# Menggunakan nilai median dari kolom NO2 untuk mengisikan missing value kolom NO2
NO2_median_dongsi = Dongsi_df_cleaned['NO2'].median()
print(f"Median NO2: {NO2_median_dongsi}")

# Melakukan imputasi nilai median pada kolom NO2 yang mengandung missing value
Dongsi_df_cleaned['NO2'] = Dongsi_df_cleaned['NO2'].fillna(NO2_median_dongsi)

# Cek apakah missing values saat ini pada data Dongsi_df_cleaned
print(Dongsi_df_cleaned.isna().sum())

Median NO2: 47.0
No           0
year         0
month        0
day          0
hour         0
PM2.5      750
PM10       553
SO2        663
NO2          0
CO           0
O3         664
TEMP        20
PRES        20
DEWP        20
RAIN        20
wd          78
WSPM        14
station      0
dtype: int64

*temporary insight*

Sama seperti penanganan missing values pada kolom CO. Dilakukan juga identifikasi missing values pada kolom NO2 ini untuk mengetahui besaran masalah. Selanjutnya, memilih memutuskan menggunakan nilai median untuk mengisi missing values karena lebik cocok jika terdapat outlier. Kemudian menyimpan dataset yang telah diberikan pada variabel Dongsi_df_cleaned dan menampilkan jumlah missing values pada data tersebut saat ini. Dapat dilihat jumlah missing values paling banyak saat ini adalah pada kolom PM2.5 sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Dongsi_df_cleaned kolom PM.25

In [140]:
# Mengecek persentase missing values di kolom PM2.5
PM25_missing_percentage_dongsi = Dongsi_df_cleaned['PM2.5'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM2.5: {PM25_missing_percentage_dongsi}%")

Persentase missing values di kolom PM2.5: 2.138945927446954%

In [141]:
# Menggunakan nilai median dari kolom PM2.5 untuk mengisikan missing value kolom PM2.5
PM25_median_dongsi = Dongsi_df_cleaned['PM2.5'].median()
print(f"Median PM2.5: {PM25_median_dongsi}")

# Melakukan imputasi nilai median pada kolom PM2.5 yang mengandung missing value
Dongsi_df_cleaned['PM2.5'] = Dongsi_df_cleaned['PM2.5'].fillna(PM25_median_dongsi)

# Cek apakah missing values saat ini pada data Dingling_df_cleaned
print("Missing value pada Dongsi_df_cleaned saat ini :\n", Dongsi_df_cleaned.isna().sum())

Median PM2.5: 61.0
Missing value pada Dongsi_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       553
SO2        663
NO2          0
CO           0
O3         664
TEMP        20
PRES        20
DEWP        20
RAIN        20
wd          78
WSPM        14
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom PM2.5 ini sama seperti kolom-kolom sebelumnya pada dataset Dongsi_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom PM2.5. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom O3. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Dongsi_df_cleaned kolom O3

In [142]:
# Mengecek persentase missing values di kolom O3
O3_missing_percentage_dongsi = Dongsi_df_cleaned['O3'].isnull().mean() * 100
print(f"Persentase missing values di kolom O3: {O3_missing_percentage_dongsi}%")

Persentase missing values di kolom O3: 1.8936801277663702%

In [143]:
# Menggunakan nilai median dari kolom O3 untuk mengisikan missing value kolom O3
O3_median_dongsi = Dongsi_df_cleaned['O3'].median()
print(f"Median O3: {O3_median_dongsi}")

# Melakukan imputasi nilai median pada kolom O3 yang mengandung missing value
Dongsi_df_cleaned['O3'] = Dongsi_df_cleaned['O3'].fillna(O3_median_dongsi)

# Cek apakah missing values saat ini pada data Dongsi_df_cleaned
print("Missing value pada Dongsi_df_cleaned saat ini :\n", Dongsi_df_cleaned.isna().sum())

Median O3: 44.1252
Missing value pada Dongsi_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       553
SO2        663
NO2          0
CO           0
O3           0
TEMP        20
PRES        20
DEWP        20
RAIN        20
wd          78
WSPM        14
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom O3 ini sama seperti kolom-kolom sebelumnya pada dataset Dongsi_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom O3. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom SO2. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Dongsi_df_cleaned kolom SO2

In [144]:
# Mengecek persentase missing values di kolom SO2
SO2_missing_percentage_dongsi = Dongsi_df_cleaned['SO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom SO2: {SO2_missing_percentage_dongsi}%")

Persentase missing values di kolom SO2: 1.8908281998631076%

In [145]:
# Menggunakan nilai median dari kolom SO2 untuk mengisikan missing value kolom SO2
SO2_median_dongsi = Dongsi_df_cleaned['SO2'].median()
print(f"Median SO2: {SO2_median_dongsi}")

# Melakukan imputasi nilai median pada kolom SO2 yang mengandung missing value
Dongsi_df_cleaned['SO2'] = Dongsi_df_cleaned['SO2'].fillna(SO2_median_dongsi)

# Cek apakah missing values saat ini pada data Dongsi_df_cleaned
print("Missing value pada Dongsi_df_cleaned saat ini :\n", Dongsi_df_cleaned.isna().sum())

Median SO2: 10.0
Missing value pada Dongsi_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       553
SO2          0
NO2          0
CO           0
O3           0
TEMP        20
PRES        20
DEWP        20
RAIN        20
wd          78
WSPM        14
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom SO2 ini sama seperti kolom-kolom sebelumnya pada dataset Dingling_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom SO2. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom PM10. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Dongsi_df_cleaned kolom PM10

In [146]:
# Mengecek persentase missing values di kolom PM10
PM10_missing_percentage_dongsi = Dongsi_df_cleaned['PM10'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM10: {PM10_missing_percentage_dongsi}%")

Persentase missing values di kolom PM10: 1.577116130504221%

In [147]:
# Menggunakan nilai median dari kolom PM10 untuk mengisikan missing value kolom PM10
PM10_median_dongsi = Dongsi_df_cleaned['PM10'].median()
print(f"Median PM10: {PM10_median_dongsi}")

# Melakukan imputasi nilai median pada kolom PM10 yang mengandung missing value
Dongsi_df_cleaned['PM10'] = Dongsi_df_cleaned['PM10'].fillna(PM10_median_dongsi)

# Cek apakah missing values saat ini pada data Dongsi_df_cleaned
print("Missing value pada Dongsi_df_cleaned saat ini :\n", Dongsi_df_cleaned.isna().sum())

Median PM10: 86.0
Missing value pada Dongsi_df_cleaned saat ini :
 No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP       20
PRES       20
DEWP       20
RAIN       20
wd         78
WSPM       14
station     0
dtype: int64

*temporary insight*

Telah dilakukan penanganan missing values pada kolom PM10. Dengan melakukan metode imputasi nilai median pada setiap baris kolom tersebut yang terdapat missing values. Dari informasi yang telah ditampilkan saat ini hanya beberapa kolom saja yang memiliki missing values dengan jumlah yang tidak begitu banyak juga. Sehingga akan ditangani selanjutnya.

###### Missing values pada data Dongsi_df_cleaned kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM

In [148]:
# Menampilkan jumlah missing values saat ini pada data Dongsi_df_cleaned
print("Jumlah missing values saat ini:")
print(Dongsi_df_cleaned.isna().sum())

Jumlah missing values saat ini:
No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP       20
PRES       20
DEWP       20
RAIN       20
wd         78
WSPM       14
station     0
dtype: int64

In [150]:
# Menghapus baris yang memiliki missing values pada kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM
Dongsi_df_cleaned.dropna(subset=['TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM'], inplace=True)

# Verifikasi penghapusan missing values
print("Jumlah missing values sekarang:")
print(Dongsi_df_cleaned.isna().sum())

Jumlah missing values sekarang:
No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

*temporary insight*

Dilakukan periksa ulang jumlah missing values setelah imputasi pada kolom yang tersisa. Kemudian melakukan dropping missing values dengan menggunakan metode `dropna()` untuk menghapus baris yang memiliki missing values pada kolom-kolom tersebut. Dan juga telah dilakukan verifikasi hasil dropping missing values sudah dihilangkan dengan memeriksa ulang dataset. Sehingga saat ini data Dongsi_df_cleaned sudah bersih dari missing values

##### Menangani Inaccurate Value pada Dongsi_df_cleaned

In [152]:
Dongsi_df_cleaned.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000,34980.000000
mean,17498.477015,2014.658519,6.525100,15.723613,11.501715,85.616898,109.903897,18.376890,53.344467,1299.119868,57.041053,13.687112,1012.537433,2.453548,0.064137,1.863310
std,10108.987731,1.175354,3.446217,8.801764,6.918894,85.723283,97.499453,22.732897,33.184544,1139.555963,57.532974,11.456090,10.266518,13.813296,0.786996,1.279225
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.642600,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8745.750000,2014.000000,4.000000,8.000000,6.000000,23.000000,38.000000,4.000000,28.000000,600.000000,13.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17492.500000,2015.000000,7.000000,16.000000,12.000000,61.000000,86.000000,10.000000,47.000000,1000.000000,44.125200,14.600000,1012.200000,3.100000,0.000000,1.500000
75%,26242.250000,2016.000000,10.000000,23.000000,17.000000,117.000000,150.000000,24.000000,72.000000,1600.000000,80.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,737.000000,955.000000,300.000000,258.000000,10000.000000,1071.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

###### Inaccurate value data Dongsi_df_cleaned kolom PM2.5

In [153]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM2.5
max_pm25_row_dongsi = Dongsi_df_cleaned[Dongsi_df_cleaned['PM2.5'] == Dongsi_df_cleaned['PM2.5'].max()]
print(max_pm25_row_dongsi)

        No  year  month  day  hour  PM2.5   PM10    SO2   NO2      CO    O3  \
8423  8424  2014      2   14    23  737.0  734.0  200.0  47.0  4800.0  59.0

      TEMP    PRES  DEWP  RAIN  wd  WSPM station
8423  -4.5  1020.5  -6.8   0.0  NE   0.8  Dongsi

In [154]:
# Menentukan batas maksimum untuk PM2.5
batas_maksimum_pm25 = 500

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_dongsi = Dongsi_df_cleaned[Dongsi_df_cleaned['PM2.5'] > batas_maksimum_pm25].shape[0]

# Menampilkan informasi
print(f"Jumlah baris yang dihapus pada Dongsi_df_cleaned: {jumlah_baris_hilang_dongsi}")

Jumlah baris yang dihapus pada Dongsi_df_cleaned: 112

In [155]:
# Menghapus baris yang memiliki nilai PM2.5 lebih dari batas maksimum
Dongsi_df_cleaned = Dongsi_df_cleaned[Dongsi_df_cleaned['PM2.5'] <= batas_maksimum_pm25]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_dongsi = Dongsi_df_cleaned.shape[0]

# Menampilkan informasi
print(f"Jumlah baris tersisa setelah penghapusan pada Dongsi_df_cleaned: {jumlah_baris_tersisa_dongsi}")

Jumlah baris tersisa setelah penghapusan pada Dongsi_df_cleaned: 34868

*temporary insight*

Dilakukan penetapan batas maksimum untuk PM2.5, dengan nilai 500 seperti yang telah dilakukan pada dataset sebelumnya juga. Atas dasar karena dalam banyak studi, nilai PM2.5 yang lebih dari 500 bisa dianggap tidak wajar. kemudian menghitung jumlah baris data yang akan dihapus pada Dongsi_df_cleaned. Dengan menggunakan kondisi untuk menghitung jumlah baris yang memiliki nilai PM2.5 lebih dari batas maksimum. Lalu menghapus baris dan memeriksa ukuran dataset saat ini. Dalam hal ini dapat dilihat, bahwa jumlah baris data yang dihapus atau memiliki nilai PM2.5 lebih dari 500 terhitung sebanyak 112 baris data. Dan setelah dilakukan dropping values, tersisa 34868 baris data pada Dongsi_df_cleaned.

###### Inaccurate value pada Dongsi_df_cleaned kolom PM10

In [156]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM10
max_pm10_row_dongsi = Dongsi_df_cleaned[Dongsi_df_cleaned['PM10'] == Dongsi_df_cleaned['PM10'].max()]
print(max_pm10_row_dongsi)

          No  year  month  day  hour  PM2.5   PM10  SO2   NO2     CO    O3  \
26973  26974  2016      3   28    21   60.0  891.0  2.0  14.0  200.0  79.0

       TEMP    PRES  DEWP  RAIN  wd  WSPM station
26973  19.0  1008.5  -5.2   0.0  NW   4.3  Dongsi

In [157]:
# Menentukan batas maksimum untuk PM10
batas_maksimum_pm10 = 300.0 

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_pm10_dongsi = Dongsi_df_cleaned[Dongsi_df_cleaned['PM10'] > batas_maksimum_pm10].shape[0]
print(f"Jumlah baris yang akan dihapus dari PM10: {jumlah_baris_hilang_pm10_dongsi}")

Jumlah baris yang akan dihapus dari PM10: 1530

In [158]:
# Menghapus baris yang memiliki nilai PM10 lebih dari batas maksimum
Dongsi_df_cleaned = Dongsi_df_cleaned[Dongsi_df_cleaned['PM10'] <= batas_maksimum_pm10]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_pm10_dongsi = Dongsi_df_cleaned.shape[0]

print(f"Jumlah baris tersisa setelah penghapusan PM10: {jumlah_baris_tersisa_pm10_dongsi}")

Jumlah baris tersisa setelah penghapusan PM10: 33338

*temporary value*

Dilakukan juga pembersihan inaccurate value pada data Dongsi_df_cleaned dengan melakukan dropping. atau menghapus (drop) data pada kolom PM10 yang melebihi ambang batas yang telah ditentukan. Yakni nilai yang ditentukan tidak wajar, denagn pemilihan batas maksimum 300.0 adalah berdasarkan pemahaman tentang kualitas udara dan standar yang umum digunakan. Nilai ini didasarkan pada standar kualitas udara, di mana nilai PM10 di atas 300.0 bisa dianggap sebagai tidak wajar dan mungkin menunjukkan kesalahan pengukuran atau data yang tidak konsisten. Karena berdasarkan analisah yang telah dilakuan, batas maksimum yang wajar untuk PM10 bisa disarankan antara 150.0 hingga 300.0 untuk kualitas udara yang baik, dan nilai di atas 300.0 bisa dianggap sebagai data tidak wajar dalam konteks tertentu. Setelah penghapusan, diberikan informasi yang jelas tentang berapa banyak data yang hilang dan berapa banyak data yang tersisa, memastikan bahwa analisis selanjutnya didasarkan pada data yang valid.

###### Inaccurate value pada Dongsi_df_cleaned kolom CO

In [159]:
# Identifikasi nilai CO yang tidak realistis (di atas 50 mg/m³ dan di bawah 0 mg/m³)
unrealistic_co_dongsi = Dongsi_df_cleaned[(Dongsi_df_cleaned['CO'] > 50) | (Dongsi_df_cleaned['CO'] < 0)]
print(unrealistic_co_dongsi)

          No  year  month  day  hour  PM2.5  PM10   SO2   NO2      CO  \
0          1  2013      3    1     0    9.0   9.0   3.0  17.0   300.0
1          2  2013      3    1     1    4.0   4.0   3.0  16.0   300.0
2          3  2013      3    1     2    7.0   7.0  10.0  17.0   300.0
3          4  2013      3    1     3    3.0   3.0   5.0  18.0  1000.0
4          5  2013      3    1     4    3.0   3.0   7.0  47.0   200.0
...      ...   ...    ...  ...   ...    ...   ...   ...   ...     ...
35059  35060  2017      2   28    19   16.0  51.0   3.0  29.0   400.0
35060  35061  2017      2   28    20   18.0  45.0   3.0  43.0   500.0
35061  35062  2017      2   28    21   23.0  58.0   5.0  61.0   700.0
35062  35063  2017      2   28    22   23.0  53.0   9.0  75.0   900.0
35063  35064  2017      2   28    23   30.0  71.0  11.0  87.0  1200.0

            O3  TEMP    PRES  DEWP  RAIN   wd  WSPM station
0      89.0000  -0.5  1024.5 -21.4   0.0  NNW   5.7  Dongsi
1      88.0000  -0.7  1025.1 -22.1   0.0   NW   3.9  Dongsi
2      60.0000  -1.2  1025.3 -24.6   0.0  NNW   5.3  Dongsi
3      44.1252  -1.4  1026.2 -25.5   0.0    N   4.9  Dongsi
4      84.0000  -1.9  1027.1 -24.5   0.0  NNW   3.2  Dongsi
...        ...   ...     ...   ...   ...  ...   ...     ...
35059  73.0000  12.5  1013.5 -16.2   0.0   NW   2.4  Dongsi
35060  54.0000  11.6  1013.6 -15.1   0.0  WNW   0.9  Dongsi
35061  28.0000  10.8  1014.2 -13.3   0.0   NW   1.1  Dongsi
35062  15.0000  10.5  1014.4 -12.9   0.0  NNW   1.2  Dongsi
35063   4.0000   8.6  1014.1 -15.9   0.0  NNE   1.3  Dongsi

[33338 rows x 18 columns]

In [160]:
# Mengonversi nilai CO dari ratusan ke puluhan (mg/m³)
Dongsi_df_cleaned['CO'] = Dongsi_df_cleaned['CO'] / 10

# Memvalidasi hasil konversi
Dongsi_df_cleaned['CO'].describe()

count    33338.000000
mean       117.467254
std         88.722977
min         10.000000
25%         60.000000
50%        100.000000
75%        140.000000
max       1000.000000
Name: CO, dtype: float64

In [161]:
# Cek data CO yang masih tidak realistis (lebih dari 50 mg/m³ atau kurang dari 0 mg/m³).
unrealistic_co_after_conversion_dongsi = Dongsi_df_cleaned[(Dongsi_df_cleaned['CO'] > 50) | (Dongsi_df_cleaned['CO'] < 0)]
print(unrealistic_co_after_conversion_dongsi)

          No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO       O3  \
3          4  2013      3    1     3    3.0   3.0   5.0  18.0  100.0  44.1252
19        20  2013      3    1    19   13.0  17.0  12.0  42.0   60.0  63.0000
21        22  2013      3    1    21   15.0  17.0  13.0  51.0   60.0  48.0000
22        23  2013      3    1    22   19.0  21.0  17.0  60.0   70.0  36.0000
23        24  2013      3    1    23    8.0  14.0  16.0  58.0   60.0  39.0000
...      ...   ...    ...  ...   ...    ...   ...   ...   ...    ...      ...
35047  35048  2017      2   28     7   10.0  30.0  11.0  36.0   60.0  47.0000
35048  35049  2017      2   28     8   13.0  39.0  13.0  46.0   60.0  40.0000
35061  35062  2017      2   28    21   23.0  58.0   5.0  61.0   70.0  28.0000
35062  35063  2017      2   28    22   23.0  53.0   9.0  75.0   90.0  15.0000
35063  35064  2017      2   28    23   30.0  71.0  11.0  87.0  120.0   4.0000

       TEMP    PRES  DEWP  RAIN   wd  WSPM station
3      -1.4  1026.2 -25.5   0.0    N   4.9  Dongsi
19      3.0  1030.1 -19.7   0.0    N   1.1  Dongsi
21      0.8  1032.4 -19.7   0.0   NE   1.0  Dongsi
22      0.1  1032.9 -19.2   0.0  ENE   1.8  Dongsi
23     -0.5  1032.8 -19.7   0.0   NE   2.1  Dongsi
...     ...     ...   ...   ...  ...   ...     ...
35047   8.4  1016.2 -12.1   0.0   NW   2.3  Dongsi
35048   9.2  1016.6 -11.5   0.0   NW   1.3  Dongsi
35061  10.8  1014.2 -13.3   0.0   NW   1.1  Dongsi
35062  10.5  1014.4 -12.9   0.0  NNW   1.2  Dongsi
35063   8.6  1014.1 -15.9   0.0  NNE   1.3  Dongsi

[25669 rows x 18 columns]

In [162]:
# Imputasi nilai CO yang masih tidak realistis dengan nilai median
median_co_after_conversion_dongsi = Dongsi_df_cleaned[(Dongsi_df_cleaned['CO'] >= 0) & (Dongsi_df_cleaned['CO'] <= 50)]['CO'].median()
Dongsi_df_cleaned['CO'] = Dongsi_df_cleaned['CO'].apply(lambda x: median_co_after_conversion_dongsi if x > 50 or x < 0 else x)

# Cek deskripsi dataset yang sudah dilakukan proses konversi dan imputasi
print(Dongsi_df_cleaned.describe())

                 No          year         month           day          hour  \
count  33338.000000  33338.000000  33338.000000  33338.000000  33338.000000
mean   17392.141430   2014.648119      6.505639     15.692843     11.469944
std    10100.731548      1.175985      3.388961      8.790661      6.875097
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8600.250000   2014.000000      4.000000      8.000000      6.000000
50%    17442.500000   2015.000000      7.000000     16.000000     11.000000
75%    26171.750000   2016.000000      9.000000     23.000000     17.000000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  33338.000000  33338.000000  33338.000000  33338.000000  33338.000000
mean      74.315361     95.418186     17.046844     50.491152     39.067431
std       64.630467     70.322637     20.729969     29.609303      5.545792
min        3.000000      2.000000      0.285600      2.000000     10.000000
25%       22.000000     37.000000      3.000000     28.000000     40.000000
50%       59.000000     83.000000     10.000000     47.000000     40.000000
75%      107.000000    138.000000     22.000000     68.000000     40.000000
max      370.000000    300.000000    300.000000    221.000000     50.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  33338.000000  33338.000000  33338.000000  33338.000000  33338.000000
mean      58.506475     14.075864   1012.398472      2.611170      0.067164
std       57.639819     11.426428     10.367612     14.000413      0.805954
min        0.642600    -16.800000    987.100000    -35.300000      0.000000
25%       15.000000      3.800000   1003.700000     -9.100000      0.000000
50%       45.000000     15.300000   1012.000000      3.700000      0.000000
75%       82.000000     23.800000   1020.900000     15.400000      0.000000
max     1071.000000     41.100000   1042.000000     28.800000     46.400000

               WSPM
count  33338.000000
mean       1.884996
std        1.272987
min        0.000000
25%        1.000000
50%        1.500000
75%        2.400000
max       10.500000

*temporary insight*

Proses ini mengonversi nilai CO menjadi lebih realistis dengan membaginya dengan 10, sesuai asumsi bahwa alat pengukuran mungkin salah mendeteksi dalam kelipatan tersebut. Karena nilai CO yang realistis (nilai CO antara 0 hingga 50 mg/m³). Setelah konversi, dilakukan validasi lebih lanjut untuk memastikan bahwa semua nilai CO berada dalam rentang yang wajar. Jika ada nilai yang masih tidak realistis, digunakan metode imputasi dengan nilai median CO yang sudah bersih. Hal ini dilakukan karena kurangnya informasi dari dataset tesebut mengenai satuan ukur apa yang digunakan pada tiap-tiap kolomnya, sehingga dibuat asusmsi berdasarkan nilai satuan yang umum digunakan di publik, berdasarkan riset yang telah dilakukan. Dengan cara ini, dataset Dongsi_df_cleaned sudah lebih akurat untuk analisis selanjutnya.

*temporary insight*

1. Menangani Missing Values:

   Kolom dengan missing values yang banyak seperti CO, PM2.5, NO2, SO2, O3, dan PM10 telah ditangani menggunakan metode imputasi median. Hal ini dilakukan agar tidak kehilangan terlalu banyak data penting, sambil tetap mengisi nilai yang realistis dan representatif.

   Untuk kolom dengan jumlah missing values yang relatif sedikit seperti TEMP, PRES, DEWP, RAIN, wd, dan WSPM, dilakukan dropping values. Ini dipilih karena menghapus sedikit data tidak akan mempengaruhi keseluruhan dataset secara signifikan.



2. Menangani Inaccurate Values:

   Seperti yang telah dilakukan pada dataset sebelumnya-sebelumnya, kolom CO, PM2.5, dan PM10 pada Dongsi_df_cleaned ini juga diperiksa untuk nilai yang tidak realistis.

   Nilai-nilai yang dianggap tidak realistis di luar rentang normal pada masing-masing kolom telah diubah atau difilter sesuai dengan rentang realistis, seperti CO dengan nilai realistis di rentang 0–50 mg/m³. PM2.5 dan PM10 ditetapkan pada rentang realistis berdasarkan pedoman kualitas udara.



Dengan semua missing values dan inaccurate values telah ditangani. Ini memastikan bahwa data siap digunakan untuk analisis lebih lanjut tanpa bias atau error yang berasal dari data yang hilang atau nilai yang tidak realistis. Dengan memilih metode imputasi untuk kolom dengan banyak missing values dan dropping untuk yang sedikit, diharapkan dapat mengoptimalkan jumlah data yang tetap relevan tanpa mengorbankan integritas dataset. Serta melakukan filter atau transformasi terhadap nilai yang tidak realistis pada kolom penting (seperti CO, PM2.5, dan PM10) memastikan hasil analisis yang lebih akurat dan representatif terhadap kondisi nyata.

#### Membersihakan Data Guanyuan_df

##### Menangani Missing value pada Guanyuan_df

###### Missing value pada Guanyuan_df kolom CO

In [163]:
# Mengecek jumlah missing values di setiap kolom
missing_values_guanyuan = Guanyuan_df.isnull().sum()
print(missing_values)

# Mengecek persentase missing values di kolom CO
co_missing_percentage_guanyuan = Guanyuan_df['CO'].isnull().mean() * 100
print(f"Persentase missing values di kolom CO Guanyuan_df: {co_missing_percentage_guanyuan}%")

No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2        1234
CO         2012
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64
Persentase missing values di kolom CO Guanyuan_df: 4.9994296144193475%

In [164]:
# Menggunakan nilai median dari kolom CO untuk mengisikan missing value colom CO
co_median_guanyuan = Guanyuan_df['CO'].median()
print(f"Median CO: {co_median_guanyuan}")

# Melakukan imputasi nilai median pada kolom CO yang mengandung missing value
Guanyuan_df_cleaned = Guanyuan_df.copy()  
Guanyuan_df_cleaned['CO'] = Guanyuan_df_cleaned['CO'].fillna(co_median_guanyuan)

# Cek apakah missing values saat ini pada data Guanyuan_df_cleaned
print(Guanyuan_df_cleaned.isna().sum())

Median CO: 900.0
No            0
year          0
month         0
day           0
hour          0
PM2.5       616
PM10        429
SO2         474
NO2         659
CO            0
O3         1173
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

*temporary insight*

Dipilih kolom CO terlebih dahulu yang dilakukan penanganan missing values, karena kolom CO memiliki jumlah missing values paling banyak diantara kolom yang lainnya pada Dongsi_df, sehingga diharapkan meminimalisir penggunaan metode dropping values dalam cleaning data ini. Pertama, dilakukan identifikasi missing values pada kolom CO untuk mengetahui besaran masalah. Selanjutnya, memilih memutuskan menggunakan nilai median untuk mengisi missing values karena lebik cocok jika terdapat outlier. Kemudian menyimpan dataset yang telah diberikan pada variabel Guanyuan_df_cleaned dan menampilkan jumlah missing values pada data tersebut saat ini. Dapat dilihat jumlah missing values paling banyak saat ini adalah pada kolom O3 sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Guanyuan_df_cleaned kolom O3

In [165]:
# Mengecek persentase missing values di kolom O3
O3_missing_percentage_guanyuan = Guanyuan_df_cleaned['O3'].isnull().mean() * 100
print(f"Persentase missing values di kolom O3: {O3_missing_percentage_guanyuan}%")

Persentase missing values di kolom O3: 3.3453114305270364%

In [166]:
# Menggunakan nilai median dari kolom O3 untuk mengisikan missing value kolom O3
O3_median_guanyuan = Guanyuan_df_cleaned['O3'].median()
print(f"Median O3: {O3_median_guanyuan}")

# Melakukan imputasi nilai median pada kolom O3 yang mengandung missing value
Guanyuan_df_cleaned['O3'] = Guanyuan_df_cleaned['O3'].fillna(O3_median_guanyuan)

# Cek apakah missing values saat ini pada data Dongsi_df_cleaned
print("Missing value pada Guanyuan_df_cleaned saat ini :\n", Guanyuan_df_cleaned.isna().sum())

Median O3: 41.0
Missing value pada Guanyuan_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5      616
PM10       429
SO2        474
NO2        659
CO           0
O3           0
TEMP        20
PRES        20
DEWP        20
RAIN        20
wd          81
WSPM        14
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom O3 ini sama seperti kolom-kolom sebelumnya pada dataset Guanyuan_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom O3. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom NO2. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Guanyuan_df_cleaned kolom NO2

In [167]:
# Mengecek persentase missing values di kolom NO2
NO2_missing_percentage_guanyuan = Guanyuan_df_cleaned['NO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom NO2: {NO2_missing_percentage_guanyuan}%")

Persentase missing values di kolom NO2: 1.8794204882500571%

In [169]:
# Menggunakan nilai median dari kolom NO2 untuk mengisikan missing value kolom NO2
NO2_median_guanyuan = Guanyuan_df_cleaned['NO2'].median()
print(f"Median NO2: {NO2_median_guanyuan}")

# Melakukan imputasi nilai median pada kolom NO2 yang mengandung missing value
Guanyuan_df_cleaned['NO2'] = Guanyuan_df_cleaned['NO2'].fillna(NO2_median_guanyuan)

# Cek apakah missing values saat ini pada data Guanyuan_df_cleaned
print(Guanyuan_df_cleaned.isna().sum())

Median NO2: 51.0
No           0
year         0
month        0
day          0
hour         0
PM2.5      616
PM10       429
SO2        474
NO2          0
CO           0
O3           0
TEMP        20
PRES        20
DEWP        20
RAIN        20
wd          81
WSPM        14
station      0
dtype: int64

*temporary insight*

Dilakukan juga identifikasi missing values pada kolom NO2 ini untuk mengetahui besaran masalah. Selanjutnya, memilih memutuskan menggunakan nilai median untuk mengisi missing values karena lebik cocok jika terdapat outlier. Kemudian menyimpan dataset yang telah diberikan pada variabel Guanyuan_df_cleaned dan menampilkan jumlah missing values pada data tersebut saat ini. Dapat dilihat jumlah missing values paling banyak saat ini adalah pada kolom PM2.5 sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Guanyuan_df_cleaned kolom PM.25

In [170]:
# Mengecek persentase missing values di kolom PM2.5
PM25_missing_percentage_guanyuan = Guanyuan_df_cleaned['PM2.5'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM2.5: {PM25_missing_percentage_guanyuan}%")

Persentase missing values di kolom PM2.5: 1.756787588409765%

In [171]:
# Menggunakan nilai median dari kolom PM2.5 untuk mengisikan missing value kolom PM2.5
PM25_median_guanyuan = Guanyuan_df_cleaned['PM2.5'].median()
print(f"Median PM2.5: {PM25_median_guanyuan}")

# Melakukan imputasi nilai median pada kolom PM2.5 yang mengandung missing value
Guanyuan_df_cleaned['PM2.5'] = Guanyuan_df_cleaned['PM2.5'].fillna(PM25_median_guanyuan)

# Cek apakah missing values saat ini pada data Guanyuan_df_cleaned
print("Missing value pada Guanyuan_df_cleaned saat ini :\n", Guanyuan_df_cleaned.isna().sum())

Median PM2.5: 59.0
Missing value pada Guanyuan_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       429
SO2        474
NO2          0
CO           0
O3           0
TEMP        20
PRES        20
DEWP        20
RAIN        20
wd          81
WSPM        14
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom PM2.5 ini sama seperti kolom-kolom sebelumnya pada dataset Dongsi_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom PM2.5. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom SO2. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Guanyuan_df_cleaned kolom SO2

In [174]:
# Mengecek persentase missing values di kolom SO2
SO2_missing_percentage_guanyuan = Guanyuan_df_cleaned['SO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom SO2: {SO2_missing_percentage_guanyuan}%")

Persentase missing values di kolom SO2: 1.351813826146475%

In [175]:
# Menggunakan nilai median dari kolom SO2 untuk mengisikan missing value kolom SO2
SO2_median_guanyuan = Guanyuan_df_cleaned['SO2'].median()
print(f"Median SO2: {SO2_median_guanyuan}")

# Melakukan imputasi nilai median pada kolom SO2 yang mengandung missing value
Guanyuan_df_cleaned['SO2'] = Guanyuan_df_cleaned['SO2'].fillna(SO2_median_guanyuan)

# Cek apakah missing values saat ini pada data Guanyuan_df_cleaned
print("Missing value pada Guanyuan_df_cleaned saat ini :\n", Guanyuan_df_cleaned.isna().sum())

Median SO2: 8.0
Missing value pada Guanyuan_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       429
SO2          0
NO2          0
CO           0
O3           0
TEMP        20
PRES        20
DEWP        20
RAIN        20
wd          81
WSPM        14
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom SO2 ini sama seperti kolom-kolom sebelumnya pada dataset Guanyuan_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom SO2. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom PM10. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Guanyuan_df_cleaned kolom PM10

In [176]:
# Mengecek persentase missing values di kolom PM10
PM10_missing_percentage_guanyuan = Guanyuan_df_cleaned['PM10'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM10: {PM10_missing_percentage_guanyuan}%")

Persentase missing values di kolom PM10: 1.2234770704996578%

In [177]:
# Menggunakan nilai median dari kolom PM10 untuk mengisikan missing value kolom PM10
PM10_median_guanyuan = Guanyuan_df_cleaned['PM10'].median()
print(f"Median PM10: {PM10_median_guanyuan}")

# Melakukan imputasi nilai median pada kolom PM10 yang mengandung missing value
Guanyuan_df_cleaned['PM10'] = Guanyuan_df_cleaned['PM10'].fillna(PM10_median_guanyuan)

# Cek apakah missing values saat ini pada data Guanyuan_df_cleaned
print("Missing value pada Guanyuan_df_cleaned saat ini :\n", Guanyuan_df_cleaned.isna().sum())

Median PM10: 89.0
Missing value pada Guanyuan_df_cleaned saat ini :
 No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP       20
PRES       20
DEWP       20
RAIN       20
wd         81
WSPM       14
station     0
dtype: int64

*temporary insight*

Telah dilakukan penanganan missing values pada kolom PM10. Dengan melakukan metode imputasi nilai median pada setiap baris kolom tersebut yang terdapat missing values. Dari informasi yang telah ditampilkan saat ini hanya beberapa kolom saja yang memiliki missing values dengan jumlah yang tidak begitu banyak juga. Sehingga akan ditangani selanjutnya.

###### Missing values pada data Guanyuan_df_cleaned kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM

In [178]:
# Menampilkan jumlah missing values saat ini pada data Guanyuan_df_cleaned
print("Jumlah missing values saat ini:")
print(Guanyuan_df_cleaned.isna().sum())

Jumlah missing values saat ini:
No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP       20
PRES       20
DEWP       20
RAIN       20
wd         81
WSPM       14
station     0
dtype: int64

In [179]:
# Menghapus baris yang memiliki missing values pada kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM
Guanyuan_df_cleaned.dropna(subset=['TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM'], inplace=True)

# Verifikasi penghapusan missing values
print("Jumlah missing values sekarang:")
print(Guanyuan_df_cleaned.isna().sum())

Jumlah missing values sekarang:
No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

*temporary insight*

Dilakukan periksa ulang jumlah missing values setelah imputasi pada kolom yang tersisa. Kemudian melakukan dropping missing values dengan menggunakan metode `dropna()` untuk menghapus baris yang memiliki missing values pada kolom-kolom tersebut. Dan juga telah dilakukan verifikasi hasil dropping missing values sudah dihilangkan dengan memeriksa ulang dataset. Sehingga saat ini data Dongsi_df_cleaned sudah bersih dari missing values

##### Menangani Inaccurate Value pada Guanyuan_df_cleaned

In [180]:
Guanyuan_df_cleaned.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000,34977.000000
mean,17499.076679,2014.658604,6.524888,15.723990,11.501844,82.489973,108.745493,17.459978,57.732939,1252.153901,55.342878,13.600094,1011.835904,3.129628,0.067547,1.710856
std,10109.175878,1.175361,3.446255,8.801718,6.918862,80.290212,91.058026,23.455103,34.828226,1138.300142,56.542512,11.396741,10.404101,13.690982,0.910922,1.202957
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,1.000000,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8746.000000,2014.000000,4.000000,8.000000,6.000000,24.000000,41.000000,3.000000,31.000000,600.000000,8.000000,3.200000,1003.200000,-8.100000,0.000000,0.900000
50%,17494.000000,2015.000000,7.000000,16.000000,12.000000,59.000000,89.000000,8.000000,51.000000,900.000000,41.000000,14.600000,1011.400000,3.800000,0.000000,1.400000
75%,26243.000000,2016.000000,10.000000,23.000000,17.000000,113.000000,148.000000,21.000000,78.000000,1500.000000,79.254000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,680.000000,999.000000,293.000000,270.000000,10000.000000,415.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

###### Inaccurate value data Guanyuan_df_cleaned kolom PM2.5

In [181]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM2.5
max_pm25_row_guanyuan = Guanyuan_df_cleaned[Guanyuan_df_cleaned['PM2.5'] == Guanyuan_df_cleaned['PM2.5'].max()]
print(max_pm25_row_guanyuan)

          No  year  month  day  hour  PM2.5   PM10   SO2    NO2      CO   O3  \
24134  24135  2015     12    1    14  680.0  680.0  36.0  170.0  9700.0  2.0

       TEMP    PRES  DEWP  RAIN wd  WSPM   station
24134   0.3  1013.4   0.2   0.0  E   1.2  Guanyuan

In [182]:
# Menentukan batas maksimum untuk PM2.5
batas_maksimum_pm25 = 500

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_guanyuan = Guanyuan_df_cleaned[Guanyuan_df_cleaned['PM2.5'] > batas_maksimum_pm25].shape[0]

# Menampilkan informasi
print(f"Jumlah baris yang dihapus pada Guanyuan_df_cleaned: {jumlah_baris_hilang_guanyuan}")

Jumlah baris yang dihapus pada Guanyuan_df_cleaned: 88

In [185]:
# Menghapus baris yang memiliki nilai PM2.5 lebih dari batas maksimum
Guanyuan_df_cleaned = Guanyuan_df_cleaned[Guanyuan_df_cleaned['PM2.5'] <= batas_maksimum_pm25]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_guanyuan = Guanyuan_df_cleaned.shape[0]

# Menampilkan informasi
print(f"Jumlah baris tersisa setelah penghapusan pada Guanyuan_df_cleaned: {jumlah_baris_tersisa_guanyuan}")

Jumlah baris tersisa setelah penghapusan pada Guanyuan_df_cleaned: 34889

*temporary insight*

Dilakukan penetapan batas maksimum untuk PM2.5, dengan nilai 500 seperti yang telah dilakukan pada dataset sebelumnya juga. Atas dasar karena dalam banyak studi, nilai PM2.5 yang lebih dari 500 bisa dianggap tidak wajar. kemudian menghitung jumlah baris data yang akan dihapus pada Dongsi_df_cleaned. Dengan menggunakan kondisi untuk menghitung jumlah baris yang memiliki nilai PM2.5 lebih dari batas maksimum. Lalu menghapus baris dan memeriksa ukuran dataset saat ini. Dalam hal ini dapat dilihat, bahwa jumlah baris data yang dihapus atau memiliki nilai PM2.5 lebih dari 500 terhitung sebanyak 88 baris data. Dan setelah dilakukan dropping values, tersisa 34889 baris data pada Dongsi_df_cleaned.

###### Inaccurate value pada Guanyuan_df_cleaned kolom PM10

In [186]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM10
max_pm10_row_guanyuan = Guanyuan_df_cleaned[Guanyuan_df_cleaned['PM10'] == Guanyuan_df_cleaned['PM10'].max()]
print(max_pm10_row_guanyuan)

        No  year  month  day  hour  PM2.5   PM10  SO2   NO2     CO    O3  \
5819  5820  2013     10   29    11   59.0  999.0  9.0  25.0  700.0  43.0

      TEMP    PRES  DEWP  RAIN wd  WSPM   station
5819  15.3  1022.8  -3.1   0.0  N   3.7  Guanyuan

In [187]:
# Menentukan batas maksimum untuk PM10
batas_maksimum_pm10 = 300.0 

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_pm10_guanyuan = Guanyuan_df_cleaned[Guanyuan_df_cleaned['PM10'] > batas_maksimum_pm10].shape[0]
print(f"Jumlah baris yang akan dihapus dari PM10: {jumlah_baris_hilang_pm10_guanyuan}")

Jumlah baris yang akan dihapus dari PM10: 1268

In [188]:
# Menghapus baris yang memiliki nilai PM10 lebih dari batas maksimum
Guanyuan_df_cleaned = Guanyuan_df_cleaned[Guanyuan_df_cleaned['PM10'] <= batas_maksimum_pm10]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_pm10_guanyuan = Guanyuan_df_cleaned.shape[0]

print(f"Jumlah baris tersisa setelah penghapusan PM10: {jumlah_baris_tersisa_pm10_guanyuan}")

Jumlah baris tersisa setelah penghapusan PM10: 33621

*temporary value*

Dilakukan juga pembersihan inaccurate value pada data Guanyuan_df_cleaned dengan melakukan dropping. atau menghapus (drop) data pada kolom PM10 yang melebihi ambang batas yang telah ditentukan. Yakni nilai yang ditentukan tidak wajar, denagn pemilihan batas maksimum 300.0 adalah berdasarkan pemahaman tentang kualitas udara dan standar yang umum digunakan. Nilai ini didasarkan pada standar kualitas udara, di mana nilai PM10 di atas 300.0 bisa dianggap sebagai tidak wajar dan mungkin menunjukkan kesalahan pengukuran atau data yang tidak konsisten. Karena berdasarkan analisah yang telah dilakuan, batas maksimum yang wajar untuk PM10 bisa disarankan antara 150.0 hingga 300.0 untuk kualitas udara yang baik, dan nilai di atas 300.0 bisa dianggap sebagai data tidak wajar dalam konteks tertentu. Setelah penghapusan, diberikan informasi yang jelas tentang berapa banyak data yang hilang dan berapa banyak data yang tersisa, memastikan bahwa analisis selanjutnya didasarkan pada data yang valid.

###### Inaccurate value pada Guanyuan_df_cleaned kolom CO

In [189]:
# Identifikasi nilai CO yang tidak realistis (di atas 50 mg/m³ dan di bawah 0 mg/m³)
unrealistic_co_guanyuan = Guanyuan_df_cleaned[(Guanyuan_df_cleaned['CO'] > 50) | (Guanyuan_df_cleaned['CO'] < 0)]
print(unrealistic_co_guanyuan)

          No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO    O3  \
0          1  2013      3    1     0    4.0   4.0  14.0  20.0  300.0  69.0
1          2  2013      3    1     1    4.0   4.0  13.0  17.0  300.0  72.0
2          3  2013      3    1     2    3.0   3.0  10.0  19.0  300.0  69.0
3          4  2013      3    1     3    3.0   6.0   7.0  24.0  400.0  62.0
4          5  2013      3    1     4    3.0   6.0   5.0  14.0  400.0  71.0
...      ...   ...    ...  ...   ...    ...   ...   ...   ...    ...   ...
35059  35060  2017      2   28    19   13.0  37.0   3.0  36.0  400.0  60.0
35060  35061  2017      2   28    20   20.0  43.0   4.0  48.0  500.0  43.0
35061  35062  2017      2   28    21   16.0  33.0   5.0  39.0  500.0  50.0
35062  35063  2017      2   28    22   11.0  24.0   5.0  47.0  500.0  41.0
35063  35064  2017      2   28    23   15.0  27.0   5.0  53.0  600.0  33.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM   station
0      -0.7  1023.0 -18.8   0.0  NNW   4.4  Guanyuan
1      -1.1  1023.2 -18.2   0.0    N   4.7  Guanyuan
2      -1.1  1023.5 -18.2   0.0  NNW   5.6  Guanyuan
3      -1.4  1024.5 -19.4   0.0   NW   3.1  Guanyuan
4      -2.0  1025.2 -19.5   0.0    N   2.0  Guanyuan
...     ...     ...   ...   ...  ...   ...       ...
35059  12.5  1013.5 -16.2   0.0   NW   2.4  Guanyuan
35060  11.6  1013.6 -15.1   0.0  WNW   0.9  Guanyuan
35061  10.8  1014.2 -13.3   0.0   NW   1.1  Guanyuan
35062  10.5  1014.4 -12.9   0.0  NNW   1.2  Guanyuan
35063   8.6  1014.1 -15.9   0.0  NNE   1.3  Guanyuan

[33621 rows x 18 columns]

In [190]:
# Mengonversi nilai CO dari ratusan ke puluhan (mg/m³)
Guanyuan_df_cleaned['CO'] = Guanyuan_df_cleaned['CO'] / 10

# Memvalidasi hasil konversi
Guanyuan_df_cleaned['CO'].describe()

count    33621.000000
mean       114.769370
std         92.395845
min         10.000000
25%         50.000000
50%         90.000000
75%        140.000000
max       1000.000000
Name: CO, dtype: float64

In [191]:
# Cek data CO yang masih tidak realistis (lebih dari 50 mg/m³ atau kurang dari 0 mg/m³).
unrealistic_co_after_conversion_guanyuan = Guanyuan_df_cleaned[(Guanyuan_df_cleaned['CO'] > 50) | (Guanyuan_df_cleaned['CO'] < 0)]
print(unrealistic_co_after_conversion_guanyuan)

          No  year  month  day  hour  PM2.5  PM10   SO2   NO2    CO    O3  \
22        23  2013      3    1    22   10.0  15.0  11.0  60.0  60.0  31.0
23        24  2013      3    1    23   13.0  15.0  11.0  51.0  60.0  37.0
27        28  2013      3    2     3    3.0   6.0  12.0  32.0  90.0  79.0
31        32  2013      3    2     7    3.0   6.0  27.0  72.0  60.0  17.0
32        33  2013      3    2     8    3.0   6.0  27.0  70.0  60.0  21.0
...      ...   ...    ...  ...   ...    ...   ...   ...   ...   ...   ...
35044  35045  2017      2   28     4   59.0  89.0   8.0  51.0  90.0  41.0
35045  35046  2017      2   28     5   59.0  89.0   8.0  51.0  90.0  41.0
35046  35047  2017      2   28     6   59.0  89.0   8.0  51.0  90.0  41.0
35047  35048  2017      2   28     7   59.0  89.0   8.0  51.0  90.0  41.0
35063  35064  2017      2   28    23   15.0  27.0   5.0  53.0  60.0  33.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM   station
22      0.9  1030.5 -17.4   0.0  ENE   1.8  Guanyuan
23     -0.2  1030.5 -17.4   0.0  ENE   1.4  Guanyuan
27     -1.4  1030.6 -17.6   0.0  NNE   1.4  Guanyuan
31     -1.7  1029.8 -17.0   0.0   NE   1.2  Guanyuan
32     -0.4  1029.6 -17.6   0.0   NE   1.8  Guanyuan
...     ...     ...   ...   ...  ...   ...       ...
35044   7.0  1016.0  -9.4   0.0  ENE   1.9  Guanyuan
35045   5.3  1015.9  -9.0   0.0    E   1.4  Guanyuan
35046   9.5  1015.9 -11.2   0.0  NNW   3.1  Guanyuan
35047   8.4  1016.2 -12.1   0.0   NW   2.3  Guanyuan
35063   8.6  1014.1 -15.9   0.0  NNE   1.3  Guanyuan

[25028 rows x 18 columns]

In [192]:
# Imputasi nilai CO yang masih tidak realistis dengan nilai median
median_co_after_conversion_guanyuan = Guanyuan_df_cleaned[(Guanyuan_df_cleaned['CO'] >= 0) & (Guanyuan_df_cleaned['CO'] <= 50)]['CO'].median()
Guanyuan_df_cleaned['CO'] = Guanyuan_df_cleaned['CO'].apply(lambda x: median_co_after_conversion_guanyuan if x > 50 or x < 0 else x)

# Cek deskripsi dataset yang sudah dilakukan proses konversi dan imputasi
print(Guanyuan_df_cleaned.describe())

                 No          year         month           day          hour  \
count  33621.000000  33621.000000  33621.000000  33621.000000  33621.000000
mean   17441.588412   2014.653312      6.511496     15.677255     11.464472
std    10101.045715      1.176321      3.402587      8.787458      6.887238
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8730.000000   2014.000000      4.000000      8.000000      6.000000
50%    17476.000000   2015.000000      7.000000     16.000000     11.000000
75%    26201.000000   2016.000000      9.000000     23.000000     17.000000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  33621.000000  33621.000000  33621.000000  33621.000000  33621.000000
mean      73.278305     97.194271     16.400049     55.072782     38.902472
std       62.271421     69.157817     21.545198     31.362344      6.198437
min        2.000000      2.000000      1.000000      2.000000     10.000000
25%       23.000000     39.000000      3.000000     30.000000     40.000000
50%       57.000000     86.000000      8.000000     50.000000     40.000000
75%      106.000000    139.000000     20.000000     74.000000     40.000000
max      331.000000    300.000000    293.000000    233.000000     50.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  33621.000000  33621.000000  33621.000000  33621.000000  33621.000000
mean      56.537629     13.876681   1011.737133      3.239187      0.069531
std       56.734036     11.394960     10.480659     13.841218      0.924543
min        0.214200    -16.800000    985.900000    -35.300000      0.000000
25%       10.000000      3.500000   1003.100000     -8.400000      0.000000
50%       41.000000     15.000000   1011.200000      4.200000      0.000000
75%       81.000000     23.500000   1020.100000     15.900000      0.000000
max      415.000000     40.500000   1042.000000     28.500000     72.500000

               WSPM
count  33621.000000
mean       1.724898
std        1.204390
min        0.000000
25%        0.900000
50%        1.400000
75%        2.300000
max       11.200000

*temporary insight*

Proses ini mengonversi nilai CO menjadi lebih realistis dengan membaginya dengan 10, sesuai asumsi bahwa alat pengukuran mungkin salah mendeteksi dalam kelipatan tersebut. Karena nilai CO yang realistis (nilai CO antara 0 hingga 50 mg/m³). Setelah konversi, dilakukan validasi lebih lanjut untuk memastikan bahwa semua nilai CO berada dalam rentang yang wajar. Jika ada nilai yang masih tidak realistis, digunakan metode imputasi dengan nilai median CO yang sudah bersih. Hal ini dilakukan karena kurangnya informasi dari dataset tesebut mengenai satuan ukur apa yang digunakan pada tiap-tiap kolomnya, sehingga dibuat asusmsi berdasarkan nilai satuan yang umum digunakan di publik, berdasarkan riset yang telah dilakukan. Dengan cara ini, dataset Guanyuan_df_cleaned sudah lebih akurat untuk analisis selanjutnya.

*temporary insight*


1. Menangani Missing Values:

   Kolom dengan missing values yang banyak seperti CO, PM2.5, NO2, SO2, O3, dan PM10 telah ditangani menggunakan metode imputasi median. Hal ini dilakukan agar tidak kehilangan terlalu banyak data penting, sambil tetap mengisi nilai yang realistis dan representatif.

   Untuk kolom dengan jumlah missing values yang relatif sedikit seperti TEMP, PRES, DEWP, RAIN, wd, dan WSPM, dilakukan dropping values. Ini dipilih karena menghapus sedikit data tidak akan mempengaruhi keseluruhan dataset secara signifikan.



2. Menangani Inaccurate Values:

   Seperti yang telah dilakukan pada dataset sebelumnya-sebelumnya, kolom CO, PM2.5, dan PM10 pada Guanyuan_df_cleaned ini juga diperiksa untuk nilai yang tidak realistis.

   Nilai-nilai yang dianggap tidak realistis di luar rentang normal pada masing-masing kolom telah diubah atau difilter sesuai dengan rentang realistis, seperti CO dengan nilai realistis di rentang 0–50 mg/m³. PM2.5 dan PM10 ditetapkan pada rentang realistis berdasarkan pedoman kualitas udara.



Dengan semua missing values dan inaccurate values telah ditangani. Ini memastikan bahwa data siap digunakan untuk analisis lebih lanjut tanpa bias atau error yang berasal dari data yang hilang atau nilai yang tidak realistis. Dengan memilih metode imputasi untuk kolom dengan banyak missing values dan dropping untuk yang sedikit, diharapkan dapat mengoptimalkan jumlah data yang tetap relevan tanpa mengorbankan integritas dataset. Serta melakukan filter atau transformasi terhadap nilai yang tidak realistis pada kolom penting (seperti CO, PM2.5, dan PM10) memastikan hasil analisis yang lebih akurat dan representatif terhadap kondisi nyata.

#### Membersihkan Data Gucheng_df

##### Menangani Missing value pada Gucheng_df

###### Missing value pada Guanyuan_df kolom CO

In [193]:
# Mengecek jumlah missing values di setiap kolom
missing_values_gucheng = Gucheng_df.isnull().sum()
print(missing_values)

# Mengecek persentase missing values di kolom CO
co_missing_percentage_gucheng = Gucheng_df['CO'].isnull().mean() * 100
print(f"Persentase missing values di kolom CO Gucheng_df: {co_missing_percentage_gucheng}%")

No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2        1234
CO         2012
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64
Persentase missing values di kolom CO Gucheng_df: 3.99555099247091%

In [194]:
# Menggunakan nilai median dari kolom CO untuk mengisikan missing value colom CO
co_median_gucheng = Gucheng_df['CO'].median()
print(f"Median CO: {co_median_gucheng}")

# Melakukan imputasi nilai median pada kolom CO yang mengandung missing value
Gucheng_df_cleaned = Gucheng_df.copy()  
Gucheng_df_cleaned['CO'] = Gucheng_df_cleaned['CO'].fillna(co_median_gucheng)

# Cek apakah missing values saat ini pada data Gucheng_df_cleaned
print(Gucheng_df_cleaned.isna().sum())

Median CO: 900.0
No           0
year         0
month        0
day          0
hour         0
PM2.5      646
PM10       381
SO2        507
NO2        668
CO           0
O3         729
TEMP        51
PRES        50
DEWP        51
RAIN        43
wd         159
WSPM        42
station      0
dtype: int64

*temporary insight*

Dipilih kolom CO terlebih dahulu yang dilakukan penanganan missing values, karena kolom CO memiliki jumlah missing values paling banyak diantara kolom yang lainnya pada Gucheng_df, sehingga diharapkan meminimalisir penggunaan metode dropping values dalam cleaning data ini. Pertama, dilakukan identifikasi missing values pada kolom CO untuk mengetahui besaran masalah. Selanjutnya, memilih memutuskan menggunakan nilai median untuk mengisi missing values karena lebik cocok jika terdapat outlier. Kemudian menyimpan dataset yang telah diberikan pada variabel Guanyuan_df_cleaned dan menampilkan jumlah missing values pada data tersebut saat ini. Dapat dilihat jumlah missing values paling banyak saat ini adalah pada kolom O3 sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Gucheng_df_cleaned kolom O3

In [195]:
# Mengecek persentase missing values di kolom O3
O3_missing_percentage_gucheng = Gucheng_df_cleaned['O3'].isnull().mean() * 100
print(f"Persentase missing values di kolom O3: {O3_missing_percentage_gucheng}%")

Persentase missing values di kolom O3: 2.0790554414784395%

In [196]:
# Menggunakan nilai median dari kolom O3 untuk mengisikan missing value kolom O3
O3_median_gucheng = Gucheng_df_cleaned['O3'].median()
print(f"Median O3: {O3_median_gucheng}")

# Melakukan imputasi nilai median pada kolom O3 yang mengandung missing value
Gucheng_df_cleaned['O3'] = Gucheng_df_cleaned['O3'].fillna(O3_median_gucheng)

# Cek apakah missing values saat ini pada data Gucheng_df_cleaned
print("Missing value pada Gucheng_df_cleaned saat ini :\n", Gucheng_df_cleaned.isna().sum())

Median O3: 45.0
Missing value pada Gucheng_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5      646
PM10       381
SO2        507
NO2        668
CO           0
O3           0
TEMP        51
PRES        50
DEWP        51
RAIN        43
wd         159
WSPM        42
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom O3 ini sama seperti kolom-kolom sebelumnya pada dataset Gucheng_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom O3. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom NO2. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Gucheng_df_cleaned kolom NO2

In [197]:
# Mengecek persentase missing values di kolom NO2
NO2_missing_percentage_gucheng = Gucheng_df_cleaned['NO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom NO2: {NO2_missing_percentage_gucheng}%")

Persentase missing values di kolom NO2: 1.9050878393794206%

In [198]:
# Menggunakan nilai median dari kolom NO2 untuk mengisikan missing value kolom NO2
NO2_median_gucheng = Gucheng_df_cleaned['NO2'].median()
print(f"Median NO2: {NO2_median_gucheng}")

# Melakukan imputasi nilai median pada kolom NO2 yang mengandung missing value
Gucheng_df_cleaned['NO2'] = Gucheng_df_cleaned['NO2'].fillna(NO2_median_gucheng)

# Cek apakah missing values saat ini pada data Gucheng_df_cleaned
print(Gucheng_df_cleaned.isna().sum())

Median NO2: 50.0
No           0
year         0
month        0
day          0
hour         0
PM2.5      646
PM10       381
SO2        507
NO2          0
CO           0
O3           0
TEMP        51
PRES        50
DEWP        51
RAIN        43
wd         159
WSPM        42
station      0
dtype: int64

*temporary insight*

Dilakukan juga identifikasi missing values pada kolom NO2 ini untuk mengetahui besaran masalah. Selanjutnya, memilih memutuskan menggunakan nilai median untuk mengisi missing values karena lebik cocok jika terdapat outlier. Kemudian menyimpan dataset yang telah diberikan pada variabel Gucheng_df_cleaned dan menampilkan jumlah missing values pada data tersebut saat ini. Dapat dilihat jumlah missing values paling banyak saat ini adalah pada kolom PM2.5 sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Gucheng_df_cleaned kolom PM.25

In [199]:
# Mengecek persentase missing values di kolom PM2.5
PM25_missing_percentage_gucheng = Gucheng_df_cleaned['PM2.5'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM2.5: {PM25_missing_percentage_gucheng}%")

Persentase missing values di kolom PM2.5: 1.842345425507643%

In [200]:
# Menggunakan nilai median dari kolom PM2.5 untuk mengisikan missing value kolom PM2.5
PM25_median_gucheng = Gucheng_df_cleaned['PM2.5'].median()
print(f"Median PM2.5: {PM25_median_gucheng}")

# Melakukan imputasi nilai median pada kolom PM2.5 yang mengandung missing value
Gucheng_df_cleaned['PM2.5'] = Gucheng_df_cleaned['PM2.5'].fillna(PM25_median_gucheng)

# Cek apakah missing values saat ini pada data Gucheng_df_cleaned
print("Missing value pada Gucheng_df_cleaned saat ini :\n", Gucheng_df_cleaned.isna().sum())

Median PM2.5: 60.0
Missing value pada Gucheng_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       381
SO2        507
NO2          0
CO           0
O3           0
TEMP        51
PRES        50
DEWP        51
RAIN        43
wd         159
WSPM        42
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom PM2.5 ini sama seperti kolom-kolom sebelumnya pada dataset Gucheng_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom PM2.5. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom SO2. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Gucheng_df_cleaned kolom SO2

In [201]:
# Mengecek persentase missing values di kolom SO2
SO2_missing_percentage_gucheng = Gucheng_df_cleaned['SO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom SO2: {SO2_missing_percentage_gucheng}%")

Persentase missing values di kolom SO2: 1.445927446954141%

In [202]:
# Menggunakan nilai median dari kolom SO2 untuk mengisikan missing value kolom SO2
SO2_median_gucheng = Gucheng_df_cleaned['SO2'].median()
print(f"Median SO2: {SO2_median_gucheng}")

# Melakukan imputasi nilai median pada kolom SO2 yang mengandung missing value
Gucheng_df_cleaned['SO2'] = Gucheng_df_cleaned['SO2'].fillna(SO2_median_gucheng)

# Cek apakah missing values saat ini pada data Gucheng_df_cleaned
print("Missing value pada Gucheng_df_cleaned saat ini :\n", Gucheng_df_cleaned.isna().sum())

Median SO2: 7.0
Missing value pada Gucheng_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       381
SO2          0
NO2          0
CO           0
O3           0
TEMP        51
PRES        50
DEWP        51
RAIN        43
wd         159
WSPM        42
station      0
dtype: int64

*temporary insight*

Melakukan penanganan missing values pada kolom SO2 ini sama seperti kolom-kolom sebelumnya pada dataset Gucheng_df_cleaned ini. Dengan melakukan metode imputasi nilai median dari kolom SO2. Setelah dilakukan penanganan missing values pada kolom ini, didapatkan kolom selanjutnya yang masih memiliki jumlah missing values yang banyak yakni kolom PM10. Sehingga selanjutnya yakni menangani missing values pada kolom tersebut.

###### Missing value pada Guanyuan_df_cleaned kolom PM10

In [203]:
# Mengecek persentase missing values di kolom PM10
PM10_missing_percentage_gucheng = Gucheng_df_cleaned['PM10'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM10: {PM10_missing_percentage_gucheng}%")

Persentase missing values di kolom PM10: 1.0865845311430526%

In [204]:
# Menggunakan nilai median dari kolom PM10 untuk mengisikan missing value kolom PM10
PM10_median_gucheng = Gucheng_df_cleaned['PM10'].median()
print(f"Median PM10: {PM10_median_gucheng}")

# Melakukan imputasi nilai median pada kolom PM10 yang mengandung missing value
Gucheng_df_cleaned['PM10'] = Gucheng_df_cleaned['PM10'].fillna(PM10_median_gucheng)

# Cek apakah missing values saat ini pada data Gucheng_df_cleaned
print("Missing value pada Gucheng_df_cleaned saat ini :\n", Gucheng_df_cleaned.isna().sum())

Median PM10: 99.0
Missing value pada Gucheng_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP        51
PRES        50
DEWP        51
RAIN        43
wd         159
WSPM        42
station      0
dtype: int64

*temporary insight*

Telah dilakukan penanganan missing values pada kolom PM10. Dengan melakukan metode imputasi nilai median pada setiap baris kolom tersebut yang terdapat missing values. Dari informasi yang telah ditampilkan saat ini hanya beberapa kolom saja yang memiliki missing values dengan jumlah yang tidak begitu banyak juga. Sehingga akan ditangani selanjutnya.

###### Missing values pada data Gucheng_df_cleaned kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM

In [205]:
# Menampilkan jumlah missing values saat ini pada data Gucheng_df_cleaned
print("Jumlah missing values saat ini:")
print(Gucheng_df_cleaned.isna().sum())

Jumlah missing values saat ini:
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP        51
PRES        50
DEWP        51
RAIN        43
wd         159
WSPM        42
station      0
dtype: int64

In [206]:
# Menghapus baris yang memiliki missing values pada kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM
Gucheng_df_cleaned.dropna(subset=['TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM'], inplace=True)

# Verifikasi penghapusan missing values
print("Jumlah missing values sekarang:")
print(Gucheng_df_cleaned.isna().sum())

Jumlah missing values sekarang:
No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

*temporary insight*

Dilakukan periksa ulang jumlah missing values setelah imputasi pada kolom yang tersisa. Kemudian melakukan dropping missing values dengan menggunakan metode `dropna()` untuk menghapus baris yang memiliki missing values pada kolom-kolom tersebut. Dan juga telah dilakukan verifikasi hasil dropping missing values sudah dihilangkan dengan memeriksa ulang dataset. Sehingga saat ini data Gucheng_df_cleaned sudah bersih dari missing values

##### Menangani Inaccurate Value pada Gucheng_df_cleaned

In [207]:
Gucheng_df_cleaned.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000,34898.000000
mean,17513.522752,2014.660009,6.527795,15.723996,11.509972,83.321887,118.585850,15.244325,55.711860,1305.603502,57.556085,13.875923,1008.830782,2.602476,0.064637,1.347026
std,10126.209915,1.177331,3.446984,8.804102,6.918889,82.104211,96.283598,21.091019,36.135416,1187.489249,56.487853,11.295401,10.109430,13.788843,0.840109,1.150319
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-15.600000,984.000000,-34.600000,0.000000,0.000000
25%,8741.250000,2014.000000,4.000000,8.000000,6.000000,24.000000,46.000000,2.000000,26.000000,600.000000,10.000000,3.700000,1000.400000,-9.000000,0.000000,0.600000
50%,17514.500000,2015.000000,7.000000,16.000000,12.000000,60.000000,99.000000,7.000000,50.000000,900.000000,45.000000,14.800000,1008.500000,3.000000,0.000000,1.000000
75%,26293.750000,2016.000000,10.000000,23.000000,18.000000,114.000000,166.000000,19.000000,78.000000,1600.000000,83.000000,23.500000,1017.000000,15.300000,0.000000,1.800000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,770.000000,994.000000,500.000000,276.000000,10000.000000,450.000000,41.600000,1038.100000,27.400000,41.900000,12.000000

###### Inaccurate value data Gucheng_df_cleaned kolom PM2.5

In [208]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM2.5
max_pm25_row_gucheng = Gucheng_df_cleaned[Gucheng_df_cleaned['PM2.5'] == Gucheng_df_cleaned['PM2.5'].max()]
print(max_pm25_row_gucheng)

        No  year  month  day  hour  PM2.5   PM10    SO2    NO2      CO    O3  \
8422  8423  2014      2   14    22  770.0  777.0  123.0  142.0  5100.0  11.0

      TEMP    PRES  DEWP  RAIN wd  WSPM  station
8422  -3.6  1016.9  -6.1   0.0  W   0.6  Gucheng

In [209]:
# Menentukan batas maksimum untuk PM2.5
batas_maksimum_pm25 = 500

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_gucheng = Gucheng_df_cleaned[Gucheng_df_cleaned['PM2.5'] > batas_maksimum_pm25].shape[0]

# Menampilkan informasi
print(f"Jumlah baris yang dihapus pada Gucheng_df_cleaned: {jumlah_baris_hilang_gucheng}")

Jumlah baris yang dihapus pada Gucheng_df_cleaned: 125

In [210]:
# Menghapus baris yang memiliki nilai PM2.5 lebih dari batas maksimum
Gucheng_df_cleaned = Gucheng_df_cleaned[Gucheng_df_cleaned['PM2.5'] <= batas_maksimum_pm25]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_gucheng = Gucheng_df_cleaned.shape[0]

# Menampilkan informasi
print(f"Jumlah baris tersisa setelah penghapusan pada Gucheng_df_cleaned: {jumlah_baris_tersisa_gucheng}")

Jumlah baris tersisa setelah penghapusan pada Gucheng_df_cleaned: 34773

*temporary insight*

Dilakukan penetapan batas maksimum untuk PM2.5, dengan nilai 500 seperti yang telah dilakukan pada dataset sebelumnya juga. Atas dasar karena dalam banyak studi, nilai PM2.5 yang lebih dari 500 bisa dianggap tidak wajar. kemudian menghitung jumlah baris data yang akan dihapus pada Dongsi_df_cleaned. Dengan menggunakan kondisi untuk menghitung jumlah baris yang memiliki nilai PM2.5 lebih dari batas maksimum. Lalu menghapus baris dan memeriksa ukuran dataset saat ini. Dalam hal ini dapat dilihat, bahwa jumlah baris data yang dihapus atau memiliki nilai PM2.5 lebih dari 500 terhitung sebanyak 125 baris data. Dan setelah dilakukan dropping values, tersisa 34773 baris data pada Dongsi_df_cleaned.

###### Inaccurate value pada Gucheng_df_cleaned kolom PM10

In [212]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM10
max_pm10_row_gucheng = Gucheng_df_cleaned[Gucheng_df_cleaned['PM10'] == Gucheng_df_cleaned['PM10'].max()]
print(max_pm10_row_gucheng)

          No  year  month  day  hour  PM2.5   PM10  SO2  NO2     CO    O3  \
27888  27889  2016      5    6     0  222.0  986.0  2.0  3.0  200.0  95.0

       TEMP    PRES  DEWP  RAIN  wd  WSPM  station
27888  18.4  1002.5 -10.6   0.0  NW   5.1  Gucheng

In [213]:
# Menentukan batas maksimum untuk PM10
batas_maksimum_pm10 = 300.0 

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_pm10_gucheng = Gucheng_df_cleaned[Gucheng_df_cleaned['PM10'] > batas_maksimum_pm10].shape[0]
print(f"Jumlah baris yang akan dihapus dari PM10: {jumlah_baris_hilang_pm10_gucheng}")

Jumlah baris yang akan dihapus dari PM10: 1496

In [214]:
# Menghapus baris yang memiliki nilai PM10 lebih dari batas maksimum
Gucheng_df_cleaned = Gucheng_df_cleaned[Gucheng_df_cleaned['PM10'] <= batas_maksimum_pm10]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_pm10_gucheng = Gucheng_df_cleaned.shape[0]

print(f"Jumlah baris tersisa setelah penghapusan PM10: {jumlah_baris_tersisa_pm10_gucheng}")

Jumlah baris tersisa setelah penghapusan PM10: 33277

*temporary value*

Dilakukan juga pembersihan inaccurate value pada data Guacheng_df_cleaned dengan melakukan dropping. atau menghapus (drop) data pada kolom PM10 yang melebihi ambang batas yang telah ditentukan. Yakni nilai yang ditentukan tidak wajar, denagn pemilihan batas maksimum 300.0 adalah berdasarkan pemahaman tentang kualitas udara dan standar yang umum digunakan. Nilai ini didasarkan pada standar kualitas udara, di mana nilai PM10 di atas 300.0 bisa dianggap sebagai tidak wajar dan mungkin menunjukkan kesalahan pengukuran atau data yang tidak konsisten. Karena berdasarkan analisah yang telah dilakuan, batas maksimum yang wajar untuk PM10 bisa disarankan antara 150.0 hingga 300.0 untuk kualitas udara yang baik, dan nilai di atas 300.0 bisa dianggap sebagai data tidak wajar dalam konteks tertentu. Setelah penghapusan, diberikan informasi yang jelas tentang berapa banyak data yang hilang dan berapa banyak data yang tersisa, memastikan bahwa analisis selanjutnya didasarkan pada data yang valid.

###### Inaccurate value pada Gucheng_df_cleaned kolom CO

In [215]:
# Identifikasi nilai CO yang tidak realistis (di atas 50 mg/m³ dan di bawah 0 mg/m³)
unrealistic_co_gucheng = Gucheng_df_cleaned[(Gucheng_df_cleaned['CO'] > 50) | (Gucheng_df_cleaned['CO'] < 0)]
print(unrealistic_co_gucheng)

          No  year  month  day  hour  PM2.5  PM10  SO2   NO2     CO    O3  \
0          1  2013      3    1     0    6.0  18.0  5.0  50.0  800.0  88.0
1          2  2013      3    1     1    6.0  15.0  5.0  50.0  800.0  88.0
2          3  2013      3    1     2    5.0  18.0  7.0  50.0  700.0  52.0
3          4  2013      3    1     3    6.0  20.0  6.0  50.0  900.0  45.0
4          5  2013      3    1     4    5.0  17.0  5.0  50.0  600.0  73.0
...      ...   ...    ...  ...   ...    ...   ...  ...   ...    ...   ...
35059  35060  2017      2   28    19   14.0  58.0  4.0  19.0  500.0  56.0
35060  35061  2017      2   28    20   27.0  83.0  6.0  60.0  700.0  26.0
35061  35062  2017      2   28    21   22.0  37.0  7.0  52.0  600.0  27.0
35062  35063  2017      2   28    22    9.0  23.0  3.0  13.0  400.0  57.0
35063  35064  2017      2   28    23   12.0  48.0  5.0  48.0  600.0  28.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM  station
0       0.1  1021.1 -18.6   0.0   NW   4.4  Gucheng
1      -0.3  1021.5 -19.0   0.0   NW   4.0  Gucheng
2      -0.7  1021.5 -19.8   0.0  WNW   4.6  Gucheng
3      -1.0  1022.7 -21.2   0.0    W   2.8  Gucheng
4      -1.3  1023.0 -21.4   0.0  WNW   3.6  Gucheng
...     ...     ...   ...   ...  ...   ...      ...
35059  12.8  1009.9 -17.0   0.0  NNW   3.1  Gucheng
35060  11.1  1010.4 -15.5   0.0   NW   1.9  Gucheng
35061  10.5  1010.8 -15.9   0.0    N   2.3  Gucheng
35062   8.9  1010.9 -14.9   0.0   NE   1.6  Gucheng
35063   6.2  1010.5 -13.4   0.0  NNE   0.7  Gucheng

[33277 rows x 18 columns]

In [216]:
# Mengonversi nilai CO dari ratusan ke puluhan (mg/m³)
Gucheng_df_cleaned['CO'] = Gucheng_df_cleaned['CO'] / 10

# Memvalidasi hasil konversi
Gucheng_df_cleaned['CO'].describe()

count    33277.000000
mean       119.429910
std         97.478098
min         10.000000
25%         60.000000
50%         90.000000
75%        150.000000
max        980.000000
Name: CO, dtype: float64

In [217]:
# Cek data CO yang masih tidak realistis (lebih dari 50 mg/m³ atau kurang dari 0 mg/m³).
unrealistic_co_after_conversion_gucheng = Gucheng_df_cleaned[(Gucheng_df_cleaned['CO'] > 50) | (Gucheng_df_cleaned['CO'] < 0)]
print(unrealistic_co_after_conversion_gucheng)

          No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO    O3  \
0          1  2013      3    1     0    6.0  18.0   5.0  50.0   80.0  88.0
1          2  2013      3    1     1    6.0  15.0   5.0  50.0   80.0  88.0
2          3  2013      3    1     2    5.0  18.0   7.0  50.0   70.0  52.0
3          4  2013      3    1     3    6.0  20.0   6.0  50.0   90.0  45.0
4          5  2013      3    1     4    5.0  17.0   5.0  50.0   60.0  73.0
...      ...   ...    ...  ...   ...    ...   ...   ...   ...    ...   ...
35045  35046  2017      2   28     5   18.0  49.0  17.0  79.0  140.0   2.0
35046  35047  2017      2   28     6   15.0  31.0  13.0  72.0  110.0   4.0
35060  35061  2017      2   28    20   27.0  83.0   6.0  60.0   70.0  26.0
35061  35062  2017      2   28    21   22.0  37.0   7.0  52.0   60.0  27.0
35063  35064  2017      2   28    23   12.0  48.0   5.0  48.0   60.0  28.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM  station
0       0.1  1021.1 -18.6   0.0   NW   4.4  Gucheng
1      -0.3  1021.5 -19.0   0.0   NW   4.0  Gucheng
2      -0.7  1021.5 -19.8   0.0  WNW   4.6  Gucheng
3      -1.0  1022.7 -21.2   0.0    W   2.8  Gucheng
4      -1.3  1023.0 -21.4   0.0  WNW   3.6  Gucheng
...     ...     ...   ...   ...  ...   ...      ...
35045   3.0  1012.4  -8.7   0.0  ENE   0.6  Gucheng
35046   3.5  1012.5  -9.2   0.0  ESE   0.8  Gucheng
35060  11.1  1010.4 -15.5   0.0   NW   1.9  Gucheng
35061  10.5  1010.8 -15.9   0.0    N   2.3  Gucheng
35063   6.2  1010.5 -13.4   0.0  NNE   0.7  Gucheng

[25085 rows x 18 columns]

In [218]:
# Imputasi nilai CO yang masih tidak realistis dengan nilai median
median_co_after_conversion_gucheng = Gucheng_df_cleaned[(Gucheng_df_cleaned['CO'] >= 0) & (Gucheng_df_cleaned['CO'] <= 50)]['CO'].median()
Gucheng_df_cleaned['CO'] = Gucheng_df_cleaned['CO'].apply(lambda x: median_co_after_conversion_gucheng if x > 50 or x < 0 else x)

# Cek deskripsi dataset yang sudah dilakukan proses konversi dan imputasi
print(Gucheng_df_cleaned.describe())

                 No          year         month           day          hour  \
count  33277.000000  33277.000000  33277.000000  33277.000000  33277.000000
mean   17461.494816   2014.654356      6.526039     15.680831     11.415873
std    10124.026452      1.179477      3.406694      8.791246      6.868949
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8629.000000   2014.000000      4.000000      8.000000      5.000000
50%    17508.000000   2015.000000      7.000000     16.000000     11.000000
75%    26256.000000   2016.000000      9.000000     23.000000     17.000000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  33277.000000  33277.000000  33277.000000  33277.000000  33277.000000
mean      72.954329    105.136337     14.181011     52.695622     39.210265
std       62.129078     72.611667     19.479240     32.529249      5.456793
min        2.000000      2.000000      0.285600      2.000000     10.000000
25%       23.000000     43.000000      2.000000     26.000000     40.000000
50%       57.000000     95.000000      6.000000     49.000000     40.000000
75%      105.000000    154.000000     18.000000     75.000000     40.000000
max      435.000000    300.000000    500.000000    222.000000     50.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  33277.000000  33277.000000  33277.000000  33277.000000  33277.000000
mean      58.746258     14.124870   1008.757725      2.690236      0.066764
std       56.558588     11.323937     10.209462     13.967331      0.855985
min        0.214200    -15.600000    984.000000    -34.600000      0.000000
25%       12.000000      4.000000   1000.300000     -9.300000      0.000000
50%       45.000000     15.200000   1008.300000      3.500000      0.000000
75%       84.000000     23.700000   1017.000000     15.600000      0.000000
max      450.000000     41.600000   1038.100000     27.400000     41.900000

               WSPM
count  33277.000000
mean       1.361514
std        1.154667
min        0.000000
25%        0.600000
50%        1.100000
75%        1.800000
max       12.000000

*temporary insight*

Proses ini mengonversi nilai CO menjadi lebih realistis dengan membaginya dengan 10, sesuai asumsi bahwa alat pengukuran mungkin salah mendeteksi dalam kelipatan tersebut. Karena nilai CO yang realistis (nilai CO antara 0 hingga 50 mg/m³). Setelah konversi, dilakukan validasi lebih lanjut untuk memastikan bahwa semua nilai CO berada dalam rentang yang wajar. Jika ada nilai yang masih tidak realistis, digunakan metode imputasi dengan nilai median CO yang sudah bersih. Hal ini dilakukan karena kurangnya informasi dari dataset tesebut mengenai satuan ukur apa yang digunakan pada tiap-tiap kolomnya, sehingga dibuat asusmsi berdasarkan nilai satuan yang umum digunakan di publik, berdasarkan riset yang telah dilakukan. Dengan cara ini, dataset Guanyuan_df_cleaned sudah lebih akurat untuk analisis selanjutnya.

temporary insight

1. Menangani Missing Values:

   Kolom dengan missing values yang banyak seperti CO, PM2.5, NO2, SO2, O3, dan PM10 telah ditangani menggunakan metode imputasi median. Hal ini dilakukan agar tidak kehilangan terlalu banyak data penting, sambil tetap mengisi nilai yang realistis dan representatif.

   Untuk kolom dengan jumlah missing values yang relatif sedikit seperti TEMP, PRES, DEWP, RAIN, wd, dan WSPM, dilakukan dropping values. Ini dipilih karena menghapus sedikit data tidak akan mempengaruhi keseluruhan dataset secara signifikan.


2. Menangani Inaccurate Values:

   Seperti yang telah dilakukan pada dataset sebelumnya-sebelumnya, kolom CO, PM2.5, dan PM10 pada Gucheng_df_cleaned ini juga diperiksa untuk nilai yang tidak realistis.

   Nilai-nilai yang dianggap tidak realistis di luar rentang normal pada masing-masing kolom telah diubah atau difilter sesuai dengan rentang realistis, seperti CO dengan nilai realistis di rentang 0–50 mg/m³. PM2.5 dan PM10 ditetapkan pada rentang realistis berdasarkan pedoman kualitas udara.



Dengan semua missing values dan inaccurate values telah ditangani. Ini memastikan bahwa data siap digunakan untuk analisis lebih lanjut tanpa bias atau error yang berasal dari data yang hilang atau nilai yang tidak realistis. Dengan memilih metode imputasi untuk kolom dengan banyak missing values dan dropping untuk yang sedikit, diharapkan dapat mengoptimalkan jumlah data yang tetap relevan tanpa mengorbankan integritas dataset. Serta melakukan filter atau transformasi terhadap nilai yang tidak realistis pada kolom penting (seperti CO, PM2.5, dan PM10) memastikan hasil analisis yang lebih akurat dan representatif terhadap kondisi nyata.

#### Membersihkan Data Huairou_df

##### Menangani Missing Value pada Huairou_df

###### Missing value pada Huairou_df kolom CO

In [219]:
# Mengecek jumlah missing values di setiap kolom
missing_values_huairou = Huairou_df.isnull().sum()
print(missing_values)

# Mengecek persentase missing values di kolom CO
co_missing_percentage_huairou = Huairou_df['CO'].isnull().mean() * 100
print(f"Persentase missing values di kolom CO Huairou_df: {co_missing_percentage_huairou}%")

No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2        1234
CO         2012
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64
Persentase missing values di kolom CO Huairou_df: 4.055441478439425%

In [221]:
# Menggunakan nilai median dari kolom CO untuk mengisikan missing value colom CO
co_median_huairou = Huairou_df['CO'].median()
print(f"Median CO: {co_median_huairou}")

# Melakukan imputasi nilai median pada kolom CO yang mengandung missing value
Huairou_df_cleaned = Huairou_df.copy()  
Huairou_df_cleaned['CO'] = Huairou_df_cleaned['CO'].fillna(co_median_huairou)

# Cek apakah missing values saat ini pada data Huairou_df_cleaned
print(Huairou_df_cleaned.isna().sum())

Median CO: 800.0
No            0
year          0
month         0
day           0
hour          0
PM2.5       953
PM10        777
SO2         980
NO2        1639
CO            0
O3         1151
TEMP         51
PRES         53
DEWP         53
RAIN         55
wd          302
WSPM         49
station       0
dtype: int64

###### Missing value pada Huairou_df_cleaned kolom NO2

In [222]:
# Mengecek persentase missing values di kolom NO2
NO2_missing_percentage_huairou = Huairou_df_cleaned['NO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom NO2: {NO2_missing_percentage_huairou}%")

Persentase missing values di kolom NO2: 4.674309833447411%

In [223]:
# Menggunakan nilai median dari kolom NO2 untuk mengisikan missing value kolom NO2
NO2_median_huairou = Huairou_df_cleaned['NO2'].median()
print(f"Median NO2: {NO2_median_huairou}")

# Melakukan imputasi nilai median pada kolom NO2 yang mengandung missing value
Huairou_df_cleaned['NO2'] = Huairou_df_cleaned['NO2'].fillna(NO2_median_huairou)

# Cek apakah missing values saat ini pada data Huairou_df_cleaned
print(Huairou_df_cleaned.isna().sum())

Median NO2: 25.0
No            0
year          0
month         0
day           0
hour          0
PM2.5       953
PM10        777
SO2         980
NO2           0
CO            0
O3         1151
TEMP         51
PRES         53
DEWP         53
RAIN         55
wd          302
WSPM         49
station       0
dtype: int64

###### Missing value pada Huairou_df_cleaned kolom O3

In [224]:
# Mengecek persentase missing values di kolom O3
O3_missing_percentage_huairou = Huairou_df_cleaned['O3'].isnull().mean() * 100
print(f"Persentase missing values di kolom O3: {O3_missing_percentage_huairou}%")

Persentase missing values di kolom O3: 3.282569016655259%

In [225]:
# Menggunakan nilai median dari kolom O3 untuk mengisikan missing value kolom O3
O3_median_huairou = Huairou_df_cleaned['O3'].median()
print(f"Median O3: {O3_median_huairou}")

# Melakukan imputasi nilai median pada kolom O3 yang mengandung missing value
Huairou_df_cleaned['O3'] = Huairou_df_cleaned['O3'].fillna(O3_median_huairou)

# Cek apakah missing values saat ini pada data Huairou_df_cleaned
print("Missing value pada Huairou_df_cleaned saat ini :\n", Huairou_df_cleaned.isna().sum())

Median O3: 49.0
Missing value pada Huairou_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5      953
PM10       777
SO2        980
NO2          0
CO           0
O3           0
TEMP        51
PRES        53
DEWP        53
RAIN        55
wd         302
WSPM        49
station      0
dtype: int64

###### Missing value pada Huairou_df_cleaned kolom SO2

In [226]:
# Mengecek persentase missing values di kolom SO2
SO2_missing_percentage_huairou = Huairou_df_cleaned['SO2'].isnull().mean() * 100
print(f"Persentase missing values di kolom SO2: {SO2_missing_percentage_huairou}%")

Persentase missing values di kolom SO2: 2.7948893451973533%

In [227]:
# Menggunakan nilai median dari kolom SO2 untuk mengisikan missing value kolom SO2
SO2_median_huairou = Huairou_df_cleaned['SO2'].median()
print(f"Median SO2: {SO2_median_huairou}")

# Melakukan imputasi nilai median pada kolom SO2 yang mengandung missing value
Huairou_df_cleaned['SO2'] = Huairou_df_cleaned['SO2'].fillna(SO2_median_huairou)

# Cek apakah missing values saat ini pada data Huairou_df_cleaned
print("Missing value pada Huairou_df_cleaned saat ini :\n", Huairou_df_cleaned.isna().sum())

Median SO2: 4.0
Missing value pada Huairou_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5      953
PM10       777
SO2          0
NO2          0
CO           0
O3           0
TEMP        51
PRES        53
DEWP        53
RAIN        55
wd         302
WSPM        49
station      0
dtype: int64

###### Missing value pada Huairou_df_cleaned kolom PM.25

In [228]:
# Mengecek persentase missing values di kolom PM2.5
PM25_missing_percentage_huairou = Huairou_df_cleaned['PM2.5'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM2.5: {PM25_missing_percentage_huairou}%")

Persentase missing values di kolom PM2.5: 2.717887291809263%

In [229]:
# Menggunakan nilai median dari kolom PM2.5 untuk mengisikan missing value kolom PM2.5
PM25_median_huairou = Huairou_df_cleaned['PM2.5'].median()
print(f"Median PM2.5: {PM25_median_huairou}")

# Melakukan imputasi nilai median pada kolom PM2.5 yang mengandung missing value
Huairou_df_cleaned['PM2.5'] = Huairou_df_cleaned['PM2.5'].fillna(PM25_median_huairou)

# Cek apakah missing values saat ini pada data Huairou_df_cleaned
print("Missing value pada Huairou_df_cleaned saat ini :\n", Huairou_df_cleaned.isna().sum())

Median PM2.5: 47.0
Missing value pada Huairou_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10       777
SO2          0
NO2          0
CO           0
O3           0
TEMP        51
PRES        53
DEWP        53
RAIN        55
wd         302
WSPM        49
station      0
dtype: int64

###### Missing value pada Huairou_df_cleaned kolom PM10

In [230]:
# Mengecek persentase missing values di kolom PM10
PM10_missing_percentage_huairou = Huairou_df_cleaned['PM10'].isnull().mean() * 100
print(f"Persentase missing values di kolom PM10: {PM10_missing_percentage_huairou}%")

Persentase missing values di kolom PM10: 2.2159479808350446%

In [231]:
# Menggunakan nilai median dari kolom PM10 untuk mengisikan missing value kolom PM10
PM10_median_huairou = Huairou_df_cleaned['PM10'].median()
print(f"Median PM10: {PM10_median_huairou}")

# Melakukan imputasi nilai median pada kolom PM10 yang mengandung missing value
Huairou_df_cleaned['PM10'] = Huairou_df_cleaned['PM10'].fillna(PM10_median_huairou)

# Cek apakah missing values saat ini pada data Huairou_df_cleaned
print("Missing value pada Huairou_df_cleaned saat ini :\n", Huairou_df_cleaned.isna().sum())

Median PM10: 69.0
Missing value pada Huairou_df_cleaned saat ini :
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP        51
PRES        53
DEWP        53
RAIN        55
wd         302
WSPM        49
station      0
dtype: int64

###### Missing values pada data Huairou_df_cleaned kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM

In [232]:
# Menampilkan jumlah missing values saat ini pada data Huairou_df_cleaned
print("Jumlah missing values saat ini:")
print(Huairou_df_cleaned.isna().sum())

Jumlah missing values saat ini:
No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP        51
PRES        53
DEWP        53
RAIN        55
wd         302
WSPM        49
station      0
dtype: int64

In [233]:
# Menghapus baris yang memiliki missing values pada kolom TEMP, PRES, DEWP, RAIN, wd, dan WSPM
Huairou_df_cleaned.dropna(subset=['TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM'], inplace=True)

# Verifikasi penghapusan missing values
print("Jumlah missing values sekarang:")
print(Huairou_df_cleaned.isna().sum())

Jumlah missing values sekarang:
No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

*temporary insight*

Dilakukan periksa ulang jumlah missing values setelah imputasi pada kolom yang tersisa. Kemudian melakukan dropping missing values dengan menggunakan metode `dropna()` untuk menghapus baris yang memiliki missing values pada kolom-kolom tersebut. Dan juga telah dilakukan verifikasi hasil dropping missing values sudah dihilangkan dengan memeriksa ulang dataset. Sehingga saat ini data Huairou_df_cleaned sudah bersih dari missing values

##### Menangani Inaccurate Value pada Huairou_df_cleaned

###### Inaccurate value data Huairou_df_cleaned kolom PM2.5

In [235]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM2.5
max_pm25_row_huairou = Huairou_df_cleaned[Huairou_df_cleaned['PM2.5'] == Huairou_df_cleaned['PM2.5'].max()]
print(max_pm25_row_huairou)

          No  year  month  day  hour  PM2.5  PM10    SO2   NO2      CO   O3  \
17282  17283  2015      2   19     2  762.0  69.0  181.0  46.0  2400.0  2.0

       TEMP    PRES  DEWP  RAIN  wd  WSPM  station
17282  -2.0  1019.0 -10.8   0.0  NW   0.9  Huairou

In [236]:
# Menentukan batas maksimum untuk PM2.5
batas_maksimum_pm25 = 500

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_huairou = Huairou_df_cleaned[Huairou_df_cleaned['PM2.5'] > batas_maksimum_pm25].shape[0]

# Menampilkan informasi
print(f"Jumlah baris yang dihapus pada Huairou_df_cleaned: {jumlah_baris_hilang_huairou}")

Jumlah baris yang dihapus pada Huairou_df_cleaned: 30

In [237]:
# Menghapus baris yang memiliki nilai PM2.5 lebih dari batas maksimum
Huairou_df_cleaned = Huairou_df_cleaned[Huairou_df_cleaned['PM2.5'] <= batas_maksimum_pm25]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_huairou = Huairou_df_cleaned.shape[0]

# Menampilkan informasi
print(f"Jumlah baris tersisa setelah penghapusan pada Huairou_df_cleaned: {jumlah_baris_tersisa_huairou}")

Jumlah baris tersisa setelah penghapusan pada Huairou_df_cleaned: 34724

*temporary insight*

Dilakukan penetapan batas maksimum untuk PM2.5, dengan nilai 500 seperti yang telah dilakukan pada dataset sebelumnya juga. Atas dasar karena dalam banyak studi, nilai PM2.5 yang lebih dari 500 bisa dianggap tidak wajar. kemudian menghitung jumlah baris data yang akan dihapus pada Dongsi_df_cleaned. Dengan menggunakan kondisi untuk menghitung jumlah baris yang memiliki nilai PM2.5 lebih dari batas maksimum. Lalu menghapus baris dan memeriksa ukuran dataset saat ini. Dalam hal ini dapat dilihat, bahwa jumlah baris data yang dihapus atau memiliki nilai PM2.5 lebih dari 500 terhitung sebanyak 30 baris data. Dan setelah dilakukan dropping values, tersisa 34724 baris data pada Dongsi_df_cleaned.

###### Inaccurate value pada Huairou_df_cleaned kolom PM10

In [238]:
# Mengambil baris data yang mengandung nilai maksimum pada kolom PM10
max_pm10_row_huairou = Huairou_df_cleaned[Huairou_df_cleaned['PM10'] == Huairou_df_cleaned['PM10'].max()]
print(max_pm10_row_huairou)

          No  year  month  day  hour  PM2.5   PM10  SO2  NO2     CO    O3  \
15359  15360  2014     11   30    23   41.0  993.0  2.0  2.0  200.0  63.0

       TEMP    PRES  DEWP  RAIN  wd  WSPM  station
15359  -4.1  1012.0 -27.0   0.0  NW   5.8  Huairou

In [239]:
# Menentukan batas maksimum untuk PM10
batas_maksimum_pm10 = 300.0 

# Menghitung jumlah baris yang akan dihapus
jumlah_baris_hilang_pm10_huairou = Huairou_df_cleaned[Huairou_df_cleaned['PM10'] > batas_maksimum_pm10].shape[0]
print(f"Jumlah baris yang akan dihapus dari PM10: {jumlah_baris_hilang_pm10_huairou}")

Jumlah baris yang akan dihapus dari PM10: 856

In [240]:
# Menghapus baris yang memiliki nilai PM10 lebih dari batas maksimum
Huairou_df_cleaned = Huairou_df_cleaned[Huairou_df_cleaned['PM10'] <= batas_maksimum_pm10]

# Memeriksa jumlah baris dan kolom setelah proses pembersihan
jumlah_baris_tersisa_pm10_huairou = Huairou_df_cleaned.shape[0]

print(f"Jumlah baris tersisa setelah penghapusan PM10: {jumlah_baris_tersisa_pm10_huairou}")

Jumlah baris tersisa setelah penghapusan PM10: 33868

*temporary value*

Dilakukan juga pembersihan inaccurate value pada data Huairou_df_cleaned dengan melakukan dropping. atau menghapus (drop) data pada kolom PM10 yang melebihi ambang batas yang telah ditentukan. Yakni nilai yang ditentukan tidak wajar, denagn pemilihan batas maksimum 300.0 adalah berdasarkan pemahaman tentang kualitas udara dan standar yang umum digunakan. Nilai ini didasarkan pada standar kualitas udara, di mana nilai PM10 di atas 300.0 bisa dianggap sebagai tidak wajar dan mungkin menunjukkan kesalahan pengukuran atau data yang tidak konsisten. Karena berdasarkan analisah yang telah dilakuan, batas maksimum yang wajar untuk PM10 bisa disarankan antara 150.0 hingga 300.0 untuk kualitas udara yang baik, dan nilai di atas 300.0 bisa dianggap sebagai data tidak wajar dalam konteks tertentu. Setelah penghapusan, diberikan informasi yang jelas tentang berapa banyak data yang hilang dan berapa banyak data yang tersisa, memastikan bahwa analisis selanjutnya didasarkan pada data yang valid.

###### Inaccurate value pada Huairou_df_cleaned kolom CO

In [241]:
# Identifikasi nilai CO yang tidak realistis (di atas 50 mg/m³ dan di bawah 0 mg/m³)
unrealistic_co_huairou = Huairou_df_cleaned[(Huairou_df_cleaned['CO'] > 50) | (Huairou_df_cleaned['CO'] < 0)]
print(unrealistic_co_huairou)

          No  year  month  day  hour  PM2.5  PM10  SO2   NO2      CO    O3  \
0          1  2013      3    1     0    7.0   7.0  3.0   2.0   100.0  91.0
1          2  2013      3    1     1    4.0   4.0  3.0  25.0   100.0  92.0
2          3  2013      3    1     2    4.0   4.0  4.0  25.0   100.0  91.0
3          4  2013      3    1     3    3.0   3.0  3.0   2.0   800.0  49.0
4          5  2013      3    1     4    3.0   3.0  7.0  25.0   300.0  86.0
...      ...   ...    ...  ...   ...    ...   ...  ...   ...     ...   ...
35059  35060  2017      2   28    19   16.0  28.0  2.0  19.0   300.0  95.0
35060  35061  2017      2   28    20   21.0  34.0  4.0  24.0   500.0  80.0
35061  35062  2017      2   28    21   17.0  33.0  2.0  39.0   900.0  60.0
35062  35063  2017      2   28    22   11.0  29.0  3.0  32.0  1400.0  69.0
35063  35064  2017      2   28    23   11.0  20.0  2.0  27.0   400.0  77.0

       TEMP    PRES  DEWP  RAIN   wd  WSPM  station
0      -2.3  1020.3 -20.7   0.0  WNW   3.1  Huairou
1      -2.7  1020.8 -20.5   0.0  NNW   1.5  Huairou
2      -3.2  1020.6 -21.4   0.0   NW   1.8  Huairou
3      -3.3  1021.3 -23.7   0.0  NNW   2.4  Huairou
4      -4.1  1022.1 -22.7   0.0  NNW   2.2  Huairou
...     ...     ...   ...   ...  ...   ...      ...
35059   9.9  1008.6 -14.1   0.0  WNW   1.8  Huairou
35060   9.5  1008.9 -14.4   0.0  SSW   1.3  Huairou
35061   8.4  1009.3 -14.6   0.0   SE   1.5  Huairou
35062   8.3  1009.5 -14.7   0.0  ENE   3.2  Huairou
35063   6.7  1009.3 -13.6   0.0   NE   1.9  Huairou

[33868 rows x 18 columns]

In [242]:
# Mengonversi nilai CO dari ratusan ke puluhan (mg/m³)
Huairou_df_cleaned['CO'] = Huairou_df_cleaned['CO'] / 10

# Memvalidasi hasil konversi
Huairou_df_cleaned['CO'].describe()

count    33868.000000
mean        95.194287
std         72.839920
min         10.000000
25%         40.000000
50%         80.000000
75%        120.000000
max       1000.000000
Name: CO, dtype: float64

In [243]:
# Cek data CO yang masih tidak realistis (lebih dari 50 mg/m³ atau kurang dari 0 mg/m³).
unrealistic_co_after_conversion_huairou= Huairou_df_cleaned[(Huairou_df_cleaned['CO'] > 50) | (Huairou_df_cleaned['CO'] < 0)]
print(unrealistic_co_after_conversion_huairou)

          No  year  month  day  hour  PM2.5  PM10      SO2      NO2     CO  \
3          4  2013      3    1     3    3.0   3.0   3.0000   2.0000   80.0
8          9  2013      3    1     8    3.0  13.0  34.0000  38.0000   80.0
9         10  2013      3    1     9   17.0  36.0  50.0000  28.0000   70.0
29        30  2013      3    2     5   15.0  18.0  42.2688  26.4837   80.0
32        33  2013      3    2     8   14.0  11.0  61.0000  44.0000   60.0
...      ...   ...    ...  ...   ...    ...   ...      ...      ...    ...
35048  35049  2017      2   28     8   29.0  66.0   4.0000  70.0000  190.0
35049  35050  2017      2   28     9   28.0  61.0   6.0000  61.0000   90.0
35050  35051  2017      2   28    10   30.0  76.0   6.0000  55.0000   60.0
35061  35062  2017      2   28    21   17.0  33.0   2.0000  39.0000   90.0
35062  35063  2017      2   28    22   11.0  29.0   3.0000  32.0000  140.0

            O3  TEMP    PRES  DEWP  RAIN   wd  WSPM  station
3      49.0000  -3.3  1021.3 -23.7   0.0  NNW   2.4  Huairou
8      45.0000  -1.6  1025.2 -23.5   0.0  NNE   4.6  Huairou
9      60.0000  -1.1  1025.4 -23.8   0.0   NE   4.9  Huairou
29     56.1204  -4.2  1026.9 -16.4   0.0  WNW   1.4  Huairou
32     28.0000  -2.6  1026.6 -16.7   0.0  ENE   0.8  Huairou
...        ...   ...     ...   ...   ...  ...   ...      ...
35048   2.0000   1.1  1011.6  -7.2   0.0  WNW   1.0  Huairou
35049  24.0000   7.7  1011.9  -7.6   0.0   SE   1.7  Huairou
35050  35.0000   9.9  1011.5  -8.7   0.0  ESE   2.2  Huairou
35061  60.0000   8.4  1009.3 -14.6   0.0   SE   1.5  Huairou
35062  69.0000   8.3  1009.5 -14.7   0.0  ENE   3.2  Huairou

[22198 rows x 18 columns]

In [244]:
# Imputasi nilai CO yang masih tidak realistis dengan nilai median
median_co_after_conversion_huairou = Huairou_df_cleaned[(Huairou_df_cleaned['CO'] >= 0) & (Huairou_df_cleaned['CO'] <= 50)]['CO'].median()
Huairou_df_cleaned['CO'] = Huairou_df_cleaned['CO'].apply(lambda x: median_co_after_conversion_huairou if x > 50 or x < 0 else x)

# Cek deskripsi dataset yang sudah dilakukan proses konversi dan imputasi
print(Huairou_df_cleaned.describe())

                 No          year         month           day          hour  \
count  33868.000000  33868.000000  33868.000000  33868.000000  33868.000000
mean   17418.057429   2014.648577      6.535343     15.700012     11.454972
std    10093.834803      1.175147      3.420590      8.792672      6.901708
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8688.000000   2014.000000      4.000000      8.000000      5.000000
50%    17393.500000   2015.000000      7.000000     16.000000     11.000000
75%    26150.250000   2016.000000      9.000000     23.000000     17.000000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  33868.000000  33868.000000  33868.000000  33868.000000  33868.000000
mean      63.384020     83.333973     11.440624     30.818237     31.427601
std       59.366344     66.773624     17.652763     23.912216      7.166726
min        2.000000      2.000000      0.285600      1.026500     10.000000
25%       17.000000     28.000000      2.000000     13.000000     30.000000
50%       47.000000     68.000000      4.000000     25.000000     30.000000
75%       90.000000    123.000000     13.000000     43.000000     30.000000
max      384.000000    300.000000    254.000000    199.000000     50.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  33868.000000  33868.000000  33868.000000  33868.000000  33868.000000
mean      60.184155     12.612279   1007.544134      2.276769      0.067279
std       53.750531     11.775435     10.072919     14.167827      0.816271
min        0.214200    -19.900000    982.800000    -34.900000      0.000000
25%       20.000000      2.300000    999.200000     -9.900000      0.000000
50%       49.000000     13.800000   1007.200000      3.000000      0.000000
75%       82.000000     22.500000   1015.500000     15.400000      0.000000
max      444.000000     40.300000   1036.500000     29.100000     45.900000

               WSPM
count  33868.000000
mean       1.665687
std        1.192805
min        0.000000
25%        0.900000
50%        1.300000
75%        2.000000
max       11.800000

*temporary insight*

Proses ini mengonversi nilai CO menjadi lebih realistis dengan membaginya dengan 10, sesuai asumsi bahwa alat pengukuran mungkin salah mendeteksi dalam kelipatan tersebut. Karena nilai CO yang realistis (nilai CO antara 0 hingga 50 mg/m³). Setelah konversi, dilakukan validasi lebih lanjut untuk memastikan bahwa semua nilai CO berada dalam rentang yang wajar. Jika ada nilai yang masih tidak realistis, digunakan metode imputasi dengan nilai median CO yang sudah bersih. Hal ini dilakukan karena kurangnya informasi dari dataset tesebut mengenai satuan ukur apa yang digunakan pada tiap-tiap kolomnya, sehingga dibuat asusmsi berdasarkan nilai satuan yang umum digunakan di publik, berdasarkan riset yang telah dilakukan. Dengan cara ini, dataset Huairou_df_cleaned sudah lebih akurat untuk analisis selanjutnya.

temporary insight

1. Menangani Missing Values:

   Kolom dengan missing values yang banyak seperti CO, PM2.5, NO2, SO2, O3, dan PM10 telah ditangani menggunakan metode imputasi median. Hal ini dilakukan agar tidak kehilangan terlalu banyak data penting, sambil tetap mengisi nilai yang realistis dan representatif.

   Untuk kolom dengan jumlah missing values yang relatif sedikit seperti TEMP, PRES, DEWP, RAIN, wd, dan WSPM, dilakukan dropping values. Ini dipilih karena menghapus sedikit data tidak akan mempengaruhi keseluruhan dataset secara signifikan.


2. Menangani Inaccurate Values:

   Seperti yang telah dilakukan pada dataset sebelumnya-sebelumnya, kolom CO, PM2.5, dan PM10 pada Huairou_df_cleaned ini juga diperiksa untuk nilai yang tidak realistis.

   Nilai-nilai yang dianggap tidak realistis di luar rentang normal pada masing-masing kolom telah diubah atau difilter sesuai dengan rentang realistis, seperti CO dengan nilai realistis di rentang 0–50 mg/m³. PM2.5 dan PM10 ditetapkan pada rentang realistis berdasarkan pedoman kualitas udara.



Dengan semua missing values dan inaccurate values telah ditangani. Ini memastikan bahwa data siap digunakan untuk analisis lebih lanjut tanpa bias atau error yang berasal dari data yang hilang atau nilai yang tidak realistis. Dengan memilih metode imputasi untuk kolom dengan banyak missing values dan dropping untuk yang sedikit, diharapkan dapat mengoptimalkan jumlah data yang tetap relevan tanpa mengorbankan integritas dataset. Serta melakukan filter atau transformasi terhadap nilai yang tidak realistis pada kolom penting (seperti CO, PM2.5, dan PM10) memastikan hasil analisis yang lebih akurat dan representatif terhadap kondisi nyata.

#### Membersihkan Data Nongzhanguan_df

##### Menangani Missing Value pada Nongzhanguan_df

##### Menangani Inaccurate Value pada Nongzhanguan_df_cleaned

**Insight:**
- xxx
- xxx

## Exploratory Data Analysis (EDA)

### Explore ...

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2